﻿
@using PagedList
@using PagedList.Mvc

@model PagedList<eStream.Models.SendSmsHisModel>

@if (Model != null)
{
    int stt = Model.PageSize * (Model.PageNumber - 1);
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th style="width: 30px">STT</th>
                <th>Thời gian gửi</th>
                <th>Họ tên</th>
                <th>Số điện thoại</th>
                <th>Kết quả phản hồi</th>

            </tr>
            @foreach (var m in Model)
                {
                    stt++;
                <tr>
                    <td>@stt</td>

                    @if (m.SendTime != null)
                    {
                        <td>
                            @m.SendTime.Value.ToString("dd/MM/yyyy HH:mm:ss")
                        </td>
                    }
                    <td>@m.Name</td>
                    <td>@m.MsIsdn</td>
                    <td>@m.SendResponse</td>
                </tr>
            }
        </tbody>
    </table>

}
<div class="col-md-12">
    <div class="pagination">

        @Html.PagedListPager(Model, page => Url.Action("SearchSmsHis",
   new
   {
       page,
       pageSize = Model.PageSize,
       ViewBag.SearchPhoneNumber, // Request.QueryString["SearchPhoneNumber"]
       ViewBag.SearchName,
       ViewBag.UnitID
   }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "divListSmsHis" }))


    </div>

</div>
