﻿@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@using Model;
@using eStream.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserInfoBO user = SessionManager.GetUserInfoBO();
    string unitName = string.Empty;
    int unitID = 0;
    if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
    {
        List<UnitModel> listDistrict = ViewData["listDistrict"] as List<UnitModel>;
        if (listDistrict != null && listDistrict.Count > 1)
        {
            unitName = listDistrict[1].UnitName;
            unitID = listDistrict[1].UnitID;
        }
    }
    else
    {
        List<UnitModel> listCommune = ViewData["listCommune"] as List<UnitModel>;
        if (listCommune != null && listCommune.Count > 1)
        {
            unitName = listCommune[1].UnitName;
            unitID = listCommune[1].UnitID;
        }
    }

    string classSearch = "col-lg-9";
    if (user.UnitLevel == GlobalConstant.UNIT_TYPE_VILLAGE)
    {
        unitID = user.UnitID.Value;
        classSearch = "col-lg-12";
    }
}


<div class="row">
    @if (user.UnitLevel != GlobalConstant.UNIT_TYPE_VILLAGE)
    {
        <div class="col-lg-3">
            <div class="row">
                @if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
                {
                    <div class="col-md-12" id="divProvince">
                        @Html.Partial("../User/_Unit", ViewData["listDistrict"])
                    </div>
                }
                <div class="col-md-12" id="divDistrict">
                    @Html.Partial("../User/_Unit", ViewData["listCommune"])
                </div>
            </div>
        </div>
    }
    <div class="@classSearch">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                @using (Ajax.BeginForm("SearchSmsHis", "SendSmsHis", new AjaxOptions
                {
                    HttpMethod = "GET",

                    UpdateTargetId = "divListSmsHis"
                }, new { id = "frmSearch", @class = "form-horizontal" }))
                {
                    <input type="hidden" name="UnitID" id="UnitID" value="@unitID" />
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">Số điện thoại</span>
                                    <input id="SearchPhoneNumber" name="SearchPhoneNumber" class="form-control" placeholder="Số điện thoại" type="text" />
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">Họ tên</span>
                                    <input id="SearchName" name="SearchName" class="form-control" placeholder="Họ tên người dùng" type="text" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-primary" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                            </div>
                        </div>
                }
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12" id="divListSmsHis">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        search();
    });

    function search() {
        $("#frmSearch").submit();
    }

    function choiceUnit(item, unitName, isLoadChild) {
        $('#divTitle').html("Danh sách thiết bị " + unitName);
        var id = $(item).attr('val');
        setUnitAndSearch(item);
        if (isLoadChild != undefined && isLoadChild != null && isLoadChild == 1) {
            if (id > 0) {
                // Load lai cay don vi
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadUnit", "User")',
                    data: { "UnitID": id },
                    success: function (data) {
                        $("#divDistrict").html(data);
                    },
                    error: function (xhr) {
                        CommonJS.alert(xhr.responseText, false);
                    }
                });
            } else {
                $("#divDistrict").html("");
            }
        }
    }

    function setUnitAndSearch(item) {
        var id = $(item).attr('val');
        $("#frmSearch #UnitID").val(id);
        // Thiet lap active
        setActive(item);
        // Tim kiem thiet bi
        search();
    }

    function setActive(item) {
        var li = $(item).parent();
        $(item).removeClass("active");
        li.find("a").each(function () {
            $(this).removeClass("active");
            var i = $(this).find("i:first");
            var iClass = i.attr('class');
            if (iClass != undefined && iClass != '') {
                i.removeClass(iClass);
                iClass = iClass.replace(/\-o/g, "");
                i.addClass(iClass);
            }
        });
        $(item).addClass("active");
        var iChild = $(item).find("i:first");
        var iChildClass = iChild.attr('class');
        if (iChildClass != undefined && iChildClass != '') {
            if (!iChildClass.endsWith("-o")) {
                iChild.removeClass(iChildClass);
                iChildClass += "-o";
                iChild.addClass(iChildClass);
            }
        }
    }
</script>
