﻿@using eStream.Models
@using eStream.Common.CommonClass;
@model DeviceModel
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Thông tin thiết bị</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Tên thiết bị:</label>
                            <div class="col-md-7">@Model.DeviceName</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Mã thiết bị:</label>
                            <div class="col-md-7">@Model.SDeviceCode</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Xã/Phường:</label>
                            <div class="col-md-7">@Model.CommuneName</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Huyện/Thành phố:</label>
                            <div class="col-md-7">@Model.DistrictName</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Người quản lý:</label>
                            <div class="col-md-7">@Model.ManagerName</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">SĐT người quản lý:</label>
                            <div class="col-md-7"><a href="tel:@Model.ManagerPhone">@Model.ManagerPhone</a></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Số thuê bao:</label>
                            <div class="col-md-7">@Model.SimNumber</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Trạng thái:</label>
                            <div class="col-md-7">
                                @if (Model.Status == GlobalConstant.DEVICE_STATUS_READY)
                                {
                                    <span class="label label-primary">Sẵn sàng</span>
                                }
                                else if (Model.Status == GlobalConstant.DEVICE_STATUS_BEAK)
                                {
                                    <span class="label label-danger">Hỏng</span>
                                }
                                else if (Model.Status == GlobalConstant.DEVICE_STATUS_GUARANT)
                                {
                                    <span class="label label-warning">Bảo hành</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Âm lượng:</label>
                            <div class="col-md-7">@Model.Volume%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Chất lượng âm thanh:</label>
                            <div class="col-md-7">@Model.Bitrate kbps</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Thời gian đồng bộ:</label>
                            <div class="col-md-7">@Model.SyncTime (s/lần)</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Gửi tin nhắn:</label>
                            <div class="col-md-7">
                                @if (Model.IsSMS)
                                {
                                    <span class="label label-primary">Có gửi</span>
                                }
                                else
                                {
                                    <span class="label label-warning">Không gửi</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Dung lượng bộ nhớ:</label>
                            <div class="col-md-7">@Model.DeviceExt.RamTotal</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Bộ nhớ đã sử dụng:</label>
                            <div class="col-md-7">@Model.DeviceExt.RamUsage</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Mạng:</label>
                            <div class="col-md-7">
                                <div class="@Model.DeviceExt.Display.ClassDis"></div>@Model.DeviceExt.Display.TextDis
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Tốc độ CPU:</label>
                            <div class="col-md-7">@Model.DeviceExt.CpuFreq</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Nhiệt độ CPU:</label>
                            <div class="col-md-7">@Model.DeviceExt.CpuTemp</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Sử dụng CPU:</label>
                            <div class="col-md-7">@Model.DeviceExt.CpuUsage</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Serial SIM:</label>
                            <div class="col-md-7">@Model.SimSer</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Phiên bản firmware:</label>
                            <div class="col-md-7">@Model.Version</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
        </div>
    </div>
</div>