﻿@using eStream.Common.CommonClass;
@using eStream.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    string sms = ViewData["sms"] as string;
}
@if (!string.IsNullOrWhiteSpace(sms))
{
    <textarea style="height: 450px" readonly class="trans">@sms</textarea>
}
else
{
    <div style="color:red; margin-left:10px;">
        Không có dữ liệu
    </div>
}
