﻿@using eStream.Common.CommonClass;
@using eStream.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    /**/
    string deviceName = ViewData["deviceName"] as string;
    int? deviceID = ViewData["deviceID"] as int?;
    var lastSmsID = (ViewData["lastSmsID"] as long?).GetValueOrDefault();
    List<SelectListItem> types = GlobalCommon.ProMessages(deviceID.Value);
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Quản lý tin nhắn SMS của thiết bị @deviceName</h4>
        </div>
        <div class="modal-body">
            <input type="hidden" id="smsDeviceID" value="@deviceID" />
            <input type="hidden" id="lastSmsID" value="@lastSmsID" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group">
                            @Html.DropDownList("ProMessageID", types, new { @class = "form-control chosen-select", style = "width: 100%" })
                            <span class="input-group-btn">
                                <button class="btn btn-primary" id="btnSendSms" type="button" onclick="SendSms(@deviceID)"> <i class="fa fa-paper-plane"></i> Gửi SMS</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="divDetailSms">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        searchSms();
        $("select").chosen({ width: "100%" });
    });
</script>