﻿@using eStream.Common.CommonClass;
@using eStream.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    /**/
    string deviceName = ViewData["deviceName"] as string;
    int? deviceID = ViewData["deviceID"] as int?;
    List<SelectListItem> listLog = GlobalCommon.Logs();
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Danh sách log của thiết bị @deviceName</h4>
        </div>
        <div class="modal-header">
            <input type="hidden" id="logDeviceID" value="@deviceID" />
            <div class="form-group">
                <div class="col-md-4">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" id="FromDate" name="FromDate" class="form-control" placeholder="Từ ngày" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" id="ToDate" name="ToDate" class="form-control" placeholder="Tới ngày" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        @Html.DropDownList("LogType", listLog, new { @class = "form-control chosen-select", style = "width: 100%" })
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="searchLog()"> <i class="fa fa-search"></i> Tìm kiếm</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12" id="divDetailLog">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#FromDate").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayBtn: true,
            todayHighlight: true
        });

        $("#ToDate").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayBtn: true,
            todayHighlight: true
        });
        $("select").chosen({ width: "100%" });
    });    
</script>