﻿@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@using eStream.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserInfoBO user = SessionManager.GetUserInfoBO();
    string unitName = string.Empty;
    int unitID = 0;
    if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
    {
        List<UnitModel> listDistrict = ViewData["listDistrict"] as List<UnitModel>;
        if (listDistrict != null && listDistrict.Count > 1)
        {
            unitName = listDistrict[1].UnitName;
            unitID = listDistrict[1].UnitID;
        }
    }
    else
    {
        List<UnitModel> listCommune = ViewData["listCommune"] as List<UnitModel>;
        if (listCommune != null && listCommune.Count > 1)
        {
            unitName = listCommune[1].UnitName;
            unitID = listCommune[1].UnitID;
        }
    }
    string classSearch = "col-lg-9";
    if (user.UnitLevel == GlobalConstant.UNIT_TYPE_VILLAGE)
    {
        unitID = user.UnitID.Value;
        classSearch = "col-lg-12";
    }
    int timeRefresh = 1000 * (ViewData["timeRefresh"] as int?).GetValueOrDefault();
}
<div class="row">
    @if (user.UnitLevel != GlobalConstant.UNIT_TYPE_VILLAGE)
    {
        <div class="col-lg-3">
            <div class="row">
                @if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
                {
                    <div class="col-md-12" id="divProvince">
                        @Html.Partial("../User/_Unit", ViewData["listDistrict"])
                    </div>
                }
                <div class="col-md-12" id="divDistrict">
                    @Html.Partial("../User/_Unit", ViewData["listCommune"])
                </div>
            </div>
        </div>
    }
    <div class="@classSearch">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                @if (!string.IsNullOrWhiteSpace(unitName))
                {
                    <h5 id="divTitle">Danh sách thiết bị @unitName</h5>
                }
                else
                {
                    <h5 id="divTitle">Danh sách thiết bị</h5>
                }
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Ajax.BeginForm("SearchDevice", "Manager", new AjaxOptions
                        {
                            HttpMethod = "post",
                            UpdateTargetId = "divListDevice"
                        }, new { id = "frmSearch" }))
                        {
                            <input type="hidden" name="UnitID" id="UnitID" value="@unitID" />
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.Label("Tên, mã thiết bị:", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        <input id="SearchDeviceName" name="SearchDeviceName" class="form-control" placeholder="Tên thiết bị, mã thiết bị" type="text" />
                                    </div>
                                    <div class="col-md-7">
                                        <label class="control-label col-md-2">T.T phát</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("Status", GlobalCommon.DeviceStatus(), new { @class = "form-control chosen-select", style = "width: 100%" })
                                        </div>
                                        <label class="control-label col-md-2">Kết nối</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("Connect", GlobalCommon.Connects(), new { @class = "form-control chosen-select", style = "width: 100%" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 0px !important">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-primary" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12" id="btnGroupDiv">
                        <div class="btn-group" role="group">
                            <button class="btn btn-default btn-sm" onclick="checkAll(this, true)"><i id="iAll" class="fa fa-square-o"></i></button>
                        </div>
                        <div class="btn-group">
                            <div class="btn-group" role="group">
                                <button class="btn btn-success btn-sm" onclick="restartDevice()" title="Khởi động lại"><i class="fa fa-undo"></i> Khởi động lại</button>
                            </div>
                            @if (user.IsSupperAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE)
                            {
                                <div class="btn-group" role="group">
                                    <button class="btn btn-warning btn-sm" onclick="osDevice()" title="Cập nhật OS"><i class="fa fa-download"></i> Cập nhật OS</button>
                                </div>
                            }
                            <div class="btn-group" role="group">
                                <button class="btn btn-danger btn-sm" onclick="stopStream()" title="Yêu cầu dừng phát"><i class="fa fa-stop"></i> Tắt</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary btn-sm" onclick="startStream()" title="Yêu cầu phát"><i class="fa fa-play"></i> Bật</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button class="btn btn-warning btn-sm" data-toggle="modal" onclick="OpenPlay()"><i class="fa fa-headphones"></i> Nghe trực tiếp</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary btn-sm" id="btnChangeVolumeSliderAll">
                                    <i class="fa fa-volume-up" style="font-size:14px"></i> Âm lượng
                                    <script>
                                        $(document).ready(function () {
                                            $("#btnChangeVolumeSliderAll").popover({
                                                html: true,
                                                animation: false,
                                                content: '<input type="range" class="slider" style="background-image:-webkit-gradient(linear, left top, right top, color-stop(1, #1c84c6), color-stop(1, #C5C5C5))" id="rangeAll" value="100" onchange="setVolumeAll(this)" oninput="showValAll(this)" slider_device="All" data-orientation="vertical" min="0" max="100" step="1" />',
                                                placement: "top"
                                            });
                                        });
                                    </script>
                                </button>
                            </div>
                            @if (user.IsSupperAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE)
                            {
                                <div class="btn-group" role="group">
                                    <button class="btn btn-primary btn-sm" onclick="sendVersion()" title="Yêu cầu gửi phiên bản"><i class="fa fa-send-o"></i> Gửi phiên bản</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="divListDevice">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="modal-sms" class="modal fade" role="dialog">
</div>
<div id="modal-map" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="mapModalTitle"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-log" class="modal fade" role="dialog">
</div>
<div id="modal-info" class="modal fade" role="dialog">
</div>
<div id="modal-listen" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
</div>
<style type="text/css">
    #btnGroupDiv .popover-content {
        width: 160px !important;
    }

    #map {
        height: 500px;
        width: 100%;
    }

    .trans {
        width: 100%;
        color: #676a6c;
        background: transparent;
        border: none;
        outline: none;
        resize: none;
    }

    .disabled-icon {
        color: #d2d2d2;
    }

    .disabled-icon :hover {
        color: #d2d2d2;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqG4dTLbByiAPzvAR4zvMfA_Jmc9nAJd8&callback=initMap&libraries=&v=weekly"
        async></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("select").chosen({ width: "100%" });
        var unitLevel = @user.UnitLevel;
        if(unitLevel == '@GlobalConstant.UNIT_TYPE_PROVINCE'){
            $("#UnitID").change(function () {
                searchDevice();
            });
        }
        setInterval(function () {
            refreshStatus();
        }, @timeRefresh);
        searchDevice();
        $(document).on('hide.bs.modal', '#modal-sms', function () {
            if (smsInterval) {
                clearInterval(smsInterval);
            }
        });
        $(document).on('hide.bs.modal', '#modal-info', function () {
            if (infoInterval) {
                clearInterval(infoInterval);
            }
        });
    });

    var smsInterval;
    var infoInterval;
    var map;
    var geocoder;
    var infowindow;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 8,
            center: { lat: 40.731, lng: -73.997 },
        });
        geocoder = new google.maps.Geocoder();
        infowindow = new google.maps.InfoWindow();
    }

    function geocodeLatLng(lat, lng) {
        const latlng = {
            lat: parseFloat(lat),
            lng: parseFloat(lng),
        };
        geocoder.geocode({ location: latlng }, (results, status) => {
            if (status === "OK") {
                if (results[0]) {
                    map.setZoom(11);
                    const marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                    });
                    infowindow.setContent(results[0].formatted_address);
                    infowindow.open(map, marker);
                } else {
                    window.alert("No results found");
                }
            } else {
                window.alert("Geocoder failed due to: " + status);
            }
        });
    }

    function OpenPlay() {
        var unitID = $("#frmSearch #UnitID").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("OpenPlay", "Control")',
            data: { "unitID": unitID },
            success: function (result) {
                $("#modal-listen").modal("toggle");
                $("#modal-listen").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function showValAll(item) {
        var val = (item.value - $(item).attr('min')) / ($(item).attr('max') - $(item).attr('min'));
        $(item).css('background-image',
            '-webkit-gradient(linear, left top, right top, '
            + 'color-stop(' + val + ', #1c84c6), '
            + 'color-stop(' + val + ', #C5C5C5)'
            + ')'
        );
        $('#btnChangeVolumeSliderAll').html('<i class="fa fa-volume-up" style="font-size:14px;"></i> ' + item.value);
    }

    function setVolumeAll(item) {
        var deviceIds = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']");
        if (deviceIds.length == 0) {
            CommonJS.alert("Chưa chọn thiết bị nào thay đổi âm lượng");
            return;
        }
        if (!confirm("Bạn có chắc chắn muốn thay đổi âm lượng các thiết bị đã chọn?")) {
            return;
        }
        var vals = [];
        deviceIds.each(function () {
            vals.push($(this).val());
        });
        $('#btnChangeVolumeSliderAll').html('<i class="fa fa-volume-up" style="font-size:14px;"></i> Âm lượng');
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveVolumeAll", "Manager")',
            data: { "DevicesID": vals, "Volume": item.value },
            success: function (msg) {
                CommonJS.alert(msg);
                $('#btnChangeVolumeSliderAll').popover('hide');
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function searchLog(){
        var DeviceID = $("#logDeviceID").val();
        var LogType = $("#LogType").val();
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("SearchLog", "Manager")',
            data: {"DeviceID" : DeviceID, "LogType": LogType, "FromDate": FromDate, "ToDate": ToDate},
            success: function (data) {
                $("#divDetailLog").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function searchSms(){
        var DeviceID = $("#smsDeviceID").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("SearchSms", "Manager")',
            data: {"DeviceID" : DeviceID},
            success: function (data) {
                $("#divDetailSms").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function checkSearchSms(){
        var deviceID = $("#smsDeviceID").val();
        var lastSmsID = $("#lastSmsID").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("CheckSearchSms", "Manager")',
            data: { "deviceID": deviceID, "lastId": lastSmsID},
            success: function (data) {
                if (data > 0) {
                    $("#lastSmsID").val(data);
                    searchSms();
                }
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function viewSms(item, id) {
        if ($(item).hasClass("disabled-icon")) {
            return;
        }
        $.ajax({
            type: "GET",
            url: '@Url.Action("ViewSms", "Manager")',
            data: { "DeviceID": id },
            success: function (data) {
                $("#modal-sms").html(data);
                $("#modal-sms").modal("toggle");
                smsInterval = setInterval(function () {
                    checkSearchSms();
                }, @timeRefresh);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function viewLoc(item, name, lat, lng) {
        if ($(item).hasClass("disabled-icon")) {
            return;
        }
        $("#modal-map").modal("toggle");
        $('#mapModalTitle').html('Vị trí thiết bị ' + name);
        geocodeLatLng(lat, lng);
    }

    function refreshStatus() {
        var deviceIds = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']");
        if (deviceIds.length == 0) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("RefreshStatus", "Manager")',
            data: deviceIds,
            success: function (data) {
                for(var i = 0; i < data.length; i++){
                    var status = data[i];
                    $('#status_' + status.ID).attr('class', '');
                    if(status.IsPlaying == 0){
                        if(status.IsStop == 0){
                            $('#status_' + status.ID).addClass('label badge label-default');
                            $('#status_' + status.ID).html(status.PlayingName);
                        } else {
                            $('#status_' + status.ID).addClass('label badge label-danger');
                            $('#status_' + status.ID).html(status.PlayingName);
                        }
                    } else {
                        $('#status_' + status.ID).addClass('label badge label-primary');
                        $('#status_' + status.ID).html(status.PlayingName);
                    }
                    $('#online_' + status.ID).attr('class', '');
                    if (status.IsOnline == 0) {
                        $('#online_' + status.ID).addClass('label badge label-default');
                        $('#online_' + status.ID).html(status.OnlineName);
                    } else {
                        $('#online_' + status.ID).addClass('label badge label-primary');
                        $('#online_' + status.ID).html(status.OnlineName);
                    }
                    $('#playingtype_' + status.ID).html(status.PlayingTypeName);
                    $('#playingsource_' + status.ID).html(status.PlayingSource);
                    var volStatus = status.VolumeStatus;
                    $('#volstatus_1_' + status.ID).removeAttr('style');
                    $('#volstatus_2_' + status.ID).removeAttr('style');
                    $('#volstatus_3_' + status.ID).removeAttr('style');
                    $('#volstatus_4_' + status.ID).removeAttr('style');
                    if (volStatus[0] != '0') {
                        $('#volstatus_1_' + status.ID).attr('style', 'color:#1ab394;font-size:14px;');
                    }
                    if (volStatus[1] != '0') {
                        $('#volstatus_2_' + status.ID).attr('style', 'color:#1ab394;font-size:14px;');
                    }
                    if (volStatus[2] != '0') {
                        $('#volstatus_3_' + status.ID).attr('style', 'color:#1ab394;font-size:14px;');
                    }
                    if (volStatus[3] != '0') {
                        $('#volstatus_4_' + status.ID).attr('style', 'color:#1ab394;font-size:14px;');
                    }
                    $('#netdisClass_' + status.ID).attr('class', '');
                    $('#netdisClass_' + status.ID).attr('class', status.NetDisClass);
                    $('#netdisText_' + status.ID).html(status.NetDisText);
                    $('#viewLoc_' + status.ID).attr('class', '');
                    if (status.DisMap == 0) {
                        $('#viewLoc_' + status.ID).attr('class', 'disabled-icon');
                    }
                    $('#viewSms_' + status.ID).attr('class', '');
                    if (status.DisSms == 0) {
                        $('#viewSms_' + status.ID).attr('class', 'disabled-icon');
                    }
                }
            },
            error: function (e) {
                // ignored
            }
        });
    }

    function setParent(id) {
        $("#frmSearch #unitID").val(id);
        searchDevice();
    }

    function searchDevice() {
        $("#iAll").attr("class", "fa fa-square-o");
        $("#frmSearch").submit();
    }

    function viewChart(id, fromDate, type){
        var reportType = 0;
        if($("#ReportType") != undefined && $("#ReportType") != null && $("#ReportType").val() != undefined && $("#ReportType").val() != ''){
            reportType = $("#ReportType").val();
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewChart", "Manager")',
            data: {"DeviceID" : id, "FromDate": fromDate, "ReportType": reportType, "Type": type},
            success: function (data) {
                $("#modal-log").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function getInfo(id){
        $.ajax({
            type: "GET",
            url: '@Url.Action("ViewInfo", "Manager")',
            data: {"DeviceID" : id},
            success: function (data) {
                $("#modal-info").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function viewInfo(id){
        getInfo(id);
        infoInterval = setInterval(function () {
            getInfo(id); }, @timeRefresh);
    }

    function config(id){
        $.ajax({
            type: "GET",
            url: '@Url.Action("OpenConfig", "Manager")',
            data: {"deviceID" : id},
            success: function (data) {
                $("#modal-log").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function viewLog(id){
        $.ajax({
            type: "GET",
            url: '@Url.Action("ViewLog", "Manager")',
            data: {"DeviceID" : id},
            success: function (data) {
                $("#modal-log").html(data);
                searchLog();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function checkAll(item, checked) {
        if (checked) {
            $("#iAll").attr("class", "fa fa-check-square-o");
        } else {
            $("#iAll").attr("class", "fa fa-square-o");
        }
        $("#gridDevice tbody input:checkbox[name='deviceIds']").prop("checked", checked);
        checked = !checked;
        $(item).attr("onclick", "checkAll(this, " + checked + ")");
    }

    function checkOne(item) {
        if (!$(item).is(':checked')) {
            $("#iAll").attr("class", "fa fa-square-o");
        } else {
            if ($("#gridDevice tbody input:checkbox[name='deviceIds']:checked").length == $("#gridDevice tbody input:checkbox[name='deviceIds']").length) {
                $("#iAll").attr("class", "fa fa-check-square-o");
            }
        }
    }

    function SendSms(deviceId) {
        if (!confirm("Bạn có chắc chắn muốn gửi tin nhắn cho thiết bị đã chọn?")) {
            return;
        }
        var proMessageId = $("#ProMessageID").val();
        $("#modal-sms #btnSendSms").attr("disabled", "true");
        setTimeout(function () {
            $("#modal-sms #btnSendSms").removeAttr("disabled");
        }, 10000);
        $.ajax({
            type: "POST",
            url: '@Url.Action("SendSmsRequest", "Manager")',
            data: { deviceId: deviceId, proMessageId: proMessageId },
            success: function (data) {
                CommonJS.alert(data);
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function restartDevice() {
        var deviceIds = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']:checked");
        if (deviceIds.length == 0) {
            CommonJS.alert("Chưa chọn thiết bị nào để khởi động lại");
            return;
        }
        if (!confirm("Bạn có chắc chắn muốn khởi động lại các thiết bị đã chọn?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("RestartDevice", "Manager")',
            data: deviceIds,
            success: function (data) {
                CommonJS.alert(data);
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function osDevice() {
        var deviceIds = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']:checked");
        if (deviceIds.length == 0) {
            CommonJS.alert("Chưa chọn thiết bị nào để cập nhật OS");
            return;
        }
        if (!confirm("Bạn có chắc chắn muốn cập nhật OS các thiết bị đã chọn?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateOSDevice", "Manager")',
            data: deviceIds,
            success: function (data) {
                CommonJS.alert(data);
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function sendVersion() {
        var deviceIds = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']:checked");
        if (deviceIds.length == 0) {
            CommonJS.alert("Chưa chọn thiết bị nào để yêu cầu gửi phiên bản");
            return;
        }
        if (!confirm("Bạn có chắc chắn muốn gửi yêu cầu gửi phiên bản OS các thiết bị đã chọn?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("SendVersion", "Manager")',
            data: deviceIds,
            success: function (data) {
                CommonJS.alert(data);
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function stopStream() {
        var deviceIds = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']:checked");
        if (deviceIds.length == 0) {
            CommonJS.alert("Chưa chọn thiết bị nào để yêu cầu tắt");
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("StopStream", "Manager")',
            data: deviceIds,
            success: function (data) {
                CommonJS.alert(data);
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function startStream() {
        var deviceIds = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']:checked");
        if (deviceIds.length == 0) {
            CommonJS.alert("Chưa chọn thiết bị nào để yêu cầu bật");
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("StartStream", "Manager")',
            data: deviceIds,
            success: function (data) {
                CommonJS.alert(data);
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function choiceUnit(item, unitName, isLoadChild) {
        $('#divTitle').html("Danh sách thiết bị " + unitName);
        var id = $(item).attr('val');
        setUnitAndSearch(item);
        if (isLoadChild != undefined && isLoadChild != null && isLoadChild == 1) {
            if(id > 0){
                // Load lai cay don vi
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadUnit", "User")',
                    data: {"UnitID" : id},
                    success: function (data) {
                        $("#divDistrict").html(data);
                    },
                    error: function (xhr) {
                        CommonJS.alert(xhr.responseText, false);
                    }
                });
            } else {
                $("#divDistrict").html("");
            }
        }
    }

    function setUnitAndSearch(item) {
        var id = $(item).attr('val');
        $("#frmSearch #UnitID").val(id);
        // Thiet lap active
        setActive(item);
        // Tim kiem thiet bi
        searchDevice();
    }

    function setActive(item) {
        var li = $(item).parent();
        $(item).removeClass("active");
        li.find("a").each(function () {
            $(this).removeClass("active");
            var i = $(this).find("i:first");
            var iClass = i.attr('class');
            if (iClass != undefined && iClass != '') {
                i.removeClass(iClass);
                iClass = iClass.replace(/\-o/g, "");
                i.addClass(iClass);
            }
        });
        $(item).addClass("active");
        var iChild = $(item).find("i:first");
        var iChildClass = iChild.attr('class');
        if (iChildClass != undefined && iChildClass != '') {
            if (!iChildClass.endsWith("-o")) {
                iChild.removeClass(iChildClass);
                iChildClass += "-o";
                iChild.addClass(iChildClass);
            }
        }
    }
    function genChart(result, chartTitle) {
        var labels = [];
        var values = [];
        var colors = [];
        $.each(result, function (k, v) {
            labels.push(v.Label);
            values.push(v.Value);
            colors.push("#3e95cd");
        });
        var reportType = $('#ReportType').val();
        if(reportType == '@GlobalConstant.REPORT_TYPE_MONTH'){
            chartTitle = " từ tháng 1 - tháng 12 năm " + chartTitle;
        }
        new Chart($("#barChart"), {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                  {
                      label: "Thời gian hoạt động (giờ)",
                      backgroundColor: colors,
                      data: values
                  }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: { display: false },
                title: {
                    display: true,
                    text: "Biểu đồ hoạt động (giờ) " + chartTitle
                }
            }
        });
    }
</script>