﻿@using eStream.Models
@model UnitModel
@{
    UnitModel parent = ViewData["parent"] as UnitModel;
    string parentName = string.Empty;
    if (parent != null)
    {
        parentName = parent.UnitName;
    }
    int id = Model != null ? Model.UnitID : 0;
}
@using (Ajax.BeginForm("AddOrEdit", "Unit", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model != null && Model.UnitID > 0)
                {
                    @Html.HiddenFor(model => model.UnitID)
                    <h4 class="modal-title">Cập nhật đơn vị</h4>
                }
                else
                {
                    <h4 class="modal-title">Thêm mới đơn vị</h4>
                }
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ParentID, htmlAttributes: new { @class = "control-label col-lg-2" })
                                <div class="col-lg-10">
                                    @Html.HiddenFor(model => model.ParentID)
                                    <text class="form-control">@parentName</text>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitName, htmlAttributes: new { @class = "control-label col-lg-2" })
                                <div class="col-lg-10">
                                    @Html.EditorFor(model => model.UnitName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UnitName)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-lg-2" })
                                <div class="col-lg-10">
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-lg-2" })
                                <div class="col-lg-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>

            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
    });

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(data) {
        var nodeId = "'" + data.id + "'";
        $("#unitTree").jstree(true).refresh_node(nodeId);
        CommonJS.alert(data.msg);
        var id = @id;
        if (id > 0){
            $("#modal-unit").modal("hide");
        }
        searchUnit();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
