﻿@using eStream.Common.CommonClass
@using eStream.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<UnitModel> listUnit = ViewData["listUnit"] as List<UnitModel>;
}
<script type="text/javascript" src="~/Scripts/plugins/jsTree/jstree.min.js"></script>
<link href="~/Content/plugins/jsTree/style.min.css" rel="stylesheet" type="text/css">
<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h4>Cây đơn vị</h4>
            </div>
            <div class="ibox-content">
                <div id="unitTree">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Ajax.BeginForm("SearchUnit", "Unit", new AjaxOptions
                        {
                            HttpMethod = "post",
                            UpdateTargetId = "divGridUnit"
                        }, new { id = "frmSearch" }))
                        {
                            @Html.Hidden("ParentID")
                            <div class="input-group">
                                <input id="UnitName" name="UnitName" class="form-control" placeholder="Tên đơn vị" type="text" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                    <button class="btn btn-success" type="button" onclick="prepareEditUnit(-1)"><i class="fa fa-plus"></i> Thêm mới</button>
                                </span>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12" id="divGridUnit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-unit" class="modal fade" role="dialog"></div>

<script type="text/javascript">
    $(document).ready(function () {
        searchUnit();
        $('#unitTree').jstree({
            "core": {
                'data': {
                    "url": "/Unit/LoadChild",
                    "data": function (node) {
                        return { "id": node.id };
                    }
                }
            },
            "plugins": ['types'],
            'types': {
                'default': {
                    'icon': 'fa fa-folder'
                }
            }
        });
    });
    $('#unitTree').on("select_node.jstree", function (e, data) { setParent(data.node.id); });
    function searchUnit() {
        $("#frmSearch").submit();
    }

    function prepareEditUnit(id) {
        var parentID = $("#frmSearch #ParentID").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("OpenAddOrEdit", "Unit")',
            data: { 'id': id, 'parentID': parentID },
            success: function (result) {
                $("#modal-unit").html(result);
                $("#modal-unit").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function setParent(id) {
        $("#frmSearch #ParentID").val(id);
        searchUnit();
    }
</script>
