﻿@using eStream.Models
@model DeviceConfigModel
@{
    List<SelectListItem> listBitrate = ViewData["listBitrate"] as List<SelectListItem>;
    int noUnit = (ViewData["noUnit"] as int?).GetValueOrDefault();
}
@using (Ajax.BeginForm("SaveConfig", "DeviceConfig", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="ibox float-e-margins">
        @if (noUnit == 1)
        {
            <div class="ibox-title">
                <h5 id="divTitle">CHỌN XÃ ĐỂ CẤU HÌNH THIẾT BỊ</h5>
            </div>
        }
        else
        {
            <div class="ibox-title">
                @Html.HiddenFor(model => model.DeviceConfigID)
                @Html.HiddenFor(model => model.UnitID)
                <h5 id="divTitle">Cấu hình thiết bị cho: @Model.UnitName</h5>
            </div>
            <div class="ibox-content">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Bitrate</label>
                        <div class="col-lg-4">
                            @Html.DropDownListFor(x => x.BitRate, listBitrate, new { @class = "form-control chosen-select", style = "width: 100%" })
                        </div>
                        <label class="col-lg-2 control-label">Thời gian đồng bộ</label>
                        <div class="col-lg-4">
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.SyncTime, new { @class = "form-control" })
                                <div class="input-group-addon"><i class="fa fa-clock-o"></i> Giây/Lần</div>
                            </div>
                            @Html.ValidationMessageFor(x => x.SyncTime)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Âm lượng</label>
                        <div class="col-lg-4">
                            @Html.TextBoxFor(x => x.DefaultVolume, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.DefaultVolume)
                        </div>
                        <label class="col-lg-2 control-label"></label>
                        <div class="col-lg-4">
                            <div class="i-checks"><label>@Html.CheckBoxFor(x => x.IsSMS) Gửi tin nhắn SMS</label></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
            </div>
        }
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("select").chosen({ width: "100%" });
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        searchConfig();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
