﻿@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@using eStream.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    UserInfoBO user = SessionManager.GetUserInfoBO();
    PagedList<UnitModel> paginate = ViewData["listConfig"] as PagedList<UnitModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "gridConfig"
                          );

    grid.Bind(paginate,
    autoSortAndPage: false,
    rowCount: paginate.Count);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                * grid.RowsPerPage * grid.PageIndex));
        gridColumns.Add(grid.Column("UnitName", "Tên xã"));
        if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE) {
            gridColumns.Add(grid.Column("ParentName", "Tên huyện"));
        }
        gridColumns.Add(grid.Column(header: "Cấu hình", format: @<text>
            @if (item.DeviceConfigID != null && item.DeviceConfigID > 0)
            {
                <span class="label label-primary">Đã cấu hình</span>
            }
            else
            {
                <span class="label label-danger">Chưa cấu hình</span>
            }
        </text>));
        gridColumns.Add(grid.Column(header: "", format: @<text>
            <button class="btn btn-primary btn-sm" onclick="openConfig(@item.DeviceConfigID, @item.UnitID)"><i class="fa fa-edit"></i></button>
        </text>));

        @grid.GetHtml(htmlAttributes: new { id = "gridConfig" },
                                   fillEmptyRows: false,
                                   tableStyle: "table table-striped table-hover",
                                   alternatingRowStyle: "altRow",
                                   selectedRowStyle: "selectRow",
                                   columns: gridColumns)
        <div class="pagination">
            @Html.PagedListPager(paginate, page => Url.Action("SearchDevice",
                                   new
                                   {
                                       DistrictID = ViewBag.DistrictID,
                                       CommuneID = ViewBag.CommuneID,
                                       page,
                                       pageSize = paginate.PageSize

                                   }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "divGridConfig" }))
        </div>
    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có dữ liệu xã
        </div>
    }
}