﻿@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@using eStream.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserInfoBO user = SessionManager.GetUserInfoBO();
    string unitName = string.Empty;
    int isLoadChild = 0;
    int unitID = 0;
    if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
    {
        isLoadChild = 1;
        List<UnitModel> listDistrict = ViewData["listDistrict"] as List<UnitModel>;
        if (listDistrict != null && listDistrict.Count > 1)
        {
            unitName = listDistrict[1].UnitName;
            unitID = listDistrict[1].UnitID;
        }
    }
    else if (user.UnitLevel == GlobalConstant.UNIT_TYPE_DISTRICT)
    {
        List<UnitModel> listCommune = ViewData["listCommune"] as List<UnitModel>;
        if (listCommune != null && listCommune.Count > 1)
        {
            unitName = listCommune[1].UnitName;
            unitID = listCommune[1].UnitID;
        }
    }
    else
    {
        List<UnitModel> listCommune = ViewData["listCommune"] as List<UnitModel>;
        unitID = listCommune[0].UnitID;
        unitName = listCommune[0].UnitName;
    }
}<div class="row" id="divIndex">
    <input type="hidden" name="UnitID" id="UnitID" value="@unitID" />
    <div class="col-lg-3">
        <div class="row">
            @if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
            {
                <div class="col-md-12" id="divProvince">
                    @Html.Partial("../User/_Unit", ViewData["listDistrict"])
                </div>
            }
            <div class="col-md-12" id="divDistrict">
                @Html.Partial("../User/_Unit", ViewData["listCommune"])
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="row" id="divConfig">

        </div>
    </div>
</div>
 <script type="text/javascript">
    $(document).ready(function () {
        $("select").chosen({ width: "100%" });
        var isLoadChild = @isLoadChild;
        var unitID = @unitID;
        if (isLoadChild == 0) {
            var item = $("#divDistrict").find('a[val=' + unitID + ']:first');
            if (item != undefined && item != null) {
                setUnitAndSearch(item);
            }
        } else {
            loadChild(unitID);
        }
    });

    function openConfig() {
        var unitID = $("#divIndex #UnitID").val()
        $.ajax({
            type: "POST",
            url: '@Url.Action("OpenConfig", "DeviceConfig")',
            data: { "unitID": unitID },
            success: function (result) {
                $("#divConfig").html(result);
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function choiceUnit(item, unitName, isLoadChild) {
        var id = $(item).attr('val');
        if (id == 0) {
            return;
        }
        $('#divTitle').html("Cấu hình thiết bị " + unitName);
        if (isLoadChild != undefined && isLoadChild != null && isLoadChild == 1) {
            setActive(item);
            if (id > 0) {
                loadChild(id)
            } else {
                $("#divDistrict").html("");
            }
        } else {
            setUnitAndSearch(item);
        }
    }

    function loadChild(unitID) {
        // Load lai cay don vi
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadUnit", "User")',
            data: { "UnitID": unitID },
            success: function (data) {
                $("#divDistrict").html(data);
                var item = $("#divDistrict").find(".list-group-item:nth-child(2)");
                if (item != undefined && item != null) {
                    setUnitAndSearch(item);
                }
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function setUnitAndSearch(item) {
        var id = $(item).attr('val');
        $("#divIndex #UnitID").val(id);
        // Thiet lap active
        setActive(item);
        // Tim kiem thiet bi
        openConfig();
    }

    function setActive(item) {
        var li = $(item).parent();
        $(item).removeClass("active");
        li.find("a").each(function () {
            $(this).removeClass("active");
            var i = $(this).find("i:first");
            var iClass = i.attr('class');
            if (iClass != undefined && iClass != '') {
                i.removeClass(iClass);
                iClass = iClass.replace(/\-o/g, "");
                i.addClass(iClass);
            }
        });
        $(item).addClass("active");
        var iChild = $(item).find("i:first");
        var iChildClass = iChild.attr('class');
        if (iChildClass != undefined && iChildClass != '') {
            if (!iChildClass.endsWith("-o")) {
                iChild.removeClass(iChildClass);
                iChildClass += "-o";
                iChild.addClass(iChildClass);
            }
        }
    }
 </script>
