﻿@using eStream.Common.CommonClass
@using eStream.Models
@using PagedList;
@using PagedList.Mvc
@{
    PagedList<UnitModel> paginate = ViewData["listUnit"] as PagedList<UnitModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "gridUnit"
                          );

    grid.Bind(paginate,
    autoSortAndPage: false,
    rowCount: paginate.Count);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                * grid.RowsPerPage * grid.PageIndex));
        gridColumns.Add(grid.Column("UnitName", "Tên đơn vị"));
        gridColumns.Add(grid.Column("PhoneNumber", "Số điện thoại"));
        gridColumns.Add(grid.Column("Email", "Số điện thoại"));
        gridColumns.Add(grid.Column(header: "Cấp", format: @<text>
    @if (item.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
    {
        <span class="label label-success">Cấp tỉnh</span>
    }
    else if (item.UnitLevel == GlobalConstant.UNIT_TYPE_DISTRICT)
    {
        <span class="label label-info">Cấp quận/huyện</span>
    }
    else if (item.UnitLevel == GlobalConstant.UNIT_TYPE_COMMUNE)
    {
        <span class="label label-warning">Cấp xã/phường</span>
    }
        </text>));

 gridColumns.Add(grid.Column(header: "Sửa", format: @<text>
    <a href="javascript:void(0)" onclick="prepareEditUnit(@item.UnitID)" title="Sửa đơn vị"><i class="fa fa-pencil-square-o" style="font-size:18px"></i></a>
</text>));
gridColumns.Add(grid.Column(header: "Xóa", format: @<text>
    <a href="javascript:void(0)" onclick="deleteUnit(@item.UnitID)" title="Xóa đơn vị"><i class="fa fa-trash-o text-danger" style="font-size:18px"></i></a>
</text>));

@grid.GetHtml(htmlAttributes: new { id = "gridUnit" },
                                   fillEmptyRows: false,
                                   tableStyle: "table table-hover table-striped",
                                   footerStyle: "table-pager",
                                   alternatingRowStyle: "altRow",
                                   selectedRowStyle: "selectRow",
                                   columns: gridColumns)
<div class="col-md-12">
    <div class="pagination">
        @Html.PagedListPager(paginate, page => Url.Action("SearchUnit",
                    new
                    {
                        UnitName = ViewBag.UnitName,
                        page,
                        pageSize = paginate.PageSize

                    }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "divGridUnit" }))
    </div>
</div>
}
else
{
<div style="color:red; margin-left:10px;">
    Không có đơn vị nào
</div>
}
}
<script type="text/javascript">
    function deleteUnit(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa đơn vị?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "UnitManager")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                window.searchUnit();
                var ParentID = $("#frmSearch #ParentID").val();
                window.loadChildUnit(ParentID);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>