﻿@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@using eStream.Models
@{
    UserInfoBO user = SessionManager.GetUserInfoBO();
    UnitModel firstUnit = Model[0];
    int isLoadChild = (firstUnit != null && firstUnit.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE) ? 1 : 0;
}
@model List<UnitModel>
<div class="ibox">
    <div class="ibox-content no-padding">
        <div class="list-group">
            @for (int i = 0; i < Model.Count; i++)
            {
                UnitModel unit = Model[i];
                if (i == 0)
                {
                    if (firstUnit.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
                    {
                        <a href="javascript:void(0)" val="@unit.UnitID" onclick="choiceUnit(this, '@unit.UnitName', @isLoadChild)" class="list-group-item active"><i class="fa fa-folder"></i> @GlobalConstant.ALL_PROVINCE_NAME</a>
                    }
                    else if (firstUnit.UnitLevel == GlobalConstant.UNIT_TYPE_DISTRICT)
                    {
                        <a href="javascript:void(0)" class="list-group-item active" onclick="choiceUnit(this, '@unit.UnitName', @isLoadChild)" val="@unit.UnitID"><i class="fa fa-file-o"></i> @unit.UnitName</a>
                    }
                    else if (firstUnit.UnitLevel == GlobalConstant.UNIT_TYPE_COMMUNE)
                    {
                        <a href="javascript:void(0)" val="@unit.UnitID" class="list-group-item active"> <i class="fa fa-folder"></i> @unit.UnitName</a>
                    }
                }
                else
                {
                    if (i == 1 && ((user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE && unit.UnitLevel == GlobalConstant.UNIT_TYPE_DISTRICT)
                    || user.UnitLevel == GlobalConstant.UNIT_TYPE_DISTRICT && unit.UnitLevel == GlobalConstant.UNIT_TYPE_COMMUNE))
                    {
                        <a href="javascript:void(0)" val="@unit.UnitID" class="list-group-item" onclick="choiceUnit(this, '@unit.UnitName', @isLoadChild)" id="li_@unit.UnitID"><i class="fa fa-file"></i> @unit.UnitName</a>
                    }
                    else
                    {
                        <a href="javascript:void(0)" val="@unit.UnitID" class="list-group-item" onclick="choiceUnit(this, '@unit.UnitName', @isLoadChild)" id="li_@unit.UnitID">
                            @if (unit.UnitLevel != GlobalConstant.UNIT_TYPE_COMMUNE)
                            {
                                <i class="fa fa-file"></i>
                            }
                            @unit.UnitName
                        </a>
                    }
                }
            }
        </div>
    </div>
</div>
