﻿@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@using eStream.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserInfoBO user = SessionManager.GetUserInfoBO();
    string unitName = string.Empty;
    int unitId = 0;
    List<UnitModel> listDistrict = ViewData["listDistrict"] as List<UnitModel>;
    List<UnitModel> listCommune = ViewData["listCommune"] as List<UnitModel>;
    if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
    {
        if (listDistrict != null && listDistrict.Count > 1)
        {
            unitName = listDistrict[0].UnitName;
            unitId = listDistrict[0].UnitID;
        }
    }
    else
    {
        if (listCommune != null && listCommune.Count > 1)
        {
            unitName = listCommune[0].UnitName;
            unitId = listCommune[0].UnitID;
        }
    }
    string classSearch = "col-lg-9";
    if (user.UnitLevel == GlobalConstant.UNIT_TYPE_VILLAGE)
    {
        unitId = user.UnitID.Value;
        classSearch = "col-lg-12";
    }
}
<div class="row">
    @if (user.UnitLevel != GlobalConstant.UNIT_TYPE_VILLAGE)
    {
        <div class="col-lg-3">
            <div class="row">
                @if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
                {
                    <div class="col-md-12" id="divProvince">
                        @Html.Partial("../User/_Unit", ViewData["listDistrict"])
                    </div>
                }
                <div class="col-md-12" id="divDistrict">
                    @Html.Partial("../User/_Unit", ViewData["listCommune"])
                </div>
            </div>
        </div>
    }
    <div class="@classSearch">
        <input type="hidden" name="unitID" id="unitID" value="@unitId" />
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                @if (!string.IsNullOrWhiteSpace(unitName))
                {
                    <h5 id="divTitle">Danh sách đơn vị @unitName</h5>
                }
                else
                {
                    <h5 id="divTitle">Danh sách đơn vị</h5>
                }
            </div>
            <div class="ibox-title">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Ajax.BeginForm("SearchUnit", "Unit", new AjaxOptions
                        {
                            HttpMethod = "post",
                            UpdateTargetId = "divGridUnit"
                        }, new { id = "frmSearch" }))
                        {
                            <div class="input-group">
                                <input type="hidden" name="ParentID" id="ParentID" value="@unitId" />
                                <input id="UnitName" name="UnitName" class="form-control" placeholder="Tên đơn vị" type="text" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                    <button class="btn btn-success" type="button" onclick="prepareEditUnit(-1)"><i class="fa fa-plus"></i> Thêm mới</button>
                                </span>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12" id="divGridUnit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-unit" class="modal fade" role="dialog"></div>

<script type="text/javascript">
    $(document).ready(function () {
        searchUnit();
    });

    function searchUnit() {
        $("#frmSearch").submit();
    }

    function searchUnitByLevel1() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SearchUnitLevel1", "UnitManager")',
            data: { },
            success: function (result) {
                $("#unit-by-level").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function searchUnitByLevel2() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SearchUnitLevel2", "UnitManager")',
            data: { level1FirstUnitId: level1FirstUnitId},
            success: function (result) {
                $("#div-level-2").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function prepareEditUnit(id) {
        var parentId = $("#frmSearch #ParentID").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("OpenAddOrEdit", "UnitManager")',
            data: { 'id': id, 'parentID': parentId },
            success: function (result) {
                $("#modal-unit").html(result);
                $("#modal-unit").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function setParent(id) {
        $("#frmSearch #ParentID").val(id);
        searchUnit();
    }

    function loadChildUnit(id) {
        if(id > 0){
            // Load lai cay don vi
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadUnit", "User")',
                data: {"UnitID" : id},
                success: function (data) {
                    $("#divDistrict").html(data);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText, false);
                }
            });
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadUnit", "User")',
                data: {"UnitID" : 0},
                success: function (data) {
                    $("#divProvince").html(data);
                    $("#divDistrict").html("");
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText, false);
                }
            });
        }
    }

    function choiceUnit(item, unitName, isLoadChild) {
        $('#divTitle').html("Danh sách đơn vị " + unitName);
        var id = $(item).attr('val');
        setUnitAndSearch(item);
        if (isLoadChild != undefined && isLoadChild != null && isLoadChild == 1) {
            loadChildUnit(id);
        }
    }

    function setUnitAndSearch(item) {
        var id = $(item).attr('val');
        $("#frmSearch #ParentID").val(id);
        // Thiet lap active
        setActive(item);
        // Tim kiem thiet bi
        searchUnit();
    }

    function setActive(item) {
        var li = $(item).parent();
        $(item).removeClass("active");
        li.find("a").each(function () {
            $(this).removeClass("active");
            var i = $(this).find("i:first");
            var iClass = i.attr('class');
            if (iClass != undefined && iClass != '') {
                i.removeClass(iClass);
                iClass = iClass.replace(/\-o/g, "");
                i.addClass(iClass);
            }
        });
        $(item).addClass("active");
        var iChild = $(item).find("i:first");
        var iChildClass = iChild.attr('class');
        if (iChildClass != undefined && iChildClass != '') {
            if (!iChildClass.endsWith("-o")) {
                iChild.removeClass(iChildClass);
                iChildClass += "-o";
                iChild.addClass(iChildClass);
            }
        }
    }
</script>
