﻿@using eStream.Models
@model ConvertTextModel
@{
    List<SelectListItem> Voices = ViewData["Voices"] as List<SelectListItem>;
}
@using (Ajax.BeginForm("AddToPlaylist", "Control", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccessConvertText",
    OnFailure = "onFailConvertText"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog" style="width: 750px !important">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="ibox-title">
                <h5>Cấu hình chuyển đổi văn bản sang audio</h5>
                <div class="ibox-tools">
                    <a class="close-link" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-md-12 m-b-sm m-t-sm" id="divConvertText" style="display: none">
                            <div class="progress progress-striped active">
                                <div style="width: 100%" class="progress-bar progress-bar-success">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">Tiêu đề<span class="text-danger"> *</span></label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", style = "width: 100%" } })
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">Nội dung<span class="text-danger"> *</span></label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(model => model.Text, new { @class = "form-control", @rows = "13" })
                                    @Html.ValidationMessageFor(model => model.Text)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">Giọng đọc</label>
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(x => x.Voice, Voices, new { @class = "form-control chosen-select", style = "width: 100%" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">Tốc độ đọc</label>
                                <div class="col-sm-6">
                                    <input type="range" class="slider" style="margin-top: 10px !important; background-image:-webkit-gradient(linear, left top, right top, color-stop(0.526, #1c84c6), color-stop(0.526, #C5C5C5))" value="1" onchange="setVolumeConvert(this)" oninput="showValConvert(this)" data-orientation="vertical" min="0.1" max="1.9" step="0.1" />
                                </div>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(x => x.Rate, new { @class = "form-control", @id = "rate_id", @readonly = "true" })
                                    @Html.ValidationMessageFor(model => model.Rate)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnConvertText"><i class="fa fa-cloud-upload"></i> Chuyển giọng nói</button>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="loadLive(@Model.LiveID, 1)">Đóng</button>
            </div>
        </div>
    </div>
    @Html.HiddenFor(a => a.LiveID)
}
<script type="text/javascript">
    var intervalCheckConvert = null;
    $(document).ready(function () {
        $("#rate_id").val(1);
        $("select").chosen({ width: "100%" });
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
    });
    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            $("#btnConvertText").attr("disabled", true);
            $('#divConvertText').show();
            return true;
        } else {
            return false;
        }
    }
    function showValConvert(item) {
        var val = (item.value - $(item).attr('min')) / ($(item).attr('max') - $(item).attr('min'));
        $(item).css('background-image',
            '-webkit-gradient(linear, left top, right top, '
            + 'color-stop(' + val + ', #1c84c6), '
            + 'color-stop(' + val + ', #C5C5C5)'
            + ')'
        );
    }

    function setVolumeConvert(item) {
        $("#rate_id").val(item.value);
    }
</script>
