﻿@using eStream.Models
@using Model
@using eStream.Common.CommonClass
@model LiveModel
@{
    List<LiveFile> listFile = ViewData["listFile"] as List<LiveFile>;
    int isEdit = (int)ViewData["isEdit"];
    var len = listFile.Count;
    var idx = 1;
    var isLoop = Model.IsLoop ? GlobalConstant.IS_ACTIVE : 0;
}
@if (listFile != null && listFile.Any())
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <tbody>
                    @foreach (var file in listFile)
                    {
                        <tr>
                            <td style="width:60%">
                                <i class="fa fa-microphone"></i>  <a href="@Url.Action("Download", "Live", new { LiveFileID = file.LiveFileID })">@file.Title</a>
                            </td>
                            <td>
                                @file.CreatedUser
                            </td>
                            <td>
                                @string.Format("{0:dd/MM/yyyy HH:mm:ss}", file.CreatedDate)
                            </td>

                            @if (isEdit == GlobalConstant.IS_ACTIVE && Model != null && Model.Status.GetValueOrDefault() != GlobalConstant.LIVE_PLAYING)
                            {
                                <td>
                                    <span class="pull-right">
                                        @if (idx > 1)
                                        {
                                            <button class="btn btn-xs btn-primary" title="Chuyển lên" onclick="move(@file.LiveID, @file.LiveFileID, 1)"><i class="fa fa-angle-double-up"></i></button>
                                        }
                                        @if (idx < len)
                                        {
                                            <button class="btn btn-xs btn-primary" title="Chuyển xuống" onclick="move(@file.LiveID, @file.LiveFileID, -1)"><i class="fa fa-angle-double-down"></i></button>
                                        }
                                        <button class="btn btn-xs btn-danger" onclick="deleteFile(@file.LiveFileID)"><i class="fa fa-trash-o"></i></button>
                                    </span>
                                </td>
                                idx++;
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <input type="hidden" id="hasFile" value="1" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <div class="i-checks">
                    <label>@Html.CheckBoxFor(x => x.IsLoop) Phát lặp</label>
                </div>
                <input type="hidden" value="@Model.IsLoop.ToString()" id="hidIsLoop" />
            </div>
        </div>
        <div class="col-md-4" id="InpLoopCount">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 control-label">Số lần lặp</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.LoopCount, new { @class = "form-control", style = "width: 100%", @id = "LoopCount" })
                            <span class="input-group-addon">
                                Lần
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        var hasFile = $("#hasFile").val();
        if (hasFile) {
            $('#btnReplayFromStart').show();
        } else {
            $('#btnReplayFromStart').hide();
        }
        $("select").chosen({ width: "100%" });
        changeLoop(@isLoop)
        $('input[name="IsLoop"]').on('ifClicked', function (event) {
            changeLoop(!event.target.checked);
        });
    });

    function changeLoop(checked) {
        if (checked || checked == 1 || checked == true) {
            if ($("#LoopCount").val() == '') {
                $("#LoopCount").val('@GlobalConstant.LOOP_COUNT');
            }
            $("#InpLoopCount").show();
            $("#hidIsLoop").val(true);
        } else {
            $("#LoopCount").val('');
            $("#InpLoopCount").hide();
            $("#hidIsLoop").val(false);
        }
    }
</script>
