﻿@using eStream.Models
@using eStream.Common.CommonClass
@model LiveModel
@{
    List<SelectListItem> Chanels = GlobalCommon.GetChanels();
    int countDevice = (int)ViewData["countDevice"];
    int isEdit = (int)ViewData["isEdit"];
    int row = 10 / Chanels.Count;
    bool hasCheck = Model != null && Model.ChannelID != null && Chanels.Any(x => x.Value.Equals(Model.ChannelID.Value.ToString()));
    string disabled = isEdit == GlobalConstant.IS_ACTIVE ? string.Empty : "disabled";
}
<!-- Modal content-->
<div class="ibox-content" id="divLiveInfo">
    <input type="hidden" id="isEdit" value="@isEdit" />
    <div class="row" id="divLiveSource">
        <div class="col-md-2">
            <label>Nguồn phát:</label>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="hidden" id="hidLiveSource" value="@Model.LiveSource.GetValueOrDefault()" />
                <input type="hidden" id="hidLiveUnitID" value="@Model.UnitID" />
                <input type="hidden" id="hidLiveStatus" value="@Model.Status.GetValueOrDefault()" />
                @if (isEdit == GlobalConstant.IS_ACTIVE)
                {
                    <div class="i-checks"><label>@Html.RadioButtonFor(x => x.LiveSource, GlobalConstant.LIVE_SOURCE_VOV) Kênh chuyển tiếp</label></div>
                }
                else
                {
                    <div class="i-checks"><label>@Html.RadioButtonFor(x => x.LiveSource, GlobalConstant.LIVE_SOURCE_VOV, new { disabled = "" }) Kênh chuyển tiếp</label></div>
                }
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @if (isEdit == GlobalConstant.IS_ACTIVE)
                {
                    <div class="i-checks"><label>@Html.RadioButtonFor(x => x.LiveSource, GlobalConstant.LIVE_SOURCE_FILE) Từ file</label></div>
                }
                else
                {
                    <div class="i-checks"><label>@Html.RadioButtonFor(x => x.LiveSource, GlobalConstant.LIVE_SOURCE_FILE, new { disabled = "" }) Từ file</label></div>
                }
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @if (isEdit == GlobalConstant.IS_ACTIVE)
                {
                    <div class="i-checks"><label>@Html.RadioButtonFor(x => x.LiveSource, GlobalConstant.LIVE_SOURCE_STREAMING) Từ Microphone</label></div>
                }
                else
                {
                    <div class="i-checks"><label>@Html.RadioButtonFor(x => x.LiveSource, GlobalConstant.LIVE_SOURCE_STREAMING, new { disabled = "" }) Từ Microphone</label></div>
                }
            </div>
        </div>
    </div>
    <br />
    <div class="row" id="divSourceFile">
        <div class="col-md-12">
            <label>Chương trình phát:</label>
        </div>
        @if (isEdit == GlobalConstant.IS_ACTIVE && Model.Status.GetValueOrDefault() != GlobalConstant.LIVE_PLAYING)
        {
            <div class="col-md-12" id="divPlayList">
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            <i class="fa fa-paperclip"></i> <span id="FileName">Lựa chọn file</span>
                            <input name="attachmentFile" id="attachmentFile" type="file">
                        </span>
                    </span>
                    <input type="text" name="AttachFileName" id="AttachFileName" class="form-control" maxlength="2000" placeholder="Tên file phát">
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-file" onclick="addToPlaylist()">
                            Tải file
                        </button>
                        <button class="btn btn-success" title="Chuyển đổi từ văn bản thành audio" onclick="prepareConvertText(@Model.LiveID)">
                            Chuyển giọng nói
                        </button>
                    </span>
                </div>
            </div>
        }
    </div>
    <div class="row" id="divProgess" style="display: none">
        <div class="col-md-12 m-b-sm m-t-sm">
            <div class="progress" style="width:100%">
                <div class="progress-bar"></div>
                <div class="percent">0%</div>
            </div>
        </div>
    </div>
    <div class="row" id="divProgessPublish" style="display: none">
        <div class="col-md-12 m-b-sm m-t-sm">
            <div class="progress progress-striped active">
                <div style="width: 100%" class="progress-bar progress-bar-success">
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="divDisplayFile">
        <div class="col-md-12 m-b-sm m-t-sm" id="divFile">
            @Html.Partial("_File")
        </div>
    </div>
    <div class="row" id="divSourceVov">
        <div class="col-md-2">
            <input type="hidden" id="hidChannelID" value="@Model.ChannelID.GetValueOrDefault()" />
            <label>Kênh chuyển tiếp:</label>
        </div>
        @for (int i = 0; i < Chanels.Count; i++)
        {
            SelectListItem item = Chanels[i];
            int r = row;
            if (i == Chanels.Count - 1)
            {
                r = 2;
            }
            <div class="col-md-@r">
                <div class="form-group">
                    @if (Model != null && Model.ChannelID != null && Model.ChannelID.ToString().Equals(item.Value))
                    {
                        <div class="i-checks"><label><input type="radio" @disabled name="ChannelID" value="@item.Value" checked /> @item.Text</label></div>
                    }
                    else
                    {
                        if (!hasCheck && item.Selected)
                        {
                            <div class="i-checks"><label><input type="radio" @disabled name="ChannelID" value="@item.Value" checked /> @item.Text</label></div>
                        }
                        else
                        {
                            <div class="i-checks"><label><input type="radio" @disabled name="ChannelID" value="@item.Value" /> @item.Text</label></div>
                        }
                    }
                </div>
            </div>
        }
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"><label>Phạm vi phát:</label></div>
        <div class="col-md-10" id="lblScope">
            @ViewData["unitName"]
        </div>
    </div>
</div>
<div class="ibox-content">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group">
                @if (Model != null)
                {
                    if (Model.Status == GlobalConstant.LIVE_PLAYING)
                    {
                        <button class="btn btn-danger" onclick="stopStream()" title="Dừng phát"><i class="fa fa-stop"></i> Dừng phát</button>
                    }
                    else if (Model.LiveSource.GetValueOrDefault() != GlobalConstant.LIVE_SOURCE_FILE || Model.Status == GlobalConstant.LIVE_STOPED || Model.Status == GlobalConstant.LIVE_WAIT)
                    {
                        <button class="btn btn-primary" id="btnPlayOnly" onclick="startStream()" title="Phát"><i class="fa fa-play"></i> Bắt đầu phát</button>
                    }
                }
                @if (Model == null || Model.Status.GetValueOrDefault() != GlobalConstant.LIVE_PLAYING)
                {
                    <button class="btn btn-success" id="btnSaveLive" onclick="saveInfo(0)" title="Lưu thông tin"><i class="fa fa-upload"></i> Lên lịch</button>
                }
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(a => a.LiveID)
<div id="myModal" class="modal fade" role="dialog">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("select").chosen({ width: "100%" });
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $('#attachmentFile').bind('change', function () {
            curFile = this.files[0];
            var FileName = curFile.name;
            if(FileName.length > 30){
                FileName = FileName.substring(0,30) + "...";
            }
            $('#AttachFileName').val(FileName);
        });
        chooseSource(@Model.LiveSource.GetValueOrDefault());
        $('input[name="LiveSource"]').on('ifClicked', function (event) {
            var source = $(this).val();
            $('#divLiveSource').next('br').remove();
            $('#divLiveSource').after('<br />');
            chooseSource(source);
        });
        $('input[name="ChannelID"]').on('ifClicked', function (event) {
            var channelID = $(this).val();
            chooseChannel(channelID);
        });
        displayLivingMenu();
    });

    function addToPlaylist() {
        var bar = $('.progress-bar');
        var percent = $('.percent');
        var fileUpload = $("#attachmentFile").get(0);
        var files = fileUpload.files;  
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                data.append("LiveID", @Model.LiveID);
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                $('#divProgessPublish').hide();
                $('#divProgess').show();
                $.ajax({
                    type: "POST",
                    url: '/Live/AddToPlaylist',
                    contentType: false,
                    processData: false,
                    data: data,
                    xhr: function() {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress", function(evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                percentComplete = parseInt(percentComplete * 100);
                                bar.width(percentComplete + "%");
                                percent.html(percentComplete + "%");
                                if (percentComplete === 100) {
                                    $('#divProgess').hide();
                                }
                            }
                        }, false);

                        return xhr;
                    },
                    success: function (result) {
                        CommonJS.alert(result);
                        var liveID = @Model.LiveID;
                        loadLive(liveID, 1);
                    },
                    error: function (xhr) {
                        CommonJS.alert(xhr.responseText, false);
                    }
                });
            } else {
                CommonJS.alert("Trình duyệt không hỗ trợ upload file", false);
            }
        }
    }

    function saveInfo(status) {
        $('#divProgessPublish').show();
        var channelID = $("#divLiveInfo input[name='ChannelID']:checked").val();
        var liveType = $("#divLiveInfo input[name='LiveType']:checked").val();
        var liveSource = $("#divLiveInfo input[name='LiveSource']:checked").val();
        var isLoop = $("#hidIsLoop").val();
        var loopCount = $("#LoopCount").val();
        $("#btnSaveLive").attr("disabled", "disabled");
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveLive", "Live")',
            data: { "liveID": @Model.LiveID, "channelID": channelID, "liveType": liveType, "liveSource": liveSource, 'isLoop': isLoop, 'loopCount': loopCount },
            success: function (data) {
                if (liveSource != @GlobalConstant.LIVE_SOURCE_STREAMING) {
                    stopStreaming();
                }
                loadLive(@Model.LiveID);
                if (status == 1) {
                    startStream();
                } else {
                    CommonJS.alert(data);
                }
                $('#divProgessPublish').hide();
                $('#btnSaveLive').removeAttr("disabled");
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
                $("#btnSaveLive").removeAttr("disabled");
            }
        });
    }

    function stopStream() {
        stopStreaming();
        $.ajax({
            type: "POST",
            url: '@Url.Action("StopStream", "Live")',
            data: {"liveID" : @Model.LiveID},
            success: function (data) {
                CommonJS.alert(data);
                loadLive(@Model.LiveID);
                searchDevice();
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function startStream(source, channelID) {
        if (!source) {
            source = -1;
        }
        if (!channelID) {
            channelID = -1;
        }
        var IsLoop = $("#hidIsLoop").val();
        var LoopCount = $("#LoopCount").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("StartStream", "Live")',
            data: { "channelID": channelID, "source": source, "liveID": @Model.LiveID, 'isLoop': IsLoop, 'loopCount': LoopCount },
            success: function (data) {
                CommonJS.alert(data);
                loadLive(@Model.LiveID);
                var curSource = $('#hidLiveSource').val();
                if (curSource == 3 && (('@Model.Status.GetValueOrDefault()' == '@GlobalConstant.LIVE_PLAYING')
                    || (source == -1 && channelID == -1))) {
                    startRecording();
                }
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function chooseChannel(channelID) {
        var curChannelID = $('#hidChannelID').val();
        if (channelID != curChannelID) {
            stopStreaming();
            startStream(-1, channelID);
        }
        $('#hidChannelID').val(channelID);
    }

    function chooseSource(source) {
        var curSource = $('#hidLiveSource').val();
        if (source != curSource) {
            stopStreaming();
            startStream(source, -1);
        }
        $('#divSourceVov').hide();
        $('#divDisplayFile').hide();
        $('#divSourceFile').hide();
        $('#divDisplayStreaming').hide();
        $('#divBtnSave').hide();
        $('#divBtnUp').hide();
        if (source != 1) {
            $('#divLiveSource').next('br').remove();
        }
        if (source == 1) {
            $('#divSourceVov').show();
            $('#divDisplayFile').next('br').remove();
            $('#divBtnSave').show();
        } else if (source == 2) {
            $('#divDisplayFile').show();
            $('#divSourceFile').show();
            $('#divLiveSource').after('<br />');
            $('#divBtnUp').show();
        } else if (source == 3) {
            $('#divDisplayStreaming').show();
            $('#divBtnSave').show();
        }
        $('#hidLiveSource').val(source);
    }

    function move(liveID, id, step) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Move", "Live")',
            data: { 'LiveFileID': id, 'Step': step },
            success: function (result) {
                CommonJS.alert(result);
                loadLive(liveID, 1);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function prepareConvertText(liveID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareConvertText", "Live")',
            data: { 'LiveID': liveID },
            success: function (result) {
                $("#myModal").modal("toggle");
                $("#myModal").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function onSuccessConvertText(id) {
        CommonJS.alert("Chuyển đổi text sang audio ghi nhận thành công, vui lòng đợi trong giây lát để thực hiện việc chuyển đổi");
        intervalCheckConvert = setInterval(function () {
            checkConvertText(id);
        }, 5000);
    }

    function checkConvertText(id){
        $.ajax({
            type: "GET",
            url: '@Url.Action("CheckConvertText", "Live")',
            data: {"LiveFileID": id},
            success: function (response) {
                if (response == 1) {
                    CommonJS.alert("Chuyển đổi text sang audio thành công");
                    clearInterval(intervalCheckConvert);
                    $("#btnConvertText").removeAttr("disabled");
                    $('#divConvertText').hide();
                    $("#myModal").modal("toggle");
                    loadLive(@Model.LiveID, 1);
                }
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function onFailConvertText(xhr) {
        CommonJS.alert(xhr.responseText);
        $("#btnConvertText").removeAttr("disabled");
        $('#divConvertText').hide();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
