﻿@using eStream.Common.CommonClass;
@using eStream.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    PagedList<LiveModel> paginate = ViewData["listPlayingLive"] as PagedList<LiveModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "gridLive"
                          );

    grid.Bind(paginate,
    autoSortAndPage: false,
    rowCount: paginate.Count);
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Danh sách đơn vị đang phát trực tiếp</h4>
        </div>
        <div class="modal-body">
            @if (paginate.Count > 0)
            {
                <div class="row">
                    <div class="col-md-12">
                        @{
                            var gridColumns = new List<WebGridColumn>
                                      ();
                            gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                            + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                            * grid.RowsPerPage * grid.PageIndex));
                            gridColumns.Add(grid.Column("UnitName", "Tên đơn vị"));
                            gridColumns.Add(grid.Column(header: "Nguồn phát", format:@<text>
                            @if (item.LiveSource == GlobalConstant.LIVE_SOURCE_FILE)
                            {
                                <span class="label label-success">Từ file</span>
                            }
                            else if (item.LiveSource == GlobalConstant.LIVE_SOURCE_VOV)
                            {
                                <span class="label label-info">Kênh chuyển tiếp</span>
                            }
                            else if (item.LiveSource == GlobalConstant.LIVE_SOURCE_STREAMING)
                            {
                                <span class="label label-warning">Từ Microphone</span>
                            }
                                        </text>));

                            @grid.GetHtml(htmlAttributes: new { id = "gridLive" },
                                                    fillEmptyRows: false,
                                                    tableStyle: "table table-hover table-striped",
                                                    footerStyle: "table-pager",
                                                    alternatingRowStyle: "altRow",
                                                    selectedRowStyle: "selectRow",
                                                    columns: gridColumns)
                        }

                    </div>
                    <div class="col-md-12">
                        <div class="pagination">
                            @Html.PagedListPager(paginate, page => Url.Action("GetPlayingLive",
                            new
                            {
                                page,
                                pageSize = paginate.PageSize

                            }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "divGridUnit" }))
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
