﻿@using eStream.Common.CommonClass;
@using eStream.Models;
@{
    List<LiveModel> listLive = ViewData["listLive"] as List<LiveModel>;
    if (listLive == null)
    {
        listLive = new List<LiveModel>();
    }
    long? liveID = ViewData["nowLiveID"] as long?;
}
@if (listLive.Any())
{
    <div class="ibox">
        <div class="ibox-content no-padding">
            <div class="list-group">
                @foreach (var item in listLive)
                {
                    string activeClass = string.Empty;
                    if (item.LiveID == liveID.GetValueOrDefault())
                    {
                        activeClass = "active";
                    }
                    string badgeClass = string.Empty;
                    string statusName = "Đang cấu hình";
                    if (item.Status == GlobalConstant.LIVE_WAIT)
                    {
                        badgeClass = "badge-success";
                        statusName = "Chưa phát";
                    }
                    else if (item.Status == GlobalConstant.LIVE_PLAYING)
                    {
                        badgeClass = "badge-primary";
                        statusName = "Đang phát";
                    }
                    else if (item.Status == GlobalConstant.LIVE_STOPED)
                    {
                        badgeClass = "badge-warning";
                        statusName = "Đã kết thúc";
                    }
                    <a href="javascript:void(0)" id="aLiveLi_@item.LiveID" onclick="loadLive(@item.LiveID); loadLiveName('@item.LiveID')" class="list-group-item @activeClass">
                        @item.CreatedDate.Value.ToString("dd/MM/yyyy") <span class="badge @badgeClass">@statusName</span>
                        <br />
                        <small>@item.LiveID</small>
                    </a>
                }
            </div>
        </div>
    </div>
}
