﻿@using eStream.Common.CommonClass;
@using eStream.Common.CommonObject;
@using eStream.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    /**/

    /**/

    UserInfoBO user = SessionManager.GetUserInfoBO();
    PagedList<DeviceModel> paginate = ViewData["listDevice"] as PagedList<DeviceModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "gridDevice"
                          );

    grid.Bind(paginate,
    autoSortAndPage: false,
    rowCount: paginate.Count);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column(header: "Tên thiết bị", format: @<text>
    <input type="hidden" value="@item.DeviceID" name="deviceIds" />
    @item.DeviceNameWithVolume
    @if (item.StatusBO.IsVolumeOn(1))
    {
        <i id="volstatus_1_@item.DeviceID" class="fa fa-volume-down" style="color:#1ab394;font-size:14px">
            &nbsp;
        </i>
    }
    else
    {
        <i id="volstatus_1_@item.DeviceID" class="fa fa-volume-down">
            &nbsp;
        </i>
    }
    @if (item.StatusBO.IsVolumeOn(2))
    {
        <i id="volstatus_2_@item.DeviceID" class="fa fa-volume-down" style="color:#1ab394;font-size:14px">
            &nbsp;
        </i>
    }
    else
    {
        <i id="volstatus_2_@item.DeviceID" class="fa fa-volume-down">
            &nbsp;
        </i>
    }
    @if (item.StatusBO.IsVolumeOn(3))
    {
        <i id="volstatus_3_@item.DeviceID" class="fa fa-volume-down" style="color:#1ab394;font-size:14px">
            &nbsp;
        </i>
    }
    else
    {
        <i id="volstatus_3_@item.DeviceID" class="fa fa-volume-down">
            &nbsp;
        </i>
    }
    @if (item.StatusBO.IsVolumeOn(4))
    {
        <i id="volstatus_4_@item.DeviceID" class="fa fa-volume-down" style="color:#1ab394;font-size:14px"> )</i>
    }
    else
    {
        <i id="volstatus_4_@item.DeviceID" class="fa fa-volume-down"> )</i>
    }
        </text>));
 gridColumns.Add(grid.Column(header: "Trạng thái", style: "with-10", format: @<text>
    @if (item.StatusBO.IsPlaying == GlobalConstant.IS_ACTIVE)
    {
        <span class="label badge label-primary" id="status_@item.DeviceID" style="width:40px">Bật</span>
    }
    else if (item.StatusBO.IsStop == GlobalConstant.IS_ACTIVE)
    {
        <span class="label badge label-danger" id="status_@item.DeviceID" style="width:40px">Tắt</span>
    }
    else
    {
        <span class="label badge label-default" id="status_@item.DeviceID" style="width:40px">N/A</span>
    }
</text>));
gridColumns.Add(grid.Column(header: "Kết nối", style: "with-10", format: @<text>

    @if (item.StatusBO.IsOnline == GlobalConstant.IS_ACTIVE)
    {
        <span class="label badge label-primary" id="online_@item.DeviceID" style="width:40px">Có</span>
    }
    else
    {
        <span class="label badge label-default" id="online_@item.DeviceID" style="width:40px">Không</span>
    }
</text>));
gridColumns.Add(grid.Column(header: "Mạng", format: @<text>
    <div id="netdisClass_@item.DeviceID" class="@item.DeviceExt.Display.ClassDis"></div><div id="netdisText_@item.DeviceID">@item.DeviceExt.Display.SortDis</div>
</text>));
gridColumns.Add(grid.Column(header: "Thao tác", style: "with-20", format: @<text>
    <a href="javascript:void(0)" id="btnChangeVolumeSlider_@item.DeviceID" rel="popover">
        <i class="fa fa-volume-up" style="font-size:14px"></i> @item.Volume
    </a>
    <script>
        $(document).ready(function () {
            $("#btnChangeVolumeSlider_@item.DeviceID").popover({
                html: true,
                animation: false,
                content: '<input type="range" class="slider" style="background-image:-webkit-gradient(linear, left top, right top, color-stop(@item.VolumePercent, #1c84c6), color-stop(@item.VolumePercent, #C5C5C5))" id="range_@item.DeviceID" value="@item.Volume" onchange="setVolume(this, @item.DeviceID)" oninput="showVal(this, @item.DeviceID)" slider_device="@item.DeviceID" data-orientation="vertical" min="0" max="100" step="1" />',
                placement: "top"
            });
        });
    </script>
    <a href="javascript:void(0)" onclick="viewInfo(@item.DeviceID)" data-toggle="modal" data-target="#modal-log" title="Thông tin thiết bị"><i class="fa fa-info-circle" style="font-size:18px"></i></a>
    <a href="javascript:void(0)" onclick="viewChart(@item.DeviceID, '', 0)" data-toggle="modal" data-target="#modal-log" title="Biểu đồ hoạt động"><i class="fa fa-bar-chart" style="font-size:18px"></i></a>
    <a href="javascript:void(0)" onclick="viewLog(@item.DeviceID)" data-toggle="modal" data-target="#modal-log" title="Xem log thiết bị"><i class="fa fa-history" style="font-size:18px"></i></a>
    @if (item.DeviceExt.Loc != null && item.DeviceExt.Loc.Lat != "" && item.DeviceExt.Loc.Long != "")
    {
        <a id="viewLoc_@item.DeviceID" onclick="viewLoc(this, '@item.DeviceName','@item.DeviceExt.Loc.Lat', '@item.DeviceExt.Loc.Long')" title="Xem vị trí thiết bị"><i class="fa fa-map-marker" style="font-size:18px"></i></a>
    }
    else
    {
        <a id="viewLoc_@item.DeviceID" onclick="viewLoc(this, '@item.DeviceName','@item.DeviceExt.Loc.Lat', '@item.DeviceExt.Loc.Long')" class="disabled-icon" title="Xem vị trí thiết bị"><i class="fa fa-map-marker" style="font-size:18px"></i></a>
    }
    @if (item.DeviceExt.ProName != "")
    {
        <a id="viewSms_@item.DeviceID" onclick="viewSms(this, @item.DeviceID)" title="Quản lý SMS của thiết bị"><i class="fa fa-telegram" style="font-size:18px"></i></a>
    }
    else
    {
        <a id="viewSms_@item.DeviceID" onclick="viewSms(this, @item.DeviceID)" class="disabled-icon" title="Quản lý SMS của thiết bị"><i class="fa fa-telegram" style="font-size:18px"></i></a>
    }
</text>));

@grid.GetHtml(htmlAttributes: new { id = "gridDevice" },
                        fillEmptyRows: false,
                        tableStyle: "table table-striped table-hover",
                        alternatingRowStyle: "altRow",
                        selectedRowStyle: "selectRow",
                        columns: gridColumns)
<div class="pagination">
    @Html.PagedListPager(paginate, page => Url.Action("SearchDevice",
                            new
                            {
                                SearchDeviceName = ViewBag.DeviceName,
                                UnitID = ViewBag.UnitID,
                                Status = ViewBag.Status,
                                Connect = ViewBag.Connect,
                                page,
                                pageSize = paginate.PageSize

                            }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "divListDevice" }))
</div>
}
else
{
<div style="color:red; margin-left:10px;">
    Không có thiết bị nào
</div>
}
}
<script type="text/javascript">
    function showVal(item, deviceID) {
        var val = (item.value - $(item).attr('min')) / ($(item).attr('max') - $(item).attr('min'));
        $(item).css('background-image',
            '-webkit-gradient(linear, left top, right top, '
            + 'color-stop(' + val + ', #1c84c6), '
            + 'color-stop(' + val + ', #C5C5C5)'
            + ')'
        );
        $('#btnChangeVolumeSlider_' + deviceID).html('<i class="fa fa-volume-up" style="font-size:14px;"></i> ' + item.value);
    }

    function setVolume(item, deviceID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveVolume", "Manager")',
            data: { "DeviceID": deviceID, "Volume": item.value },
            success: function (msg) {
                CommonJS.alert(msg);
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }
</script>
