﻿@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@using eStream.Models
@using Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserInfoBO user = SessionManager.GetUserInfoBO();
    string unitName = string.Empty;
    int unitID = 0;
    if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
    {
        List<UnitModel> listDistrict = ViewData["listDistrict"] as List<UnitModel>;
        if (listDistrict != null && listDistrict.Count > 1)
        {
            unitName = listDistrict[1].UnitName;
            unitID = listDistrict[1].UnitID;
        }
    }
    else
    {
        List<UnitModel> listCommune = ViewData["listCommune"] as List<UnitModel>;
        if (listCommune != null && listCommune.Count > 1)
        {
            unitName = listCommune[1].UnitName;
            unitID = listCommune[1].UnitID;
        }
    }
    var live = ViewData["nowLive"] as LiveModel;
    long liveID = live == null ? 0 : live.LiveID;
    int hasLive = live != null ? GlobalConstant.IS_ACTIVE : 0;
    string displayTitle = live != null ? string.Empty : " none";
    var systemConfig = ViewData["systemConfig"] as SystemConfig;
    int timeRefresh = systemConfig == null || systemConfig.RefreshTime.GetValueOrDefault() == 0 ? GlobalConstant.DEFAULT_TIME_REFRESH : 1000 * systemConfig.RefreshTime.GetValueOrDefault();
    int streamingInterval = systemConfig == null || systemConfig.StreamingInterval.GetValueOrDefault() == 0 ? GlobalConstant.DEFAULT_STREAMING_INTERVAL : 1000 * systemConfig.StreamingInterval.GetValueOrDefault();
    int streamingBitrate = systemConfig == null || systemConfig.StreamingBitrate.GetValueOrDefault() == 0 ? GlobalConstant.DEFAULT_STREAMING_BITRATE : 1000 * systemConfig.StreamingBitrate.GetValueOrDefault();
    int streamingStereo = systemConfig == null || systemConfig.StreamingStereo.GetValueOrDefault() == 0 ? GlobalConstant.DEFAULT_STREAMING_STREO : systemConfig.StreamingStereo.GetValueOrDefault();
    string title = "Cấu hình phát trực tiếp";
    var status = -1000;
    if (live != null)
    {
        status = live.Status.GetValueOrDefault();
    }
}
<style>
    .iradio_square-green.checked {
        background-position: -168px 0 !important;
    }
</style>
<script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.0/jszip.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" id="divTitle">
                <h5 id="hTitle">@title</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            @if (user.UnitLevel != GlobalConstant.UNIT_TYPE_VILLAGE)
            {
                if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
                {
                    <div class="col-md-12" id="divProvince">
                        @Html.Partial("../User/_Unit", ViewData["listDistrict"])
                    </div>
                }
                <div class="col-md-12" id="divDistrict">
                    @Html.Partial("../User/_Unit", ViewData["listCommune"])
                </div>
            }
        </div>
    </div>
    <div class="col-md-9">
        <div class="row" id="divAllLiveContent" style="display:@displayTitle">

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        @if (!string.IsNullOrWhiteSpace(unitName))
                        {
                            <h5 id="divDeviceTitle">Danh sách thiết bị @unitName</h5>
                        }
                        else
                        {
                            <h5 id="divDeviceTitle">Danh sách thiết bị</h5>
                        }
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                @using (Ajax.BeginForm("SearchDevice", "Manager", new AjaxOptions
                                {
                                    HttpMethod = "post",
                                    UpdateTargetId = "divListDevice"
                                }, new { id = "frmSearch" }))
                                {
                                    <input type="hidden" name="UnitID" id="UnitID" value="@unitID" />
                                    <input type="hidden" name="LiveID" id="LiveID" value="@liveID" />
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            @Html.Label("Tên, mã thiết bị:", new { @class = "control-label col-md-2" })
                                            <div class="col-md-3">
                                                <input id="SearchDeviceName" name="SearchDeviceName" class="form-control" placeholder="Tên thiết bị, mã thiết bị" type="text" />
                                            </div>
                                            <div class="col-md-7">
                                                <label class="control-label col-md-2">T.T phát</label>
                                                <div class="col-md-4">
                                                    @Html.DropDownList("Status", GlobalCommon.DeviceStatus(), new { @class = "form-control chosen-select", style = "width: 100%" })
                                                </div>
                                                <label class="control-label col-md-2">Kết nối</label>
                                                <div class="col-md-4">
                                                    @Html.DropDownList("Connect", GlobalCommon.Connects(), new { @class = "form-control chosen-select", style = "width: 100%" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-bottom: 0px !important">
                                            <div class="col-md-12 text-center">
                                                <button class="btn btn-primary" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        @*<div class="row">
                                <div class="col-md-12">
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-default btn-sm" onclick="checkAll(this, true)"><i id="iAll" class="fa fa-square-o"></i></button>
                                    </div>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-md-12" id="divListDevice">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-live" class="modal fade" data-backdrop="static" role="dialog">
</div>
<div id="modal-log" class="modal fade" role="dialog">
</div>
<div id="modal-audio" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
</div>
<div id="modal-info" class="modal fade" role="dialog">
</div>
<div id="modal-sms" class="modal fade" role="dialog">
</div>
<div id="modal-map" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="mapModalTitle"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #btnGroupDiv .popover-content {
        width: 160px !important;
    }

    #map {
        height: 500px;
        width: 100%;
    }

    .trans {
        width: 100%;
        color: #676a6c;
        background: transparent;
        border: none;
        outline: none;
        resize: none;
    }

    .disabled-icon {
        color: #d2d2d2;
    }

    .disabled-icon :hover {
        color: #d2d2d2;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqG4dTLbByiAPzvAR4zvMfA_Jmc9nAJd8&callback=initMap&libraries=&v=weekly"
        async></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("select").chosen({ width: "100%" });
        var unitLevel = @user.UnitLevel;
        var hasLive = '@hasLive';
        var status = '@status';
        if(unitLevel == '@GlobalConstant.UNIT_TYPE_PROVINCE'){
            $("#UnitID").change(function () {
                searchDevice();
            });
        }
        setInterval(function () {
            refreshStatus();
        }, @timeRefresh);
        if (hasLive == '@GlobalConstant.IS_ACTIVE') {
            loadLive(@liveID, 1);
            var hasFile = $("#hasFile").val();
            if (hasFile) {
                $('#btnReplayFromStart').show();
            } else {
                $('#btnReplayFromStart').hide();
            }
            if (status == '@GlobalConstant.LIVE_PLAYING') {
                $("#btnLoadEditLive").hide();
            } else {
                $("#btnLoadEditLive").show();
            }
            if (@live.Status == @GlobalConstant.LIVE_PLAYING && @live.LiveSource.GetValueOrDefault() == @GlobalConstant.LIVE_SOURCE_STREAMING) {
                startRecording();
            }
        }
        $(document).on('hide.bs.modal', '#modal-sms', function () {
            if (smsInterval) {
                clearInterval(smsInterval);
            }
        });
        $(document).on('hide.bs.modal', '#modal-info', function () {
            if (infoInterval) {
                clearInterval(infoInterval);
            }
        });
        searchDevice();
    });

    var smsInterval;
    var infoInterval;
    var map;
    var geocoder;
    var infowindow;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 8,
            center: { lat: 40.731, lng: -73.997 },
        });
        geocoder = new google.maps.Geocoder();
        infowindow = new google.maps.InfoWindow();
    }

    function geocodeLatLng(lat, lng) {
        const latlng = {
            lat: parseFloat(lat),
            lng: parseFloat(lng),
        };
        geocoder.geocode({ location: latlng }, (results, status) => {
            if (status === "OK") {
                if (results[0]) {
                    map.setZoom(11);
                    const marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                    });
                    infowindow.setContent(results[0].formatted_address);
                    infowindow.open(map, marker);
                } else {
                    window.alert("No results found");
                }
            } else {
                window.alert("Geocoder failed due to: " + status);
            }
        });
    }

    function searchSms(){
        var DeviceID = $("#smsDeviceID").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("SearchSms", "Manager")',
            data: {"DeviceID" : DeviceID},
            success: function (data) {
                $("#divDetailSms").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function checkSearchSms(){
        var deviceID = $("#smsDeviceID").val();
        var lastSmsID = $("#lastSmsID").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("CheckSearchSms", "Manager")',
            data: { "deviceID": deviceID, "lastId": lastSmsID},
            success: function (data) {
                if (data > 0) {
                    $("#lastSmsID").val(data);
                    searchSms();
                }
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function viewSms(item, id) {
        if ($(item).hasClass("disabled-icon")) {
            return;
        }
        $.ajax({
            type: "GET",
            url: '@Url.Action("ViewSms", "Manager")',
            data: { "DeviceID": id },
            success: function (data) {
                $("#modal-sms").html(data);
                $("#modal-sms").modal("toggle");
                smsInterval = setInterval(function () {
                    checkSearchSms();
                }, @timeRefresh);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function viewLoc(item, name, lat, lng) {
        if ($(item).hasClass("disabled-icon")) {
            return;
        }
        $("#modal-map").modal("toggle");
        $('#mapModalTitle').html('Vị trí thiết bị ' + name);
        geocodeLatLng(lat, lng);
    }

    function setParent(id) {
        $("#frmSearch #unitID").val(id);
        searchDevice();
    }

    function searchDevice() {
        $("#frmSearch").submit();
    }

    function loadLiveName(name) {
        if (name) {
            $("#hTitle").html("Cấu hình phát trực tiếp: " + name);
        } else {
            $("#hTitle").html("Cấu hình phát trực tiếp");
        }
    }

    function saveDraff() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveDraffLive", "Live")',
            success: function (data) {
                CommonJS.alert("Thêm mới lịch phát trực tiếp thành công");
                loadLive(data);
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function countDevice(liveID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("CountDevice", "Live")',
            data: {"liveID" : liveID},
            success: function (data) {
                if (data > 0) {
                    $($("input[name='LiveType']")[0]).iCheck('enable');
                    $($("input[name='LiveType']")[0]).iCheck('check');
                    $($("input[name='LiveType']")[1]).iCheck('uncheck');
                } else {
                    $($("input[name='LiveType']")[0]).iCheck('disable');
                    $($("input[name='LiveType']")[0]).iCheck('uncheck');
                    $($("input[name='LiveType']")[1]).iCheck('check');
                }
                $("#labelType").contents().last()[0].textContent = data + " thiết bị";
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function loadLive(liveID, isEdit, liveName) {
        if (liveID > 0) {
            var item = $("#aLiveLi_" + liveID).get();
            setActive(item);
            $("#frmSearch #LiveID").val(liveID);
            if(!isEdit) {
                isEdit = 0;
                $("#btnLoadEditLive").show();
            } else {
                isEdit = 1;
                $("#btnLoadEditLive").hide();
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("OpenLivePop", "Live")',
                data: {"liveID" : liveID, "isEdit": isEdit},
                success: function (data) {
                    for (var i = 0; i <= 1; i++) {
                        $("#divTitle").next("div").remove();
                    }
                    $("#divTitle").after(data);
                    if (liveName != undefined) {
                        $("#divLiveInfo #LiveName").val(liveName);
                    }
                    searchDevice();
                },
                error: function (e) {
                    CommonJS.alert(e.responseText);
                }
            });
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetLiveID", "Live")',
                success: function (data) {
                    loadLive(data);
                },
                error: function (e) {
                    CommonJS.alert(e.responseText);
                }
            });
        }
    }

    function loadLiveEdit() {
        loadLive($("#frmSearch #LiveID").val(), 1);
    }

    function loadLiveView() {
        loadLive($("#frmSearch #LiveID").val());
    }

    function delLive() {
        if(!confirm("Bạn có chắc chắn muốn xóa chương trình phát trực tiếp?")) {
            return false;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("RemoveDraffLive", "Live")',
            data: {"liveID" : $("#frmSearch #LiveID").val()},
            success: function (data) {
                CommonJS.alert(data);
                $("#frmSearch #LiveID").val("");
                loadLive(0);
                searchDevice();
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function checkAll(item, checked) {
        var isEdit = $('#isEdit').val();
        if (isEdit == 0) {
            return false;
        }
        var items = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']");
        var deviceIds = [];
        for(var i = 0; i < items.length; i++){
            deviceIds.push($(items[i]).val());
        }
        var actionName = "";
        if (checked) {
            $("#iAll").attr("class", "fa fa-check-square-o");
            actionName = "ChooseDevice"
        } else {
            $("#iAll").attr("class", "fa fa-square-o");
            actionName = "RemoveDevice";
        }
        $("#gridDevice tbody input:checkbox[name='deviceIds']").prop("checked", checked);
        checked = !checked;
        $(item).attr("onclick", "checkAll(this, " + checked + ")");
        var liveId = $("#frmSearch #LiveID").val();
        $.ajax({
            type: "POST",
            url: '/Live/' + actionName,
            data: {"deviceIds": deviceIds, "liveID" : liveId},
            success: function (data) {
                countDevice(liveId);
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function checkOne(item) {
        var isEdit = $('#isEdit').val();
        if (isEdit == 0) {
            if ($(item).is(':checked')) {
                $(item).prop("checked", false);
            } else {
                $(item).prop("checked", true);
            }
            return false;
        }
        var deviceIds = [];
        deviceIds.push($(item).val());
        var actionName = "";
        $("#iAll").parent().attr("onclick", "checkAll(this, true)");
        if (!$(item).is(':checked')) {
            actionName = "RemoveDevice";
            $("#iAll").attr("class", "fa fa-square-o");
        } else {
            actionName = "ChooseDevice"
            if ($("#gridDevice tbody input:checkbox[name='deviceIds']:checked").length == $("#gridDevice tbody input:checkbox[name='deviceIds']").length) {
                $("#iAll").attr("class", "fa fa-check-square-o");
                $("#iAll").parent().attr("onclick", "checkAll(this, false)");
            }
        }
        var liveId = $("#frmSearch #LiveID").val();
        $.ajax({
            type: "POST",
            url: '/Live/' + actionName,
            data: {"deviceIds": deviceIds, "liveID" : liveId},
            success: function (data) {
                countDevice(liveId);
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function choiceUnit(item, unitName, isLoadChild) {
        @*var liveStatus = $('#hidLiveStatus').val();
        if (liveStatus == @GlobalConstant.LIVE_PLAYING) {
            return false;
        }*@
        $('#divDeviceTitle').html("Danh sách thiết bị " + unitName);
        var id = $(item).attr('val');
        setUnitAndSearch(item);
        if (isLoadChild != undefined && isLoadChild != null && isLoadChild == 1) {
            if(id > 0){
                // Load lai cay don vi
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadUnit", "User")',
                    data: {"UnitID" : id},
                    success: function (data) {
                        $("#divDistrict").html(data);
                    },
                    error: function (xhr) {
                        CommonJS.alert(xhr.responseText, false);
                    }
                });
                @*// Cap nhat pham vi
                var curUnitID = $('#hidLiveUnitID');
                if (curUnitID != id) {
                    var liveId = $("#frmSearch #LiveID").val();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("UpdateUnit", "Live")',
                        data: { "unitID": id, "liveID": liveId },
                        success: function (data) {
                            CommonJS.alert(data);
                        },
                        error: function (xhr) {
                            CommonJS.alert(xhr.responseText, false);
                        }
                    });
                }*@
            } else {
                $("#divDistrict").html("");
            }
        }
    }

    function setUnitAndSearch(item) {
        var id = $(item).attr('val');
        $("#frmSearch #UnitID").val(id);
        // Thiet lap active
        setActive(item);
        // Tim kiem thiet bi
        searchDevice();
    }

    function setActive(item) {
        var li = $(item).parent();
        $(item).removeClass("active");
        li.find("a").each(function () {
            $(this).removeClass("active");
            var i = $(this).find("i:first");
            var iClass = i.attr('class');
            if (iClass != undefined && iClass != '') {
                i.removeClass(iClass);
                iClass = iClass.replace(/\-o/g, "");
                i.addClass(iClass);
            }
        });
        $(item).addClass("active");
        var iChild = $(item).find("i:first");
        var iChildClass = iChild.attr('class');
        if (iChildClass != undefined && iChildClass != '') {
            if (!iChildClass.endsWith("-o")) {
                iChild.removeClass(iChildClass);
                iChildClass += "-o";
                iChild.addClass(iChildClass);
            }
        }
    }

    function viewInfo(id){
        $.ajax({
            type: "GET",
            url: '@Url.Action("ViewInfo", "Manager")',
            data: {"DeviceID" : id},
            success: function (data) {
                $("#modal-log").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function loadFile(id){
        $.ajax({
            type: "GET",
            url: '@Url.Action("LoadFile", "Live")',
            data: {"liveID" : id},
            success: function (data) {
                $("#divFile").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function publish(){
        var liveID = $("#frmSearch #LiveID").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("PublishLive", "Live")',
            data: {"LiveID" : liveID},
            success: function (data) {
                CommonJS.alert(data);
                loadLive(liveID);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function deleteFile(id){
        $.ajax({
            type: "GET",
            url: '@Url.Action("DeleteFile", "Live")',
            data: {"LiveFileID" : id},
            success: function (data) {
                CommonJS.alert(data);
                var liveID = $("#frmSearch #LiveID").val();
                loadLive(liveID, 1, $("#divLiveInfo #LiveName").val());
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function refreshStatus() {
        var deviceIds = $("#gridDevice tbody").find("input:hidden[name='deviceIds']");
        if (deviceIds.length == 0) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("RefreshStatus", "Manager")',
            data: deviceIds,
            success: function (data) {
                for(var i = 0; i < data.length; i++){
                    var status = data[i];
                    $('#status_' + status.ID).attr('class', '');
                    if (status.IsPlaying == 0) {
                        if (status.IsStop == 0) {
                            $('#status_' + status.ID).addClass('label badge label-default');
                            $('#status_' + status.ID).html(status.PlayingName);
                        } else {
                            $('#status_' + status.ID).addClass('label badge label-danger');
                            $('#status_' + status.ID).html(status.PlayingName);
                        }
                    } else {
                        $('#status_' + status.ID).addClass('label badge label-primary');
                        $('#status_' + status.ID).html(status.PlayingName);
                    }
                    $('#online_' + status.ID).attr('class', '');
                    if (status.IsOnline == 0) {
                        $('#online_' + status.ID).addClass('label badge label-default');
                        $('#online_' + status.ID).html(status.OnlineName);
                    } else {
                        $('#online_' + status.ID).addClass('label badge label-primary');
                        $('#online_' + status.ID).html(status.OnlineName);
                    }
                    var volStatus = status.VolumeStatus;
                    $('#volstatus_1_' + status.ID).removeAttr('style');
                    $('#volstatus_2_' + status.ID).removeAttr('style');
                    $('#volstatus_3_' + status.ID).removeAttr('style');
                    $('#volstatus_4_' + status.ID).removeAttr('style');
                    if (volStatus[0] != '0') {
                        $('#volstatus_1_' + status.ID).attr('style', 'color:#1ab394;font-size:14px;');
                    }
                    if (volStatus[1] != '0') {
                        $('#volstatus_2_' + status.ID).attr('style', 'color:#1ab394;font-size:14px;');
                    }
                    if (volStatus[2] != '0') {
                        $('#volstatus_3_' + status.ID).attr('style', 'color:#1ab394;font-size:14px;');
                    }
                    if (volStatus[3] != '0') {
                        $('#volstatus_4_' + status.ID).attr('style', 'color:#1ab394;font-size:14px;');
                    }
                    $('#netdisClass_' + status.ID).attr('class', '');
                    $('#netdisClass_' + status.ID).attr('class', status.NetDisClass);
                    $('#netdisText_' + status.ID).html(status.NetDisText);
                    $('#viewLoc_' + status.ID).attr('class', '');
                    if (status.DisMap == 0) {
                        $('#viewLoc_' + status.ID).attr('class', 'disabled-icon');
                    }
                    $('#viewSms_' + status.ID).attr('class', '');
                    if (status.DisSms == 0) {
                        $('#viewSms_' + status.ID).attr('class', 'disabled-icon');
                    }
                }
            },
            error: function (e) {
                // ignored
            }
        });
    }

    function searchLog() {
        var DeviceID = $("#logDeviceID").val();
        var LogType = $("#LogType").val();
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("SearchLog", "Manager")',
            data: {"DeviceID" : DeviceID, "LogType": LogType, "FromDate": FromDate, "ToDate": ToDate},
            success: function (data) {
                $("#divDetailLog").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function viewLog(id){
        $.ajax({
            type: "GET",
            url: '@Url.Action("ViewLog", "Manager")',
            data: {"DeviceID" : id},
            success: function (data) {
                $("#modal-log").html(data);
                searchLog();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function viewChart(id, fromDate, type) {
        var reportType = 0;
        if($("#ReportType") != undefined && $("#ReportType") != null && $("#ReportType").val() != undefined && $("#ReportType").val() != ''){
            reportType = $("#ReportType").val();
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewChart", "Manager")',
            data: {"DeviceID" : id, "FromDate": fromDate, "ReportType": reportType, "Type": type},
            success: function (data) {
                $("#modal-log").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function genChart(result, chartTitle) {
        var labels = [];
        var values = [];
        var colors = [];
        $.each(result, function (k, v) {
            labels.push(v.Label);
            values.push(v.Value);
            colors.push("#3e95cd");
        });
        var reportType = $('#ReportType').val();
        if(reportType == '@GlobalConstant.REPORT_TYPE_MONTH'){
            chartTitle = " từ tháng 1 - tháng 12 năm " + chartTitle;
        }
        new Chart($("#barChart"), {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                  {
                      label: "Thời gian hoạt động (giờ)",
                      backgroundColor: colors,
                      data: values
                  }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: { display: false },
                title: {
                    display: true,
                    text: "Biểu đồ hoạt động (giờ) " + chartTitle
                }
            }
        });
    }

    function capturemicrophone(callback) {
        navigator.mediaDevices.getUserMedia({ audio: true }).then(function (microphone) {
            callback(microphone);
        }).catch(function (error) {
            console.error(error);
        });
    }

    function stopRecordingCallback() {
        recordAudio.microphone.stop();
        recordAudio = null;
    }

    var recordAudio;
    function startRecording() {
        capturemicrophone(function (microphone) {
            recordAudio = RecordRTC(microphone, {
                type: 'audio',
                bufferSize: 16384,
                recorderType: StereoAudioRecorder,
                streamingStereo: @streamingStereo,
                desiredSampRate: @streamingBitrate,
                timeSlice: @streamingInterval, // pass this parameter
                ondataavailable: function (blob) {
                    var fileName = (Math.round(Math.random() * 99999999) + 99999999) + '.wav';
                    var zip = new JSZip();
                    // Add the file that needs to be compressed file object
                    zip.file(fileName, blob);
                    zip.generateAsync({
                        type: "blob", compression: "DEFLATE", compressionOptions: {
                            level: 9
                        }}).then(function (content) {
                        var fileData = new FormData();
                        fileData.append('audio-filename', fileName);
                        fileData.append('audio-blob', content);
                        fileData.append('liveID', @liveID);
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("StreamingUpload", "Live")',
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (msg) {
                                if (msg == 'stoprecord') {
                                    stopStreaming();
                                    loadLive(@liveID);
                                }
                            },
                        });
                    });
                }
            });
            recordAudio.microphone = microphone;
            recordAudio.startRecording();
        });
    }

    function stopStreaming() {
        if (recordAudio != undefined && recordAudio != null) {
            recordAudio.stopRecording(stopRecordingCallback);
        }
    }
</script>
