﻿@using eStream.Models
@using eStream.Common.CommonClass
@{
    List<UnitOrderModel> listUnitOrder = ViewData["listUnitOrder"] as List<UnitOrderModel>;
    Dictionary<int, string> dicOrder = new Dictionary<int, string>();
    dicOrder[GlobalConstant.UNIT_TYPE_PROVINCE] = "Tỉnh";
    dicOrder[GlobalConstant.UNIT_TYPE_DISTRICT] = "Huyện/Thành phố";
    dicOrder[GlobalConstant.UNIT_TYPE_COMMUNE] = "Xã/Phường";
    dicOrder[GlobalConstant.UNIT_TYPE_VILLAGE] = "Thôn/Xóm";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-center" style="width: 100px!important">
                Thứ tự phát
            </th>
            <th>
                Cấp
            </th>
            <th class="pull-right">
                <i class="fa fa-sort-alpha-asc"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var unitOrder in listUnitOrder)
        {
            <tr>
                <td class="text-center">
                    <span class="label label-success">@unitOrder.NumberOrder</span>
                </td>
                <td>
                    @dicOrder[unitOrder.UnitType]
                </td>
                <td>
                    <span class="pull-right">
                        @if (unitOrder.NumberOrder > 1)
                        {
                            <button class="btn btn-xs btn-primary" title="Chuyển lên" onclick="move(@unitOrder.UnitType, 1)"><i class="fa fa-angle-double-up"></i></button>
                        }
                        @if (unitOrder.NumberOrder < 4)
                        {
                            <button class="btn btn-xs btn-primary" title="Chuyển xuống" onclick="move(@unitOrder.UnitType, -1)"><i class="fa fa-angle-double-down"></i></button>
                        }
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
