﻿@using eStream.Common.CommonClass
@using eStream.Models
@using Model
@model SystemConfigModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isUseOTP = Model.IsUseOTP ? GlobalConstant.IS_ACTIVE : 0;
}
@using (Ajax.BeginForm("SaveConfig", "Config", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h4>Cấu hình chung</h4>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="i-checks">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.IsUseOTP) Sử dụng OTP cho đăng nhập
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" id="InpExpOTP">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="exampleInputName2">Thời gian hết hạn</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.ExpOTP, new { @class = "form-control", style = "width: 100%", @id = "ExpOTP" })
                                    <span class="input-group-addon">
                                        Phút
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-footer text-center">
            <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
        </div>
    </div>
}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h4>Cấu hình thứ tự phát</h4>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-12" id="ListUnitOrder">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        changeOTP(@isUseOTP)
        $('input[name="IsUseOTP"]').on('ifClicked', function (event) {
            changeOTP(!event.target.checked);
        });
        searchUnitOrder();
    });

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }
    function onSuccess(msg) {
        CommonJS.alert(msg);
        searchSchedule();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }

    function searchUnitOrder() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("LoadUnitOrder", "Config")',
            success: function (result) {
                $("#ListUnitOrder").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function move(unitType, step) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Move", "Config")',
            data: { 'unitType': unitType, 'step': step },
            success: function (result) {
                CommonJS.alert(result);
                searchUnitOrder();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function changeOTP(checked) {
        if (checked || checked == 1) {
            $("#ExpOTP").val('5');
            $("#InpExpOTP").show();
        } else {
            $("#InpExpOTP").hide();
            $("#ExpOTP").val('');
        }
    }
</script>
