﻿@using eStream.Models
@using eStream.Common.CommonObject
@using eStream.Common.CommonClass
@model UserModel
@{
    UserInfoBO user = SessionManager.GetUserInfoBO();
    List<SelectListItem> listProvince = ViewData["listProvince"] as List<SelectListItem>;
    List<SelectListItem> listDistrict = ViewData["listDistrict"] as List<SelectListItem>;
    List<SelectListItem> listCommune = ViewData["listCommune"] as List<SelectListItem>;
    List<SelectListItem> listVillage = ViewData["listVillage"] as List<SelectListItem>;
}
<style>
    .fullWidth {
        width: 100%;
    }
</style>
@using (Ajax.BeginForm("SaveUser", "User", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail",
}, new { id = "frmCreate" }))
{
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model.UserID > 0)
                {
                    <h4 class="modal-title">Cập nhật tài khoản</h4>
                }
                else
                {
                    <h4 class="modal-title">Cấp tài khoản</h4>
                }
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="addUserName">Tên đăng nhập</label>
                            @if (Model.UserID > 0)
                            {
                                @Html.TextBoxFor(x => x.UserName, new { placeholder = "Tên đăng nhập", @class = "form-control", disabled = "true" })
                                @Html.ValidationMessageFor(x => x.UserName)
                            }
                            else
                            {
                                @Html.TextBoxFor(x => x.UserName, new { placeholder = "Tên đăng nhập", @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.UserName)
                            }
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="addPass">Mật khẩu</label>
                            <div class="input-group">
                                @if (Model.UserID > 0)
                                {
                                    @Html.PasswordFor(x => x.Password, new { placeholder = "Mật khẩu", @class = "form-control" })
                                    <span class="input-group-addon">
                                        <input type="checkbox" id="IsAutoPass" onclick="checkAutoPass(this)" value="false" /> Tự cấp
                                    </span>
                                }
                                else
                                {
                                    @Html.PasswordFor(x => x.Password, new { placeholder = "Mật khẩu", @class = "form-control", disabled = "true" })
                                    <span class="input-group-addon">
                                        <input type="checkbox" checked="checked" id="IsAutoPass" onclick="checkAutoPass(this)" value="true" /> Tự cấp
                                    </span>
                                }

                            </div>
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="addFullName">Họ tên</label>
                            @Html.TextBoxFor(x => x.FullName, new { placeholder = "Họ tên người dùng", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="addPhone">Số điện thoại</label>
                            @Html.TextBoxFor(x => x.PhoneNumber, new { placeholder = "Số điện thoại", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.PhoneNumber)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="addUnit">Tỉnh</label>
                            @Html.DropDownListFor(x => x.ProvinceID, listProvince, new { @class = "form-control chosen-select", style = "width: 100%" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="addUnit">Thành phố/Huyện</label>
                            @Html.DropDownListFor(x => x.DistrictID, listDistrict, new { @class = "form-control chosen-select", style = "width: 100%", onChange = "loadCommune(this)" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="addUnit">Phường/Xã</label>
                            @Html.DropDownListFor(x => x.CommuneID, listCommune, new { @class = "form-control chosen-select", style = "width: 100%", onChange = "loadVillage(this)" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="addUnit">Thôn/Xóm</label>
                            @Html.DropDownListFor(x => x.VillageID, listVillage, new { @class = "form-control chosen-select", style = "width: 100%" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="i-checks"><label>@Html.RadioButtonFor(x => x.Role, GlobalConstant.USER_ROLE_ADMIN) Nhóm quản trị</label></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="i-checks"><label>@Html.RadioButtonFor(x => x.Role, GlobalConstant.USER_ROLE_MANAGER) Nhóm quản lý</label></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="i-checks"><label>@Html.RadioButtonFor(x => x.Role, GlobalConstant.USER_ROLE_MONITOR) Nhóm giám sát</label></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    <i class="fa fa-paperclip"></i> Ảnh đại diện
                                    <input id="txtUploadImage" name="txtUploadImage" type="file">
                                </span>
                            </span>
                            <input name="txtAvatarName" id="txtAvatarName" class="form-control" aria-label="..." placeholder="Ảnh đại diện">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @Html.HiddenFor(model => model.UserID)
                <button type="button" class="btn btn-success" onclick="createOrEditUser()"><i class="fa fa-save"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
    <script type="text/javascript">
    $(document).ready(function () {
        $("select").chosen({ width: "100%" });
        $.validator.unobtrusive.parse("#frmCreate");
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });


    $("#txtUploadImage").change(function () {
        var file = this.files;
        if (file && file[0]) {
            ReadImage(file[0]);
        }
    });

    var ReadImage = function (file) {
        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);
        reader.onload = function (_file) {
            image.src = _file.target.result;
            image.onload = function () {
                $("#txtAvatarName").val(file.name);
            }
        }
    }

    function createOrEditUser() {
        var userName = $("#UserName").val();
        var phoneNumber = $("#PhoneNumber").val();
        var password = $("#Password").val();

        if (userName == null || userName == "") {
            $("#UserName").focus();
            CommonJS.alert("Tên đăng nhập bắt buộc nhập", false);

            return false;
        }

        if (phoneNumber == null || phoneNumber == "") {
            $("#PhoneNumber").focus();
            CommonJS.alert("Chưa nhập số điện thoại", false);
            return false;
        }
        if (!$("#frmCreate #IsAutoPass").is(':checked') && ($("#frmCreate #UserID").val() == '' || $("#frmCreate #UserID").val() <= 0)) {
            if (password == null || password == "") {
                $("#Password").focus();
                CommonJS.alert("Chưa nhập mật khẩu", false);
                return false;
            }
        }

        if (window.FormData !== undefined) {
            var fileData = new FormData();
            var fileUpload = $("#txtUploadImage").get(0);

            var files = fileUpload.files;
            var fileName = $("#txtAvatarName").val();
            fileData.append("UserAvatar", files[0]);
            fileData.append("AvatarName", fileName);
            fileData.append("UserName", userName);
            fileData.append("PhoneNumber", phoneNumber);
            fileData.append("Password", password);
            fileData.append("UserID", $("#frmCreate #UserID").val());
            fileData.append("FullName", $("#frmCreate #FullName").val());
            fileData.append("IsAutoPass", $("#frmCreate #IsAutoPass").val());
            fileData.append("ProvinceID", $("#frmCreate #ProvinceID").val());
            fileData.append("DistrictID", $("#frmCreate #DistrictID").val());
            fileData.append("CommuneID", $("#frmCreate #CommuneID").val());
            fileData.append("VillageID", $("#frmCreate #VillageID").val());
            fileData.append("Role", $("#frmCreate #Role:checked").val());
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveUser", "User")',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (data) {
                    CommonJS.alert(data);
                    searchUser();
                    $("#modal-user").modal("hide");
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText, false);
                }
            });
        }
    }

    function checkAutoPass(item) {
        if ($(item).is(':checked')) {
            $("#frmCreate #Password").attr("disabled", "true");
            $(item).attr("value", "true");
        } else {
            $("#frmCreate #Password").removeAttr("disabled");
            $(item).attr("value", "false");
        }
    }

    function onBegin() {
        if ($("#frmCreate").valid()) {
            return true;
        } else {
            return false;
        }
    }
    function onSuccess(msg) {
        CommonJS.alert(msg);
        $("#frmCreate").trigger('reset');
    }
    function onFail(xhr) {
        CommonJS.alert(xhr.responseText, false);
    }
    function loadCommune(item) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCommune", "User")',
            data: { 'districtID': $(item).val() },
            success: function (result) {
                $("#CommuneID").empty();
                $.each(result, function (k, v) {
                    $("#CommuneID").append('<option value="' + v.UnitID + '">' + v.UnitName + '</option>');
                });
                $('#CommuneID').trigger("chosen:updated");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function loadVillage(item) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetVillage", "User")',
            data: { 'communeID': $(item).val() },
            success: function (result) {
                $("#VillageID").empty();
                $.each(result, function (k, v) {
                    $("#VillageID").append('<option value="' + v.UnitID + '">' + v.UnitName + '</option>');
                });
                $('#VillageID').trigger("chosen:updated");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    </script>
