﻿@using eStream.Models
@using Model;
@using eStream.Common.CommonClass;
@using eStream.Common.CommonObject;
@{


    UserModel member = ViewData["MemberInfoModel"] as UserModel;
    if (member == null)
    {
        member = new UserModel();
    }
    UserInfoBO user = SessionManager.GetUserInfoBO();
}
<div class="text-center">
    @if (member.Avatar != null)
    {
        string imageBase64 = Convert.ToBase64String(member.Avatar);
        string imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
        <img src="@imageSrc" width="110" height="110" class="img-circle" />
    }
    else
    {
        <img src="~/Content/Images/avatar-default.jpg" width="110" height="110" class="img-circle" />
    }
</div>
<h3 class="profile-username text-center">@member.FullName</h3>
<p class="text-muted text-center">@member.Position</p>
<ul class="list-group list-group-unbordered">
    <li class="list-group-item">
        <b><i class="fa fa-user-o"></i> Họ và tên</b> <a class="pull-right">@member.FullName</a>
    </li>
    <li class="list-group-item">
        <b><i class="fa fa-mobile"></i> Số điện thoại</b>
        @if (member.PhoneNumber != null)
        {<a class="pull-right">
                @member.PhoneNumber
            </a>
        }
        else
        {
            <a class="pull-right">
            </a>
        }
    </li>
    <li class="list-group-item">
        <b><i class="fa fa-calendar"></i> Ngày sinh</b> <a class="pull-right">
            @if (member.BirthDay != null)
            {
                @member.BirthDay.Value.ToString("dd/MM/yyyy");
            }
        </a>
    </li>
    <li class="list-group-item">
        <b><i class="fa fa-envelope-o"></i> Email</b> <a class="pull-right">@member.Email</a>
    </li>
    <li class="list-group-item">
        <b><i class="fa fa-child"></i> Giới tính</b>
        @if (member.Sex == 1)
        {
            <a class="pull-right">
                Nam
            </a>
        }
        else
        {
            <a class="pull-right">
                Nữ
            </a>
        }
    </li>
    <li class="list-group-item">
        <b><i class="fa fa-bookmark-o"></i> Chức vụ</b><a class="pull-right">@member.Position</a>
    </li>
    <li class="list-group-item">
        <b><i class="fa fa-map-o"></i> Đơn vị công tác</b><a class="pull-right">@member.WorkPlace</a>
    </li>
    <li class="list-group-item">
        <b><i class="fa fa-user-md"></i> Dân tộc</b><a class="pull-right">@member.Ethnic</a>
    </li>
</ul>
<div class="box-footer text-center no-border">
    <div class="btn-group" role="group">
        @if (user.IsSuperAdmin.GetValueOrDefault() == GlobalConstant.IS_TRUE || user.IsUnitAdmin.GetValueOrDefault() == GlobalConstant.IS_TRUE)
        {
            <button class="btn btn-default" onclick="Comeback()" style="margin-right: 10px;"><i class="fa fa-reply"></i> Quay lại</button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#modal-user" onclick="prepareAddOrEditUser(@member.UserID)"><i class="fa fa-edit"></i> Chỉnh sửa</button>
            @*<button class="btn btn-danger" onclick="Delete(@member.MemberID)"><i class="fa fa-trash-o"></i> Xoá thông tin</button>*@
        }
    </div>
</div>
<script type="text/javascript">
    function Comeback() {
        window.location.href = "/User/Index";
    }
</script>