﻿@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@using eStream.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserInfoBO user = SessionManager.GetUserInfoBO();
    string unitName = string.Empty;
    int unitID = 0;
    if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
    {
        List<UnitModel> listDistrict = ViewData["listDistrict"] as List<UnitModel>;
        if (listDistrict != null && listDistrict.Count > 1)
        {
            unitName = listDistrict[1].UnitName;
            unitID = listDistrict[1].UnitID;
        }
    }
    else
    {
        List<UnitModel> listCommune = ViewData["listCommune"] as List<UnitModel>;
        if (listCommune != null && listCommune.Count > 1)
        {
            unitName = listCommune[1].UnitName;
            unitID = listCommune[1].UnitID;
        }
    }
    string classSearch = "col-lg-9";
    if (user.UnitLevel == GlobalConstant.UNIT_TYPE_VILLAGE)
    {
        unitID = user.UnitID.Value;
        classSearch = "col-lg-12";
    }
}
<div class="row">
    @if (user.UnitLevel != GlobalConstant.UNIT_TYPE_VILLAGE)
    {
        <div class="col-lg-3">
            <div class="row">
                @if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
                {
                    <div class="col-md-12" id="divProvince">
                        @Html.Partial("_Unit", ViewData["listDistrict"])
                    </div>
                }
                <div class="col-md-12" id="divDistrict">
                    @Html.Partial("_Unit", ViewData["listCommune"])
                </div>
            </div>
        </div>
    }
    <div class="@classSearch">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                @if (!string.IsNullOrWhiteSpace(unitName))
            {
                    <h5 id="divTitle">Danh sách người dùng @unitName</h5>
                }
                else
                {
                    <h5 id="divTitle">Danh sách người dùng</h5>
                }
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Ajax.BeginForm("SearchUser", "User", new AjaxOptions
                        {
                            HttpMethod = "post",
                            UpdateTargetId = "divListUser"
                        }, new { id = "frmSearch" }))
                        {
                            <input type="hidden" name="unitID" id="unitID" value="@unitID" />
                            <div class="input-group">
                                <input id="SearchUserName" name="SearchUserName" class="form-control" placeholder="Tên tài khoản, họ tên, số điện thoại" type="text" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-user" onclick="prepareAddOrEditUser(-1)"><i class="fa fa-plus"></i> Thêm mới</button>
                                </span>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group" role="group">
                            <button class="btn btn-default btn-sm" onclick="checkAll(this, true)"><i id="iAll" class="fa fa-square-o"></i></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-success btn-sm" onclick="activeUser()" title="Kích hoạt tài khoản"><i class="fa fa-unlock-alt"></i> Kích hoạt tài khoản</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-warning btn-sm" onclick="lockUser()" title="Khóa tài khoản"><i class="fa fa-lock"></i> Khóa tài khoản</button>
                        </div>

                        <div class="btn-group" role="group">
                            <button class="btn btn-danger btn-sm" onclick="deleteUser()" title="Xóa tài khoản"><i class="fa fa-trash-o"></i> Xóa tài khoản</button>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12" id="divListUser">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="modal-user" class="modal fade" role="dialog">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var unitLevel = @user.UnitLevel;
        if(unitLevel == '@GlobalConstant.UNIT_TYPE_PROVINCE'){
            $("#UnitID").change(function () {
                searchUser();
            });
        }
        searchUser();
    });

    function setParent(id) {
        $("#frmSearch #unitID").val(id);
        searchUser();
    }

    function searchUser() {
        $("#frmSearch").submit();
    }

    function checkAll(item, checked) {
        if (checked) {
            $("#iAll").attr("class", "fa fa-check-square-o");
        } else {
            $("#iAll").attr("class", "fa fa-square-o");
        }
        $("#gridUser tbody input:checkbox[name='userIds']").prop("checked", checked);
        checked = !checked;
        $(item).attr("onclick", "checkAll(this, " + checked + ")");
    }

    function checkOne(item) {
        if (!$(item).is(':checked')) {
            $("#iAll").attr("class", "fa fa-square-o");
        } else {
            if ($("#gridUser tbody input:checkbox[name='userIds']:checked").length == $("#gridUser tbody input:checkbox[name='userIds']").length) {
                $("#iAll").attr("class", "fa fa-check-square-o");
            }
        }
    }

    function deleteUser() {
        var userIds = $("#gridUser tbody").find("input:checkbox[name='userIds']:checked");
        if (userIds.length == 0) {
            CommonJS.alert("Chưa chọn tài khoản nào để xóa");
            return;
        }
        if (!confirm("Bạn có chắc chắn muốn xóa tài khoản?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteUser", "User")',
            data: userIds,
            success: function (data) {
                CommonJS.alert("Xóa tài khoản thành công");
                searchUser();
            },
            error: function (e) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function lockUser() {
        var userIds = $("#gridUser tbody").find("input:checkbox[name='userIds']:checked");
        if (userIds.length == 0) {
            CommonJS.alert("Chưa chọn tài khoản nào để khóa");
            return;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("LockUser", "User")',
            data: userIds,
            success: function (data) {
                CommonJS.alert("Khóa tài khoản thành công");
                searchUser();
            },
            error: function (e) {
                CommonJS.alert(e.responseText, false);
            }
        });
    }

    function activeUser() {
        var userIds = $("#gridUser tbody").find("input:checkbox[name='userIds']:checked");
        if (userIds.length == 0) {
            CommonJS.alert("Chưa chọn tài khoản nào để kích hoạt");
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("ActiveUser", "User")',
            data: userIds,
            success: function (data) {
                CommonJS.alert("Kích hoạt tài khoản thành công");
                searchUser();
            },
            error: function (e) {
                CommonJS.alert(e.responseText, false);
            }
        });
    }

    function prepareAddOrEditUser(id) {
        var unitId = $("#frmSearch #unitID").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddOrEditUser", "User")',
            data: { "userId": id, "unitId": unitId },
            success: function (result) {
                $("#modal-user").html(result);
                $("#modal-user").modal('show');
            },
            error: function (e) {
                CommonJS.alert(e.responseText, false);
            }
        });
    }

    function choiceUnit(item, unitName, isLoadChild) {
        $('#divTitle').html("Danh sách người dùng " + unitName);
        var id = $(item).attr('val');
        setUnitAndSearch(item);
        if (isLoadChild != undefined && isLoadChild != null && isLoadChild == 1) {
            if(id > 0){
                // Load lai cay don vi
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadUnit", "User")',
                    data: {"UnitID" : id},
                    success: function (data) {
                        $("#divDistrict").html(data);
                    },
                    error: function (xhr) {
                        CommonJS.alert(xhr.responseText, false);
                    }
                });
            } else {
                $("#divDistrict").html("");
            }
        }
    }

    function setUnitAndSearch(item) {
        var id = $(item).attr('val');
        $("#frmSearch #unitID").val(id);
        // Thiet lap active
        setActive(item);
        // Tim kiem thiet bi
        searchUser();
    }

    function setActive(item) {
        var li = $(item).parent();
        $(item).removeClass("active");
        li.find("a").each(function () {
            $(this).removeClass("active");
            var i = $(this).find("i:first");
            var iClass = i.attr('class');
            if (iClass != undefined && iClass != '') {
                i.removeClass(iClass);
                iClass = iClass.replace(/\-o/g, "");
                i.addClass(iClass);
            }
        });
        $(item).addClass("active");
        var iChild = $(item).find("i:first");
        var iChildClass = iChild.attr('class');
        if (iChildClass != undefined && iChildClass != '') {
            if (!iChildClass.endsWith("-o")) {
                iChild.removeClass(iChildClass);
                iChildClass += "-o";
                iChild.addClass(iChildClass);
            }
        }
    }
</script>
<style type="text/css">
    .fullWidth {
        width: 100% !important;
    }
</style>