﻿@using eStream.Common.CommonClass;
@using eStream.Models
@{
    Paginate<ActionLogModel> paginate = ViewData["listResult"] as Paginate<ActionLogModel>;
    var grid = new WebGrid(
        rowsPerPage: paginate.PageSize,
        canPage: true,
        canSort: false,
        ajaxUpdateContainerId: "gridActionLog"
        );

    grid.Bind(paginate.List,
    autoSortAndPage: false,
    rowCount: paginate.Count);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                * grid.RowsPerPage * grid.PageIndex));
        gridColumns.Add(grid.Column("UserName", "Tên đăng nhập"));
        gridColumns.Add(grid.Column("IPAddress", "IP"));
        gridColumns.Add(grid.Column("Thời gian", format: (x) => x.ActionTime == null ? "" : string.Format("{0:dd/MM/yyyy HH:mm:ss}", x.ActionTime)));
        gridColumns.Add(grid.Column("ActionDescription", "Chi tiết hành động"));
        @grid.GetHtml(htmlAttributes: new { id = "gridActionLog" },
            fillEmptyRows: false,
            tableStyle: "table table-hover table-striped",
            footerStyle: "table-pager",
            alternatingRowStyle: "altRow",
            selectedRowStyle: "selectRow",
            mode: WebGridPagerModes.All,
            columns: gridColumns)
    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có dữ liệu
        </div>
    }
}
