﻿@using eStream.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    List<SelectListItem> listUser = ViewData["listUser"] as List<SelectListItem>;
    listUser.Insert(0, new SelectListItem { Text = "--Tất cả--", Value = "0" });
}
@model ActionLogModel
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5 class="box-title">Quản lý hoạt động hệ thống</h5>
    </div>
    <div class="ibox-content">
        @using (Ajax.BeginForm("Search", "ActionLog", new AjaxOptions
        {
            HttpMethod = "get",
            UpdateTargetId = "divGridActionLog"
        }, new { id = "frmSearch", @class = "form-horizontal" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Tên đăng nhập:", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.UserID, listUser, new { @class = "form-control chosen-select", style = "width: 100%" })
                    </div>
                    @Html.Label("Tên hành động:", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.ActionName, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Thời gian Từ:</label>
                    <div class="col-md-4">
                        <div class="input-group datetimepicker date1">
                            @Html.TextBoxFor(model => model.FromDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                            <div class="input-group-addon">
                                <i class="fa fa-calendar">
                                </i>
                            </div>
                        </div>
                    </div>
                    <label class="control-label col-md-2">Tới:</label>
                    <div class="col-md-4">
                        <div class="input-group datetimepicker date2">
                            @Html.TextBoxFor(model => model.ToDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                            <div class="input-group-addon">
                                <i class="fa fa-calendar">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5 class="box-title">Danh sách kết quả</h5>
    </div>
    <div class="ibox-content" id="divGridActionLog">
    </div>
</div>
<div id="modal-AddOrEdit" class="modal fade" Period="dialog"></div>
<script>
    $(document).ready(function () {
        $("select").chosen({ width: "100%" });
        $('#FromDate').datepicker({
            locale: 'vi',
            format: 'dd/mm/yyyy',
            autoclose: true
        });
        $('#ToDate').datepicker({
            locale: 'vi',
            format: 'dd/mm/yyyy',
            autoclose: true
        });
        $(function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
            }
        });
    });

    $('.date1').click(function (event) {
        event.preventDefault();
        $('#FromDate').focus();
    });

    $('.date2').click(function (event) {
        event.preventDefault();
        $('#ToDate').focus();
    });
    function Search() {
        $("#frmSearch").submit();
    }
</script>
