﻿@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@using Model;
@using eStream.Models
@{
    string chartTitle = ViewData["ChartTitle"] as string;
    DateTime FromDate = (ViewData["FromDate"] as DateTime?).Value;
    int reportType = (ViewData["ReportType"] as int?).GetValueOrDefault();
    int fmType = (ViewData["FmType"] as int?).GetValueOrDefault();
    DateTime now = DateTime.Now;
}
@model DeviceModel
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            @if (fmType == GlobalConstant.IS_ACTIVE)
            {
                <h4 class="modal-title">Biểu đồ thời gian phát FM của thiết bị @Model.DeviceName</h4>
            }
            else
            {
                <h4 class="modal-title">Biểu đồ thời gian hoạt động của thiết bị @Model.DeviceName</h4>
            }
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center">
                    <button class="btn btn-default pull-left" onclick="viewChart(@Model.DeviceID, '@FromDate' , -1, @fmType)"><i class="fa fa-lg fa-angle-left"></i></button>

                    @if (reportType == GlobalConstant.REPORT_TYPE_DAY)
                    {
                        <button class="btn btn-primary" id="btnDay" onclick="setReportType(this, @GlobalConstant.REPORT_TYPE_DAY)">Thống kê ngày</button>
                    }
                    else
                    {
                        <button class="btn btn-default" id="btnDay" onclick="setReportType(this, @GlobalConstant.REPORT_TYPE_DAY)">Thống kê ngày</button>
                    }
                    @if (reportType == GlobalConstant.REPORT_TYPE_MONTH)
                    {
                        <button class="btn btn-primary" id="btnMonth" onclick="setReportType(this, @GlobalConstant.REPORT_TYPE_MONTH)">Thống kê tháng</button>
                    }
                    else
                    {
                        <button class="btn btn-default" id="btnMonth" onclick="setReportType(this, @GlobalConstant.REPORT_TYPE_MONTH)">Thống kê tháng</button>
                    }
                    @if (reportType == GlobalConstant.REPORT_TYPE_YEAR)
                    {
                        <button class="btn btn-primary" id="btnYear" onclick="setReportType(this, @GlobalConstant.REPORT_TYPE_YEAR)">Thống kê năm</button>
                    }
                    else
                    {
                        <button class="btn btn-default" id="btnYear" onclick="setReportType(this, @GlobalConstant.REPORT_TYPE_YEAR)">Thống kê năm</button>
                    }

                    <input type="hidden" id="ReportType" name="ReportType" value="@reportType" />
                    <button class="btn btn-default pull-right" onclick="viewChart(@Model.DeviceID, '@FromDate' , 1, @fmType)"><i class="fa fa-lg fa-angle-right"></i></button>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <canvas id="barChart" height="420" width="800"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var fmType = @fmType;
        if (fmType == 1) {
            loadFmChart(@Model.DeviceID, '@FromDate');
        } else {
            loadChart(@Model.DeviceID, '@FromDate');
        }
    });

    function loadChart(id, fromDate){
        var reportType = $("#ReportType").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadChart", "Chart")',
            data: {"DeviceID" : id, "FromDate": fromDate, "ReportType": reportType},
            success: function (data) {
                setTimeout(function(){ genChart(data, '@chartTitle', 0); }, 200);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function loadFmChart(id, fromDate){
        var reportType = $("#ReportType").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadChartFm", "Chart")',
            data: {"DeviceID" : id, "FromDate": fromDate, "ReportType": reportType},
            success: function (data) {
                setTimeout(function(){ genChart(data, '@chartTitle', 1); }, 200);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function setReportType(btn, reportType) {
        $("#ReportType").val(reportType);
        $("#btnDay").attr("class", "btn btn-default");
        $("#btnMonth").attr("class", "btn btn-default");
        $("#btnYear").attr("class", "btn btn-default");
        $(btn).attr("class", "btn btn-primary");
        viewChart(@Model.DeviceID, '@now', 0, @fmType);
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>