﻿@using eStream.Models
@using eStream.Common.CommonClass
@model DeviceModel
@{
    var user = SessionManager.GetUserInfoBO();
    List<SelectListItem> listBitrate = ViewData["listBitrate"] as List<SelectListItem>;
}
@using (Ajax.BeginForm("SaveConfig", "Manager", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @Html.HiddenFor(model => model.DeviceID)
                @Html.HiddenFor(model => model.UnitID)
                <h4 class="modal-title">Cấu hình thiết bị cho: @Model.DeviceName</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Bitrate</label>
                        <div class="col-lg-4">
                            @Html.DropDownListFor(x => x.Bitrate, listBitrate, new { @class = "form-control chosen-select", style = "width: 100%" })
                        </div>
                        <label class="col-lg-2 control-label">Âm lượng</label>
                        <div class="col-lg-4">
                            @Html.TextBoxFor(x => x.Volume, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Volume)
                        </div>
                    </div>
                    <div class="form-group">
                        @if (user.IsSupperAdmin == GlobalConstant.IS_ACTIVE || user.IsAdmin == GlobalConstant.IS_ACTIVE)
                        {
                            <label class="col-lg-2 control-label"></label>
                            <div class="col-lg-4">
                                <div class="i-checks"><label>@Html.CheckBoxFor(x => x.IsSupportFm) Thu được FM</label></div>
                            </div>
                        }
                    </div>
                    @if (user.IsSupperAdmin == GlobalConstant.IS_ACTIVE)
                    {
                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>
                            <div class="col-lg-4">
                                <div class="i-checks"><label>@Html.CheckBoxFor(x => x.IsSMS) Gửi tin nhắn SMS</label></div>
                            </div>
                            <label class="col-lg-2 control-label">Thời gian đồng bộ</label>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.SyncTime, new { @class = "form-control" })
                                    <div class="input-group-addon"><i class="fa fa-clock-o"></i> Giây/Lần</div>
                                </div>
                                @Html.ValidationMessageFor(x => x.SyncTime)
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="col-lg-2 control-label"></label>
                        <div class="col-lg-4">
                            <div class="i-checks"><label>@Html.RadioButtonFor(x => x.NoVov, GlobalConstant.IS_NOT_ACTIVE) Chuyển tiếp VOV</label></div>
                        </div>
                        <label class="col-lg-2 control-label"></label>
                        <div class="col-lg-4">
                            <div class="i-checks"><label>@Html.RadioButtonFor(x => x.NoVov, GlobalConstant.IS_ACTIVE) Không chuyển tiếp VOV</label></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("select").chosen({ width: "100%" });
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        $("#modal-log").modal("toggle");
        searchDevice();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
