﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-content no-padding">
                        <div class="list-group">
                            <a href="#" class="list-group-item"> <i class="fa fa-folder"></i>  Cả tỉnh </a>
                            <a href="#" class="list-group-item active"> <i class="fa fa-file-o"></i> TP. Tuyên Quang</a>
                            <a href="#" class="list-group-item"> <i class="fa fa-file-o"></i> Huyện Yên Sơn</a>
                            <a href="#" class="list-group-item"> <i class="fa fa-file-o"></i> Huyện Sơn Dương</a>
                            <a href="#" class="list-group-item"> <i class="fa fa-file-o"></i> Huyện Hàm Yên</a>
                            <a href="#" class="list-group-item"> <i class="fa fa-file-o"></i> Huyện Chiêm Hóa</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>
                            <a class="collapse-link">
                                <i class="fa fa-file-o"></i> TP. TUYÊN QUANG
                            </a>
                        </h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="list-group">
                            <a href="#" class="list-group-item">P.MINH XUÂN</a>
                            <a href="#" class="list-group-item">P.TÂN QUANG</a>
                            <a href="#" class="list-group-item">P.PHAN THIẾT</a>
                            <a href="#" class="list-group-item">P.TÂN HÀ</a>
                            <a href="#" class="list-group-item">P.HƯNG THÀNH</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> Tìm kiếm thiết bị TP. TUYÊN QUANG </h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <form class="form-horizontal">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="col-sm-4" for="exampleInputName2">Mã thiết bị</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="txttitle" placeholder="Mã thiết bị">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="col-sm-4" for="exampleInputName2">Tên thiết bị</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="txttitle" placeholder="Tiêu đề phát">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-search"></i> Tìm kiếm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> Danh sách thiết bị TP. TUYÊN QUANG </h5>
                    </div>
                    <div class="ibox-content">
                        <button class="btn btn-default btn-sm"><i class="fa fa-check-square-o"></i></button>
                        <div class="btn-group pull-right">
                            <button class="btn btn-danger btn-sm"><i class="fa fa-undo"></i> Khởi động lại</button>
                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-cogs"></i> Cấu hình</button>
                            <button class="btn btn-warning btn-sm"><i class="fa fa-download"></i> Cập nhật OS</button>
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Thiết bị</th>
                                    <th>Địa điểm</th>
                                    <th>Người quản lý</th>
                                    <th>Trạng thái</th>
                                    <th>Tình trạng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center"><input type="checkbox" /></td>
                                    <td><strong>TB 0001</strong></td>
                                    <td>Thôn 1 - Huyện 2- Tỉnh 3</td>
                                    <td>Nguyễn Thị Huyền Trang</td>
                                    <td class="text-success"><i class="fa fa-toggle-on"></i> Online</td>
                                    <td><span class="label label-primary">Sẵn sàng</span></td>
                                    <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#volumeModal"><i class="fa fa-volume-up"></i></button></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><input type="checkbox" /></td>
                                    <td><strong>TB 0001</strong></td>
                                    <td>Thôn 1 - Huyện 2- Tỉnh 3</td>
                                    <td>Nguyễn Công Trứ</td>
                                    <td><i class="fa fa-toggle-off"></i> Offline</td>
                                    <td><span class="label label-warning">Bảo trì</span></td>
                                    <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#volumeModal"><i class="fa fa-volume-up"></i></button></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><input type="checkbox" /></td>
                                    <td><strong>TB 0001</strong></td>
                                    <td>Thôn 1 - Huyện 2- Tỉnh 3</td>
                                    <td>Nguyễn Ngọc Tuấn</td>
                                    <td><i class="fa fa-toggle-off"></i> Offline</td>
                                    <td><span class="label label-danger">Hỏng</span></td>
                                    <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#volumeModal"><i class="fa fa-volume-up"></i></button></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><input type="checkbox" /></td>
                                    <td><strong>TB 0001</strong></td>
                                    <td>Thôn 1 - Huyện 2- Tỉnh 3</td>
                                    <td>Lê Văn Thưởng</td>
                                    <td><i class="fa fa-toggle-off"></i> Offline</td>
                                    <td><span class="label label-primary">Sẵn sàng</span></td>
                                    <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#volumeModal"><i class="fa fa-volume-up"></i></button></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><input type="checkbox" /></td>
                                    <td><strong>TB 0001</strong></td>
                                    <td>Thôn 1 - Huyện 2- Tỉnh 3</td>
                                    <td>Nguyễn Duy Hưng</td>
                                    <td><i class="fa fa-toggle-off"></i> Offline</td>
                                    <td><span class="label label-primary">Sẵn sàng</span></td>
                                    <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#volumeModal"><i class="fa fa-volume-up"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thiết bị</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-5" for="exampleInputName2">Thời gian đồng bộ</label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <input type="email" class="form-control" id="txttimefrom" placeholder="Thời gian" value="30">
                                        <div class="input-group-addon"><i class="fa fa-clock-o"></i> Giây/Lần</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-5" for="exampleInputName2">Thời gian gửi log</label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <input type="email" class="form-control" id="txttimefrom" placeholder="Thời gian" value="30">
                                        <div class="input-group-addon"><i class="fa fa-clock-o"></i> Giây/Lần</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save"></i> Áp dụng</button>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div id="volumeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="progress">
                            <div id="Process" class="progress-bar" role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group bootstrap-touchspin">
                            <span class="input-group-btn">
                                <button class="btn btn-white bootstrap-touchspin-down" type="button">-</button>
                            </span>
                            <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                            <input name="demo1" class="touchspin1 form-control" style="display: block;" type="text" value="">
                            <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                            <span class="input-group-btn">
                                <button class="btn btn-white bootstrap-touchspin-up" type="button">+</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="basic_slider" class="ui-slider"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.btn-number').click(function (e) {
            e.preventDefault();

            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {

                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if (type == 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());
            $("input[name='" + fieldName + "']")
            name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }


        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });
</script>