﻿@using eStream.Common.CommonClass;
@using eStream.Common.CommonObject;
@using eStream.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    /**/

    UserInfoBO user = SessionManager.GetUserInfoBO();
    PagedList<DeviceModel> paginate = ViewData["listDevice"] as PagedList<DeviceModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "gridDevice"
                          );

    grid.Bind(paginate,
    autoSortAndPage: false,
    rowCount: paginate.Count);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("", "", format: @<text><input type="checkbox" onclick="checkOne(this)" value="@item.DeviceID" name="deviceIds" class="cbx" /></text>, style: ""));
gridColumns.Add(grid.Column(header: "Tên thiết bị", format: @<text>
    @item.DeviceNameWithVolume
    @if (item.StatusBO.IsVolumeOn(1))
    {
        <i id="volstatus_1_@item.DeviceID" class="fa fa-volume-down" style="color:#1ab394;font-size:14px">
            &nbsp;
        </i>
    }
    else
    {
        <i id="volstatus_1_@item.DeviceID" class="fa fa-volume-down">
            &nbsp;
        </i>
    }
    @if (item.StatusBO.IsVolumeOn(2))
    {
        <i id="volstatus_2_@item.DeviceID" class="fa fa-volume-down" style="color:#1ab394;font-size:14px">
            &nbsp;
        </i>
    }
    else
    {
        <i id="volstatus_2_@item.DeviceID" class="fa fa-volume-down">
            &nbsp;
        </i>
    }
    @if (item.StatusBO.IsVolumeOn(3))
    {
        <i id="volstatus_3_@item.DeviceID" class="fa fa-volume-down" style="color:#1ab394;font-size:14px">
            &nbsp;
        </i>
    }
    else
    {
        <i id="volstatus_3_@item.DeviceID" class="fa fa-volume-down">
            &nbsp;
        </i>
    }
    @if (item.StatusBO.IsVolumeOn(4))
    {
        <i id="volstatus_4_@item.DeviceID" class="fa fa-volume-down" style="color:#1ab394;font-size:14px"> )</i>
    }
    else
    {
        <i id="volstatus_4_@item.DeviceID" class="fa fa-volume-down"> )</i>
    }
</text>));
gridColumns.Add(grid.Column(header: "T.T Phát", style: "with-10", format: @<text>
    @if (item.StatusBO.IsPlaying == GlobalConstant.IS_ACTIVE)
    {
        <span class="label badge label-primary" id="status_@item.DeviceID" style="width:40px">Bật</span>
    }
    else if (item.StatusBO.IsStop == GlobalConstant.IS_ACTIVE)
    {
        <span class="label badge label-danger" id="status_@item.DeviceID" style="width:40px">Tắt</span>
    }
    else
    {
        <span class="label badge label-default" id="status_@item.DeviceID" style="width:40px">N/A</span>
    }
</text>));
gridColumns.Add(grid.Column(header: "Kết nối", style: "with-10", format: @<text>
    @if (item.StatusBO.IsOnline == GlobalConstant.IS_ACTIVE)
    {
        <span class="label badge label-primary" id="online_@item.DeviceID" style="width:40px">Có</span>
    }
    else
    {
        <span class="label badge label-default" id="online_@item.DeviceID" style="width:40px">Không</span>
    }
</text>));
gridColumns.Add(grid.Column(header: "T.T FM", style: "with-10", format: @<text>
    @if (item.StatusBO.FmStatus == GlobalConstant.IS_ACTIVE)
    {
        <span class="label badge label-primary" id="fm_@item.DeviceID" style="width:40px">Bật</span>
    }
    else if (item.StatusBO.FmStatus == GlobalConstant.IS_NOT_ACTIVE)
    {
        <span class="label badge label-danger" id="fm_@item.DeviceID" style="width:40px">Tắt</span>
    }
    else
    {
        <span class="label badge label-default" id="fm_@item.DeviceID" style="width:40px">N/A</span>
    }
</text>));
gridColumns.Add(grid.Column(header: "Nguồn FM", style: "with-10", format: @<text>
    @if (item.StatusBO.IsFmSwitchOn == GlobalConstant.IS_ACTIVE)
    {
        <span class="label badge label-primary" id="fmSwitch_@item.DeviceID" style="width:40px">Bật</span>
    }
    else if (item.StatusBO.IsFmSwitchOn == GlobalConstant.IS_NOT_ACTIVE)
    {
        <span class="label badge label-danger" id="fmSwitch_@item.DeviceID" style="width:40px">Tắt</span>
    }
    else
    {
        <span class="label badge label-default" id="fmSwitch_@item.DeviceID" style="width:40px">N/A</span>
    }
</text>));
gridColumns.Add(grid.Column(header: "Thao tác", style: "with-20", format: @<text>
    <a href="javascript:void(0)" onclick="viewInfo(@item.DeviceID)" data-toggle="modal" data-target="#modal-log" title="Thông tin thiết bị"><i class="fa fa-info-circle" style="font-size:18px"></i></a>
    <a href="javascript:void(0)" onclick="viewChart(@item.DeviceID, '', 0, 0)" data-toggle="modal" data-target="#modal-log" title="Biểu đồ hoạt động"><i class="fa fa-line-chart" style="font-size:18px"></i></a>
    <a href="javascript:void(0)" onclick="viewChart(@item.DeviceID, '', 0, 1)" data-toggle="modal" data-target="#modal-log" title="Biểu đồ phát FM"><i class="fa fa-podcast" style="font-size:18px"></i></a>
    @if (user.IsSupperAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE
        || (user.IsAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE && user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE))
    {
        <a href="javascript:void(0)" onclick="config(@item.DeviceID)" data-toggle="modal" data-target="#modal-log" title="Cấu hình thiết bị"><i class="fa fa-cog" style="font-size:18px"></i></a>
    }
    <a href="javascript:void(0)" onclick="viewLog(@item.DeviceID)" data-toggle="modal" data-target="#modal-log" title="Xem log thiết bị"><i class="fa fa-history" style="font-size:18px"></i></a>
</text>));


@grid.GetHtml(htmlAttributes: new { id = "gridDevice" },
                        fillEmptyRows: false,
                        tableStyle: "table table-striped table-hover",
                        alternatingRowStyle: "altRow",
                        selectedRowStyle: "selectRow",
                        columns: gridColumns)
<div class="pagination">
    @Html.PagedListPager(paginate, page => Url.Action("SearchDevice",
                            new
                            {
                                SearchDeviceName = ViewBag.DeviceName,
                                UnitID = ViewBag.UnitID,
                                Status = ViewBag.Status,
                                Connect = ViewBag.Connect,
                                page,
                                pageSize = paginate.PageSize

                            }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "divListDevice" }))
</div>
}
else
{
<div style="color:red; margin-left:10px;">
    Không có thiết bị nào
</div>
}
}