﻿@using eStream.Common.CommonClass;
@using eStream.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    PagedList<DeviceLogModel> paginate = ViewData["listLog"] as PagedList<DeviceLogModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "gridLog"
                          );

    grid.Bind(paginate,
    autoSortAndPage: false,
    rowCount: paginate.Count);
}
@if (paginate.Count > 0)
{
    var gridColumns = new List<WebGridColumn>();
    gridColumns.Add(grid.Column("LogID", "LogID"));
    gridColumns.Add(grid.Column("MessageDetail", "Tên hành động"));
    gridColumns.Add(grid.Column("LogDate", "Thời gian gửi", format: (x) => x.LogDate == null ? "" : string.Format("{0:dd/MM/yyyy HH:mm:ss}", x.LogDate)));
    gridColumns.Add(grid.Column("Status", "Trạng thái", format: @<text>
        @if (item.Status != null && item.Status == true)
        {
            <span class="label label-primary">Thành công</span>
        }
        else
        {
            <span class="label label-danger">Thất bại</span>
        }
    </text>));
    @grid.GetHtml(htmlAttributes: new { id = "gridLog" },
                                   fillEmptyRows: false,
                                   tableStyle: "table table-striped table-hover",
                                   alternatingRowStyle: "altRow",
                                   selectedRowStyle: "selectRow",
                                   columns: gridColumns)
    <div class="pagination">
        @Html.PagedListPager(paginate, page => Url.Action("SearchLog",
                                   new
                                   {
                                       DeviceID = ViewBag.DeviceID,
                                       FromDate = ViewBag.FromDate,
                                       ToDate = ViewBag.ToDate,
                                       LogType = ViewBag.LogType,
                                       page,
                                       pageSize = paginate.PageSize

                                   }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "divDetailLog" }))
    </div>
}
else
{
    <div style="color:red; margin-left:10px;">
        Không có dữ liệu
    </div>
}