﻿@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@using eStream.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserInfoBO user = SessionManager.GetUserInfoBO();
    string unitName = string.Empty;
    int unitID = 0;
    if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
    {
        List<UnitModel> listDistrict = ViewData["listDistrict"] as List<UnitModel>;
        if (listDistrict != null && listDistrict.Count > 1)
        {
            unitName = listDistrict[1].UnitName;
            unitID = listDistrict[1].UnitID;
        }
    }
    else
    {
        List<UnitModel> listCommune = ViewData["listCommune"] as List<UnitModel>;
        if (listCommune != null && listCommune.Count > 1)
        {
            unitName = listCommune[1].UnitName;
            unitID = listCommune[1].UnitID;
        }
    }
    string classSearch = "col-lg-9";
    if (user.UnitLevel == GlobalConstant.UNIT_TYPE_VILLAGE)
    {
        unitID = user.UnitID.Value;
        classSearch = "col-lg-12";
    }
    int timeRefresh = 1000 * (ViewData["timeRefresh"] as int?).GetValueOrDefault();
}
<div class="row">
    @if (user.UnitLevel != GlobalConstant.UNIT_TYPE_VILLAGE)
    {
        <div class="col-lg-3">
            <div class="row">
                @if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
                {
                    <div class="col-md-12" id="divProvince">
                        @Html.Partial("../User/_Unit", ViewData["listDistrict"])
                    </div>
                }
                <div class="col-md-12" id="divDistrict">
                    @Html.Partial("../User/_Unit", ViewData["listCommune"])
                </div>
            </div>
        </div>
    }
    <div class="@classSearch">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                @if (!string.IsNullOrWhiteSpace(unitName))
                {
                    <h5 id="divTitle">Danh sách thiết bị @unitName</h5>
                }
                else
                {
                    <h5 id="divTitle">Danh sách thiết bị</h5>
                }
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Ajax.BeginForm("SearchDevice", "Fm", new AjaxOptions
                        {
                            HttpMethod = "post",
                            UpdateTargetId = "divListDevice"
                        }, new { id = "frmSearch" }))
                        {
                            <input type="hidden" name="UnitID" id="UnitID" value="@unitID" />
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.Label("Tên, mã thiết bị:", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        <input id="SearchDeviceName" name="SearchDeviceName" class="form-control" placeholder="Tên thiết bị, mã thiết bị" type="text" />
                                    </div>
                                    <div class="col-md-7">
                                        <label class="control-label col-md-2">T.T phát</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("Status", GlobalCommon.DeviceStatus(), new { @class = "form-control chosen-select", style = "width: 100%" })
                                        </div>
                                        <label class="control-label col-md-2">Kết nối</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("Connect", GlobalCommon.Connects(), new { @class = "form-control chosen-select", style = "width: 100%" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 0px !important">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-primary" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group" role="group">
                            <button class="btn btn-default btn-sm" onclick="checkAll(this, true)"><i id="iAll" class="fa fa-square-o"></i></button>
                        </div>
                        <div class="btn-group">
                            <div class="btn-group" role="group">
                                <button class="btn btn-success btn-sm" onclick="restartDevice()" title="Khởi động lại"><i class="fa fa-undo"></i> Khởi động lại</button>
                            </div>
                            @if (user.IsSupperAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE)
                            {
                                <div class="btn-group" role="group">
                                    <button class="btn btn-warning btn-sm" onclick="osDevice()" title="Cập nhật OS"><i class="fa fa-download"></i> Cập nhật OS</button>
                                </div>
                            }
                            <div class="btn-group" role="group">
                                <button class="btn btn-danger btn-sm" onclick="stopStream()" title="Yêu cầu dừng phát"><i class="fa fa-stop"></i> Tắt</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary btn-sm" onclick="startStream()" title="Yêu cầu phát"><i class="fa fa-play"></i> Bật</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button class="btn btn-danger btn-sm" onclick="stopFmSwitch()" title="Tắt FM"><i class="fa fa-power-off"></i> Tắt FM</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary btn-sm" onclick="startFmSwitch()" title="Bật FM"><i class="fa fa-bullseye"></i> Bật FM</button>
                            </div>
                            @if (user.IsSupperAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE)
                            {
                                <div class="btn-group" role="group">
                                    <button class="btn btn-primary btn-sm" onclick="sendVersion()" title="Yêu cầu gửi phiên bản"><i class="fa fa-send-o"></i> Gửi phiên bản</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="divListDevice">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-log" class="modal fade" role="dialog">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("select").chosen({ width: "100%" });
        var unitLevel = @user.UnitLevel;
        if(unitLevel == '@GlobalConstant.UNIT_TYPE_PROVINCE'){
            $("#UnitID").change(function () {
                searchDevice();
            });
        }
        setInterval(function () {
            refreshStatus();
        }, @timeRefresh);
        searchDevice();
    });

    function searchLog(){
        var DeviceID = $("#logDeviceID").val();
        var LogType = $("#LogType").val();
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("SearchLog", "Fm")',
            data: {"DeviceID" : DeviceID, "LogType": LogType, "FromDate": FromDate, "ToDate": ToDate},
            success: function (data) {
                $("#divDetailLog").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function refreshStatus() {
        var deviceIds = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']");
        if (deviceIds.length == 0) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("RefreshStatus", "Manager")',
            data: deviceIds,
            success: function (data) {
                for(var i = 0; i < data.length; i++){
                    var status = data[i];
                    $('#status_' + status.ID).attr('class', '');
                    if (status.IsPlaying == 0) {
                        if (status.IsStop == 0) {
                            $('#status_' + status.ID).addClass('label badge label-default');
                            $('#status_' + status.ID).html(status.PlayingName);
                        } else {
                            $('#status_' + status.ID).addClass('label badge label-danger');
                            $('#status_' + status.ID).html(status.PlayingName);
                        }
                    } else {
                        $('#status_' + status.ID).addClass('label badge label-primary');
                        $('#status_' + status.ID).html(status.PlayingName);
                    }
                    $('#online_' + status.ID).attr('class', '');
                    if (status.IsOnline == 0) {
                        $('#online_' + status.ID).addClass('label badge label-default');
                        $('#online_' + status.ID).html(status.OnlineName);
                    } else {
                        $('#online_' + status.ID).addClass('label badge label-primary');
                        $('#online_' + status.ID).html(status.OnlineName);
                    }
                    $('#fmSwitch_' + status.ID).attr('class', '');
                    if (status.IsFmSwitchOn == 0) {
                        $('#fmSwitch_' + status.ID).addClass('label badge label-danger');
                    } else if (status.IsFmSwitchOn == 1) {
                        $('#fmSwitch_' + status.ID).addClass('label badge label-primary');
                    } else {
                        $('#fmSwitch_' + status.ID).addClass('label badge label-default');
                    }
                    $('#fmSwitch_' + status.ID).html(status.FmSwitchOnName);
                    $('#fm_' + status.ID).attr('class', '');
                    if (status.FmStatus == 0) {
                        $('#fm_' + status.ID).addClass('label label-danger');
                    } else if (status.FmStatus == 1) {
                        $('#fm_' + status.ID).addClass('label badge label-primary');
                    } else {
                        $('#fm_' + status.ID).addClass('label badge label-default');
                    }
                    $('#fm_' + status.ID).html(status.FmStatusName);
                    var volStatus = status.VolumeStatus;
                    $('#volstatus_1_' + status.ID).removeAttr('style');
                    $('#volstatus_2_' + status.ID).removeAttr('style');
                    $('#volstatus_3_' + status.ID).removeAttr('style');
                    $('#volstatus_4_' + status.ID).removeAttr('style');
                    if (volStatus[0] != '0') {
                        $('#volstatus_1_' + status.ID).attr('style', 'color:#1ab394;font-size:14px;');
                    }
                    if (volStatus[1] != '0') {
                        $('#volstatus_2_' + status.ID).attr('style', 'color:#1ab394;font-size:14px;');
                    }
                    if (volStatus[2] != '0') {
                        $('#volstatus_3_' + status.ID).attr('style', 'color:#1ab394;font-size:14px;');
                    }
                    if (volStatus[3] != '0') {
                        $('#volstatus_4_' + status.ID).attr('style', 'color:#1ab394;font-size:14px;');
                    }
                }
            },
            error: function (e) {
                // ignored
            }
        });
    }

    function setParent(id) {
        $("#frmSearch #unitID").val(id);
        searchDevice();
    }

    function searchDevice() {
        $("#iAll").attr("class", "fa fa-square-o");
        $("#frmSearch").submit();
    }

    function viewChart(id, fromDate, type, fmType){
        var reportType = 0;
        if($("#ReportType") != undefined && $("#ReportType") != null && $("#ReportType").val() != undefined && $("#ReportType").val() != ''){
            reportType = $("#ReportType").val();
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewChart", "Fm")',
            data: {"DeviceID": id, "FromDate": fromDate, "ReportType": reportType, "Type": type, "fmType": fmType},
            success: function (data) {
                $("#modal-log").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function viewInfo(id){
        $.ajax({
            type: "GET",
            url: '@Url.Action("ViewInfo", "Fm")',
            data: {"DeviceID" : id},
            success: function (data) {
                $("#modal-log").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function config(id){
        $.ajax({
            type: "GET",
            url: '@Url.Action("OpenConfig", "Fm")',
            data: {"deviceID" : id},
            success: function (data) {
                $("#modal-log").html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function viewLog(id){
        $.ajax({
            type: "GET",
            url: '@Url.Action("ViewLog", "Fm")',
            data: {"DeviceID" : id},
            success: function (data) {
                $("#modal-log").html(data);
                searchLog();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function checkAll(item, checked) {
        if (checked) {
            $("#iAll").attr("class", "fa fa-check-square-o");
        } else {
            $("#iAll").attr("class", "fa fa-square-o");
        }
        $("#gridDevice tbody input:checkbox[name='deviceIds']").prop("checked", checked);
        checked = !checked;
        $(item).attr("onclick", "checkAll(this, " + checked + ")");
    }

    function checkOne(item) {
        if (!$(item).is(':checked')) {
            $("#iAll").attr("class", "fa fa-square-o");
        } else {
            if ($("#gridDevice tbody input:checkbox[name='deviceIds']:checked").length == $("#gridDevice tbody input:checkbox[name='deviceIds']").length) {
                $("#iAll").attr("class", "fa fa-check-square-o");
            }
        }
    }

    function restartDevice() {
        var deviceIds = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']:checked");
        if (deviceIds.length == 0) {
            CommonJS.alert("Chưa chọn thiết bị nào để khởi động lại");
            return;
        }
        if (!confirm("Bạn có chắc chắn muốn khởi động lại các thiết bị đã chọn?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("RestartDevice", "Manager")',
            data: deviceIds,
            success: function (data) {
                CommonJS.alert(data);
                searchDevice();
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function osDevice() {
        var deviceIds = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']:checked");
        if (deviceIds.length == 0) {
            CommonJS.alert("Chưa chọn thiết bị nào để cập nhật OS");
            return;
        }
        if (!confirm("Bạn có chắc chắn muốn cập nhật OS các thiết bị đã chọn?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateOSDevice", "Manager")',
            data: deviceIds,
            success: function (data) {
                CommonJS.alert(data);
                searchDevice();
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function sendVersion() {
        var deviceIds = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']:checked");
        if (deviceIds.length == 0) {
            CommonJS.alert("Chưa chọn thiết bị nào để yêu cầu gửi phiên bản");
            return;
        }
        if (!confirm("Bạn có chắc chắn muốn gửi yêu cầu gửi phiên bản OS các thiết bị đã chọn?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("SendVersion", "Manager")',
            data: deviceIds,
            success: function (data) {
                CommonJS.alert(data);
                searchDevice();
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function stopStream() {
        var deviceIds = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']:checked");
        if (deviceIds.length == 0) {
            CommonJS.alert("Chưa chọn thiết bị nào để yêu cầu dừng phát");
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("StopStream", "Manager")',
            data: deviceIds,
            success: function (data) {
                CommonJS.alert(data);
                searchDevice();
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function startStream() {
        var deviceIds = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']:checked");
        if (deviceIds.length == 0) {
            CommonJS.alert("Chưa chọn thiết bị nào để yêu cầu phát");
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("StartStream", "Manager")',
            data: deviceIds,
            success: function (data) {
                CommonJS.alert(data);
                searchDevice();
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function stopFmSwitch() {
        var deviceIds = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']:checked");
        if (deviceIds.length == 0) {
            CommonJS.alert("Chưa chọn thiết bị nào để tắt FM");
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("StopSwitch", "Manager")',
            data: deviceIds,
            success: function (data) {
                CommonJS.alert(data);
                searchDevice();
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function startFmSwitch() {
        var deviceIds = $("#gridDevice tbody").find("input:checkbox[name='deviceIds']:checked");
        if (deviceIds.length == 0) {
            CommonJS.alert("Chưa chọn thiết bị nào để bật FM");
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("StartSwitch", "Manager")',
            data: deviceIds,
            success: function (data) {
                CommonJS.alert(data);
                searchDevice();
            },
            error: function (e) {
                CommonJS.alert(e.responseText);
            }
        });
    }

    function choiceUnit(item, unitName, isLoadChild) {
        $('#divTitle').html("Danh sách thiết bị " + unitName);
        var id = $(item).attr('val');
        setUnitAndSearch(item);
        if (isLoadChild != undefined && isLoadChild != null && isLoadChild == 1) {
            if(id > 0){
                // Load lai cay don vi
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadUnit", "User")',
                    data: {"UnitID" : id},
                    success: function (data) {
                        $("#divDistrict").html(data);
                    },
                    error: function (xhr) {
                        CommonJS.alert(xhr.responseText, false);
                    }
                });
            } else {
                $("#divDistrict").html("");
            }
        }
    }

    function setUnitAndSearch(item) {
        var id = $(item).attr('val');
        $("#frmSearch #UnitID").val(id);
        // Thiet lap active
        setActive(item);
        // Tim kiem thiet bi
        searchDevice();
    }

    function setActive(item) {
        var li = $(item).parent();
        $(item).removeClass("active");
        li.find("a").each(function () {
            $(this).removeClass("active");
            var i = $(this).find("i:first");
            var iClass = i.attr('class');
            if (iClass != undefined && iClass != '') {
                i.removeClass(iClass);
                iClass = iClass.replace(/\-o/g, "");
                i.addClass(iClass);
            }
        });
        $(item).addClass("active");
        var iChild = $(item).find("i:first");
        var iChildClass = iChild.attr('class');
        if (iChildClass != undefined && iChildClass != '') {
            if (!iChildClass.endsWith("-o")) {
                iChild.removeClass(iChildClass);
                iChildClass += "-o";
                iChild.addClass(iChildClass);
            }
        }
    }
    function genChart(result, chartTitle, fmType) {
        var labels = [];
        var values = [];
        var colors = [];
        $.each(result, function (k, v) {
            labels.push(v.Label);
            values.push(v.Value);
            colors.push("#3e95cd");
        });
        var reportType = $('#ReportType').val();
        if(reportType == '@GlobalConstant.REPORT_TYPE_MONTH'){
            chartTitle = " từ tháng 1 - tháng 12 năm " + chartTitle;
        }
        var chartName = fmType == 0 ? "Thời gian hoạt động (giờ)" : "Thời gian phát FM (giờ)";
        new Chart($("#barChart"), {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                  {
                      label: chartName,
                      backgroundColor: colors,
                      data: values
                  }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: { display: false },
                title: {
                    display: true,
                    text: chartName + " " + chartTitle
                }
            }
        });
    }
</script>