﻿@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@using eStream.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int fmType = (int)ViewData["fmType"];
    UserInfoBO user = SessionManager.GetUserInfoBO();
    string unitName = string.Empty;
    int unitID = 0;
    if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
    {
        List<UnitModel> listDistrict = ViewData["listDistrict"] as List<UnitModel>;
        if (listDistrict != null && listDistrict.Count > 1)
        {
            unitName = listDistrict[1].UnitName;
            unitID = listDistrict[1].UnitID;
        }
    }
    else
    {
        List<UnitModel> listCommune = ViewData["listCommune"] as List<UnitModel>;
        if (listCommune != null && listCommune.Count > 1)
        {
            unitName = listCommune[1].UnitName;
            unitID = listCommune[1].UnitID;
        }
    }
    List<SelectListItem> listYear = GlobalCommon.Years();
    List<SelectListItem> listMonth = GlobalCommon.Months();
}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            @if (user.UnitLevel != GlobalConstant.UNIT_TYPE_VILLAGE)
            {
                if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
                {
                    <div class="col-md-12" id="divProvince">
                        @Html.Partial("../User/_Unit", ViewData["listDistrict"])
                    </div>
                }
                <div class="col-md-12" id="divDistrict">
                    @Html.Partial("../User/_Unit", ViewData["listCommune"])
                </div>
            }
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Báo cáo thời gian hoạt động</h5>
                    </div>
                    <div class="ibox-content">
                        @Html.Hidden("FmType", fmType)
                        @Html.Hidden("UnitID", @unitID)
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default">
                                            <span>Năm</span>
                                        </span>
                                    </span>
                                    @Html.DropDownList("year", listYear, new { @class = "form-control chosen-select", style = "width: 100%" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default">
                                            <span>Tháng</span>
                                        </span>
                                    </span>
                                    @Html.DropDownList("month", listMonth, new { @class = "form-control chosen-select", style = "width: 100%" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-success" type="button" onclick="exportReport()"> <i class="fa fa-file-excel-o"></i> Xuất báo cáo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("select").chosen({ width: "100%" });
    });

    function exportReport() {
        var unitID = $('#UnitID').val();
        var year = $('#year').val();
        var month = $('#month').val();
        var fmType = $('#FmType').val();
        window.location = "/ReportTime/Export?unitID=" + unitID + "&year=" + year + "&month=" + month + "&fmType=" + fmType;
    }

    function choiceUnit(item, unitName, isLoadChild) {
        var id = $(item).attr('val');
        setUnitAndSearch(item);
        if (isLoadChild != undefined && isLoadChild != null && isLoadChild == 1) {
            if(id > 0){
                // Load lai cay don vi
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadUnit", "User")',
                    data: {"UnitID" : id},
                    success: function (data) {
                        $("#divDistrict").html(data);
                    },
                    error: function (xhr) {
                        CommonJS.alert(xhr.responseText, false);
                    }
                });
            } else {
                $("#divDistrict").html("");
            }
        }
    }

    function setUnitAndSearch(item) {
        var id = $(item).attr('val');
        $("#UnitID").val(id);
        // Thiet lap active
        setActive(item);
    }

    function setActive(item) {
        var li = $(item).parent();
        $(item).removeClass("active");
        li.find("a").each(function () {
            $(this).removeClass("active");
            var i = $(this).find("i:first");
            var iClass = i.attr('class');
            if (iClass != undefined && iClass != '') {
                i.removeClass(iClass);
                iClass = iClass.replace(/\-o/g, "");
                i.addClass(iClass);
            }
        });
        $(item).addClass("active");
        var iChild = $(item).find("i:first");
        var iChildClass = iChild.attr('class');
        if (iChildClass != undefined && iChildClass != '') {
            if (!iChildClass.endsWith("-o")) {
                iChild.removeClass(iChildClass);
                iChildClass += "-o";
                iChild.addClass(iChildClass);
            }
        }
    }
</script>
