﻿.msg-type-SUCCESS {
    z-index: 10000;
    padding: 5px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 1%;
    border: 1px solid #67dc6d;
    background: #bbfcbf;
    display: none;
    width: 65%;
    text-align: center;
    box-shadow: 2px 2px 5px #888888;
    font-size: 12px;
    font-weight: bold;
    color: #1b5e20;
}

.msg-type-ERROR {
    z-index: 10000;
    padding: 5px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 1%;
    border: 1px solid #ffa6a6;
    background: #f55d5d;
    display: none;
    width: 65%;
    text-align: center;
    box-shadow: 2px 2px 5px #888888;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.field-validation-error {
    color: red !important;
}

.label-center {
    padding-top: 8px !important;
}

.signal0 {
    margin-top: 2px;
    background: url('/Content/images/signal.png') no-repeat 0px 0px;
    width: 20px;
    height: 13px;
    float: left;
}

.signal1 {
    margin-top: 2px;
    background: url('/Content/images/signal.png') no-repeat 0px -12px;
    width: 20px;
    height: 13px;
    float: left;
}

.signal2 {
    margin-top: 2px;
    background: url('/Content/images/signal.png') no-repeat 0px -24px;
    width: 20px;
    height: 13px;
    float: left;
}

.signal3 {
    margin-top: 2px;
    background: url('/Content/images/signal.png') no-repeat 0px -36px;
    width: 20px;
    height: 13px;
    float: left;
}

.signal4 {
    margin-top: 2px;
    background: url('/Content/images/signal.png') no-repeat 0px -48px;
    width: 20px;
    height: 13px;
    float: left;
}

.wifi {
    margin-top: 2px;
    background: url('/Content/images/signal.png') no-repeat 0px -60px;
    width: 20px;
    height: 13px;
    float: left;
}

.lan {
    margin-top: 2px;
    background: url('/Content/images/signal.png') no-repeat 0px -73px;
    width: 20px;
    height: 13px;
    float: left;
}
