﻿@using eStream.Models
@using eStream.Common.CommonClass
@model DeviceModel
@{
    List<SelectListItem> listProvince = ViewData["listProvince"] as List<SelectListItem>;
    List<SelectListItem> listDistrict = ViewData["listDistrict"] as List<SelectListItem>;
    List<SelectListItem> listCommune = ViewData["listCommune"] as List<SelectListItem>;
    List<SelectListItem> listVillage = ViewData["listVillage"] as List<SelectListItem>;
    List<SelectListItem> listStatus = ViewData["listStatus"] as List<SelectListItem>;
}
@using (Ajax.BeginForm("AddOrEdit", "Device", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model != null && Model.DeviceID > 0)
                {
                    @Html.HiddenFor(model => model.DeviceID)
                    <h4 class="modal-title">Cập nhật thiết bị</h4>
                }
                else
                {
                    <h4 class="modal-title">Thêm mới thiết bị</h4>
                }
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Tỉnh</label>
                            @Html.DropDownListFor(x => x.ProvinceID, listProvince, new { @class = "form-control chosen-select", style = "width: 100%" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Thành phố/Huyện</label>
                            @Html.DropDownListFor(x => x.DistrictID, listDistrict, new { @class = "form-control chosen-select", style = "width: 100%", onChange = "loadCommune(this)" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Phường/Xã</label>
                            @Html.DropDownListFor(x => x.CommuneID, listCommune, new { @class = "form-control chosen-select", style = "width: 100%", onChange = "loadVillage(this)" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="addUnit">Thôn/Xóm</label>
                            @Html.DropDownListFor(x => x.VillageID, listVillage, new { @class = "form-control chosen-select", style = "width: 100%" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Tên thiết bị</label>
                            @Html.EditorFor(model => model.DeviceName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="SDeviceCode">Mã thiết bị <span class="text-danger"> *</span></label>
                            @if (Model == null || Model.DeviceID <= 0)
                            {
                                @Html.TextAreaFor(model => model.SDeviceCode, new { @class = "form-control", @rows = "2" })
                                <p class="text-navy">Bạn có thể nhập các mã thiết bị cách nhau dấu phẩy (,)</p>
                            }
                            else
                            {
                                @Html.EditorFor(model => model.SDeviceCode, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                            }
                            @Html.ValidationMessageFor(model => model.SDeviceCode)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Người quản lý</label>
                            @Html.EditorFor(model => model.ManagerName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Điện thoại người quản lý</label>
                            @Html.EditorFor(model => model.ManagerPhone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ManagerPhone)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Số thuê bao</label>
                            @Html.EditorFor(model => model.SimNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SimNumber)
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Trạng thái</label>
                            @Html.DropDownListFor(x => x.Status, listStatus, new { @class = "form-control chosen-select", style = "width: 100%" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Loại thiết bị</label>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="i-checks"><label>@Html.RadioButtonFor(x => x.FmType, GlobalConstant.IS_NOT_ACTIVE) Thiết bị thường</label></div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="i-checks"><label>@Html.RadioButtonFor(x => x.FmType, GlobalConstant.IS_ACTIVE) Giám sát FM</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Cảm biến loa</label>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="i-checks"><label>@Html.CheckBoxFor(x => x.S1) Loa 1</label></div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="i-checks"><label>@Html.CheckBoxFor(x => x.S2) Loa 2</label></div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="i-checks"><label>@Html.CheckBoxFor(x => x.S3) Loa 3</label></div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="i-checks"><label>@Html.CheckBoxFor(x => x.S4) Loa 4</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("select").chosen({ width: "100%" });
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        $("#modal-device").modal("toggle");
        searchDevice();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }

    function loadCommune(item) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCommune", "User")',
            data: { 'districtID': $(item).val() },
            success: function (result) {
                $("#CommuneID").empty();
                $.each(result, function (k, v) {
                    $("#CommuneID").append('<option value="' + v.UnitID + '">' + v.UnitName + '</option>');
                });
                $('#CommuneID').trigger("chosen:updated");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function loadVillage(item) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetVillage", "User")',
            data: { 'communeID': $(item).val() },
            success: function (result) {
                $("#VillageID").empty();
                $.each(result, function (k, v) {
                    $("#VillageID").append('<option value="' + v.UnitID + '">' + v.UnitName + '</option>');
                });
                $('#VillageID').trigger("chosen:updated");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>
