﻿@using eStream.Common.CommonClass;
@using eStream.Common.CommonObject;
@using eStream.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    /**/ 
    PagedList<DeviceModel> paginate = ViewData["listDevice"] as PagedList<DeviceModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "gridDevice"
                          );

    grid.Bind(paginate,
    autoSortAndPage: false,
    rowCount: paginate.Count);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                * grid.RowsPerPage * grid.PageIndex));
        gridColumns.Add(grid.Column("UnitName", "Đơn vị"));
        gridColumns.Add(grid.Column("DeviceName", "Tên thiết bị"));
        gridColumns.Add(grid.Column("SDeviceCode", "Mã thiết bị"));
        gridColumns.Add(grid.Column("Status", "Trạng thái", format: @<text>
        @if (item.Status == GlobalConstant.DEVICE_STATUS_READY)
    {
            <span class="label label-primary">Sẵn sàng</span>
        }
        else if (item.Status == GlobalConstant.DEVICE_STATUS_BEAK)
        {
            <span class="label label-danger">Hỏng</span>
        }
        else if (item.Status == GlobalConstant.DEVICE_STATUS_GUARANT)
        {
            <span class="label label-warning">Bảo hành</span>
        }
        </text>));
        gridColumns.Add(grid.Column(header: "Sửa", format: @<text>
            <a href="javascript:void(0)" onclick="prepareEditDevice(@item.DeviceID)" title="Sửa thiết bị"><i class="fa fa-pencil-square-o" style="font-size:18px"></i></a>
        </text>));
        @*gridColumns.Add(grid.Column(header: "Xóa", format: @<text>
            <a href="javascript:void(0)" onclick="deleteDevice(@item.DeviceID)" title="Xóa thiết bị"><i class="fa fa-trash-o text-danger" style="font-size:18px"></i></a>
        </text>));*@

        @grid.GetHtml(htmlAttributes: new { id = "gridDevice" },
                                   fillEmptyRows: false,
                                   tableStyle: "table table-hover table-striped",
                                   alternatingRowStyle: "altRow",
                                   selectedRowStyle: "selectRow",
                                   columns: gridColumns)
        <div class="pagination">
            @Html.PagedListPager(paginate, page => Url.Action("SearchDevice",
                                   new
                                   {
                                       DeviceName = ViewBag.DeviceName,
                                       UnitID = ViewBag.UnitID,
                                       page,
                                       pageSize = paginate.PageSize

                                   }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "divGridDevice" }))
        </div>
    }
    else
    {
        <div style="color:red; margin-left:10px;">
            Không có thiết bị nào
        </div>
    }
}
<script type="text/javascript">
    function deleteDevice(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa thiết bị?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Device")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                searchDevice();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>