﻿@using eStream.Models
@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@model ChannelModel
@{
    UserInfoBO user = SessionManager.GetUserInfoBO();
}
@using (Ajax.BeginForm("AddOrEdit", "Channel", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model != null && Model.ChanelID > 0)
                {
                    @Html.HiddenFor(model => model.ChanelID)
                    <h4 class="modal-title">Cập nhật kênh chuyển tiếp</h4>
                }
                else
                {
                    <h4 class="modal-title">Thêm mới kênh chuyển tiếp</h4>
                }
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Mã kênh</label>
                            @Html.HiddenFor(model => model.UnitID)
                            @Html.EditorFor(model => model.ChannelCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChannelCode)
                        </div>
                    </div>
                    @if (user.IsSupperAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE)
                    {
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label></label>
                                <div class="i-checks" style="margin-top: 10px;"><label>@Html.CheckBoxFor(x => x.IsGlobal) Kênh dùng chung</label></div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Tên kênh</label>
                            @Html.EditorFor(model => model.ChanelName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChanelName)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Đường dẫn kênh</label>
                            @Html.EditorFor(model => model.LinkUrl, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LinkUrl)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label></label>
                            <div class="i-checks" style="margin-top: 10px;"><label>@Html.CheckBoxFor(x => x.IsDefault) Kênh mặc định</label></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Số thứ tự</label>
                            @Html.EditorFor(model => model.NumberOrder, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label></label>
                            <div class="i-checks" style="margin-top: 10px;"><label>@Html.CheckBoxFor(x => x.IsFm) Kênh FM</label></div>
                        </div>
                    </div>
                    <div class="col-lg-6" id="divFmFreq">
                        <div class="form-group">
                            <label>Tần số</label>
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.FmFreq, new { @class = "form-control" })
                                <div class="input-group-addon">MHz</div>
                            </div>
                            @Html.ValidationMessageFor(x => x.FmFreq)
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("select").chosen({ width: "100%" });
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $('input[name="IsFm"]').on('ifClicked', function (event) {
            var source = $(this).iCheck('update')[0].checked;
            checkSupportFm(source);
        });
        var nowSupport = $('input[name="IsFm"]').iCheck('update')[0].checked;
        checkSupportFm(!nowSupport);
    });

    function checkSupportFm(source) {
        if (!source) {
            $("#divFmFreq").show();
        } else {
            $("#divFmFreq").hide();
        }
    }

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
        $("#modal-Channel").modal("toggle");
        searchChannel();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
