﻿@using eStream.Common.CommonClass;
@using eStream.Common.CommonObject;
@using eStream.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    UserInfoBO user = SessionManager.GetUserInfoBO();
    PagedList<ChannelModel> paginate = ViewData["listChannel"] as PagedList<ChannelModel>;
    var grid = new WebGrid(
                          rowsPerPage: paginate.PageSize,
                          canPage: true,
                          canSort: false,
                          ajaxUpdateContainerId: "gridChannel"
                          );

    grid.Bind(paginate,
    autoSortAndPage: false,
    rowCount: paginate.Count);
}
@{
    if (paginate.Count > 0)
    {
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1
                + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage)
                * grid.RowsPerPage * grid.PageIndex));
        gridColumns.Add(grid.Column("ChannelCode", "Mã kênh"));
        gridColumns.Add(grid.Column("ChanelName", "Tên kênh"));
        gridColumns.Add(grid.Column(header: "Đơn vị", style: "with-10", format: @<text>
    @if (item.IsGlobal)
    {
        <span class="label label-primary">Kênh dùng chung</span>
    }
    else
    {
        @item.UnitName
    }
        </text>));
 gridColumns.Add(grid.Column(header: "Mặc định", style: "with-10", format: @<text>
    @if (item.IsDefault)
    {
        <i class="fa fa-check label-primary" style="font-size:18px"></i>
    }
</text>));
@*gridColumns.Add(grid.Column("LinkUrl", "Đường dẫn kênh"));*@
gridColumns.Add(grid.Column(header: "Kênh FM", style: "with-10", format: @<text>
    @if (item.IsFm)
    {
        <i class="fa fa-check label-primary" style="font-size:18px"></i>
    }
</text>));
gridColumns.Add(grid.Column(header: "Sửa", format: @<text>
    @if (!item.IsGlobal || user.IsSupperAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE)
    {
        <a href="javascript:void(0)" onclick="prepareEditChannel(@item.ChanelID)" title="Sửa kênh"><i class="fa fa-pencil-square-o" style="font-size:18px"></i></a>
    }
</text>));
gridColumns.Add(grid.Column(header: "Xóa", format: @<text>
    @if (!item.IsGlobal || user.IsSupperAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE)
    {
        <a href="javascript:void(0)" onclick="deleteChannel(@item.ChanelID)" title="Xóa kênh"><i class="fa fa-trash-o text-danger" style="font-size:18px"></i></a>
    }
</text>));

@grid.GetHtml(htmlAttributes: new { id = "gridChannel" },
                           fillEmptyRows: false,
                           tableStyle: "table table-hover table-striped",
                           alternatingRowStyle: "altRow",
                           selectedRowStyle: "selectRow",
                           columns: gridColumns)
<div class="pagination">
    @Html.PagedListPager(paginate, page => Url.Action("SearchChannel",
                           new
                           {
                               SearchText = ViewBag.SearchText,
                               page,
                               pageSize = paginate.PageSize

                           }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "divGridChannel" }))
</div>
}
else
{
<div style="color:red; margin-left:10px;">
    Không có kênh nào
</div>
}
}
<script type="text/javascript">
    function deleteChannel(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa kênh?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Channel")',
            data: { 'id': id },
            success: function (data) {
                CommonJS.alert(data);
                searchChannel();
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>