﻿@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@using eStream.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserInfoBO user = SessionManager.GetUserInfoBO();
    string unitName = string.Empty;
    int unitID = 0;
    if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
    {
        List<UnitModel> listDistrict = ViewData["listDistrict"] as List<UnitModel>;
        if (listDistrict != null && listDistrict.Count > 1)
        {
            unitName = listDistrict[1].UnitName;
            unitID = listDistrict[1].UnitID;
        }
    }
    else
    {
        List<UnitModel> listCommune = ViewData["listCommune"] as List<UnitModel>;
        if (listCommune != null && listCommune.Count > 1)
        {
            unitName = listCommune[1].UnitName;
            unitID = listCommune[1].UnitID;
        }
    }

    string classSearch = "col-lg-9";
    if (user.UnitLevel == GlobalConstant.UNIT_TYPE_VILLAGE)
    {
        unitID = user.UnitID.Value;
        classSearch = "col-lg-12";
    }
}

<div class="row">
    @if (user.UnitLevel != GlobalConstant.UNIT_TYPE_VILLAGE)
    {
        <div class="col-lg-3">
            <div class="row">
                @if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE)
                {
                    <div class="col-md-12" id="divProvince">
                        @Html.Partial("../User/_Unit", ViewData["listDistrict"])
                    </div>
                }
                <div class="col-md-12" id="divDistrict">
                    @Html.Partial("../User/_Unit", ViewData["listCommune"])
                </div>
            </div>
        </div>
    }
    <div class="@classSearch">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 id="divTitle">Danh sách kênh chuyển tiếp</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Ajax.BeginForm("SearchChannel", "Channel", new AjaxOptions
                        {
                            HttpMethod = "post",
                            UpdateTargetId = "divGridChannel"
                        }, new { id = "frmSearch" }))
                        {
                            <input type="hidden" name="UnitID" id="UnitID" value="@unitID" />
                            <div class="input-group">
                                <input id="SearchText" name="SearchText" class="form-control" placeholder="Tên kênh, mã kênh" type="text" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"> <i class="fa fa-search"></i> Tìm kiếm</button>
                                    <button class="btn btn-success" type="button" onclick="prepareEditChannel(-1)"><i class="fa fa-plus"></i> Thêm mới</button>
                                </span>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12" id="divGridChannel">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-Channel" class="modal fade" role="dialog"></div>

<script type="text/javascript">
    $(document).ready(function () {
        searchChannel();
    });
    function searchChannel() {
        $("#frmSearch").submit();
    }

    function prepareEditChannel(id) {
        var unitID = $("#frmSearch #UnitID").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("OpenAddOrEdit", "Channel")',
            data: { 'id': id, 'unitID': unitID },
            success: function (result) {
                $("#modal-Channel").html(result);
                $("#modal-Channel").modal("show");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function choiceUnit(item, unitName, isLoadChild) {
        $('#divTitle').html("Danh sách thiết bị " + unitName);
        var id = $(item).attr('val');
        setUnitAndSearch(item);
        if (isLoadChild != undefined && isLoadChild != null && isLoadChild == 1) {
            if(id > 0){
                // Load lai cay don vi
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadUnit", "User")',
                    data: {"UnitID" : id},
                    success: function (data) {
                        $("#divDistrict").html(data);
                    },
                    error: function (xhr) {
                        CommonJS.alert(xhr.responseText, false);
                    }
                });
            } else {
                $("#divDistrict").html("");
            }
        }
    }

    function setUnitAndSearch(item) {
        var id = $(item).attr('val');
        $("#frmSearch #UnitID").val(id);
        // Thiet lap active
        setActive(item);
        // Tim kiem thiet bi
        searchChannel();
    }

    function setActive(item) {
        var li = $(item).parent();
        $(item).removeClass("active");
        li.find("a").each(function () {
            $(this).removeClass("active");
            var i = $(this).find("i:first");
            var iClass = i.attr('class');
            if (iClass != undefined && iClass != '') {
                i.removeClass(iClass);
                iClass = iClass.replace(/\-o/g, "");
                i.addClass(iClass);
            }
        });
        $(item).addClass("active");
        var iChild = $(item).find("i:first");
        var iChildClass = iChild.attr('class');
        if (iChildClass != undefined && iChildClass != '') {
            if (!iChildClass.endsWith("-o")) {
                iChild.removeClass(iChildClass);
                iChildClass += "-o";
                iChild.addClass(iChildClass);
            }
        }
    }
</script>
