﻿<!DOCTYPE html>
@using eStream.Helpers
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EStreaming | @ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/hls.min.js"></script>
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/inews/css")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/summernoteStyles")
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/treeview")
    <style type="text/css">

        .with-20 {
            width: 20% !important;
        }

        .with-10 {
            width: 10% !important;
        }

        .with-12 {
            width: 12% !important;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 10px;
            border-radius: 5px;
            background: #C5C5C5;
            outline: none;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #1c84c6;
                cursor: pointer;
            }

            .slider::-moz-range-thumb {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #1c84c6;
                cursor: pointer;
            }

        .table-pager {
            text-align: left;
        }

            .table-pager > td {
                padding-top: 10px;
            }

                .table-pager > td > a {
                    background-color: #f5f5f5;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    padding: 3px 7px;
                }

                    .table-pager > td > a:hover {
                        background-color: #f0f0f0;
                    }

        .signal0 {
            margin-top: 2px;
            background: url('/Content/images/signal.png') no-repeat 0px 0px;
            width: 20px;
            height: 13px;
            float: left;
        }

        .signal1 {
            margin-top: 2px;
            background: url('/Content/images/signal.png') no-repeat 0px -12px;
            width: 20px;
            height: 13px;
            float: left;
        }

        .signal2 {
            margin-top: 2px;
            background: url('/Content/images/signal.png') no-repeat 0px -24px;
            width: 20px;
            height: 13px;
            float: left;
        }

        .signal3 {
            margin-top: 2px;
            background: url('/Content/images/signal.png') no-repeat 0px -36px;
            width: 20px;
            height: 13px;
            float: left;
        }

        .signal4 {
            margin-top: 2px;
            background: url('/Content/images/signal.png') no-repeat 0px -48px;
            width: 20px;
            height: 13px;
            float: left;
        }

        .wifi {
            margin-top: 2px;
            background: url('/Content/images/signal.png') no-repeat 0px -60px;
            width: 20px;
            height: 13px;
            float: left;
        }

        .lan {
            margin-top: 2px;
            background: url('/Content/images/signal.png') no-repeat 0px -73px;
            width: 20px;
            height: 13px;
            float: left;
        }
    </style>
</head>
<body>
    <div id="wrapper" class="@Html.PageClass()">
        <!-- Navigation -->
        @Html.Partial("_Navigation")
        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">
            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")
            <!-- Main view  -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>@ViewBag.FunctionName</h2>
                    @Html.Raw(Html.BuildBreadcrumbNavigation())
                </div>
                <div class="col-lg-2">
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeIn">
                <div id="_GlobalMessage">
                </div>
                <!-- Section for main scripts render -->
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @Scripts.Render("~/plugins/slimScroll")
                @Scripts.Render("~/plugins/nouiSlider")
                @Scripts.Render("~/bundles/inspinia")
                @Scripts.Render("~/bundles/modernizr")
                @Scripts.Render("~/bundles/eStream")
                @Scripts.Render("~/plugins/chosen")
                @Scripts.Render("~/plugins/iCheck")
                @Scripts.Render("~/plugins/dataPicker")
                @Scripts.Render("~/plugins/ionRange")
                @Scripts.Render("~/plugins/jasnyBootstrap")
                @Scripts.Render("~/plugins/knob")
                @Scripts.Render("~/plugins/imagecropper")
                @Scripts.Render("~/plugins/colorpicker")
                @Scripts.Render("~/plugins/clockpicker")
                @Scripts.Render("~/plugins/dateRange")
                @Scripts.Render("~/plugins/select2")
                @Scripts.Render("~/plugins/touchSpin")
                @Scripts.Render("~/plugins/tagInputs")
                @Scripts.Render("~/plugins/duallist")
                @Scripts.Render("~/plugins/peity")
                @Scripts.Render("~/plugins/toastr")
                @Scripts.Render("~/plugins/summernote")
                @Scripts.Render("~/plugins/typehead")
                @Scripts.Render("~/plugins/dropZone")
                <!-- Skin config script - only for demo purpose-->
                @Scripts.Render("~/bundles/skinConfig")
                @Scripts.Render("~/bundles/treeview")
                @Scripts.Render("~/plugins/chartJs")
                <!-- Handler for local scripts -->
                @RenderSection("scripts", required: false)
                @RenderBody()
                <div id="modal-change-password" class="modal fade" role="dialog"></div>
                <div id="modal-playing-live" class="modal fade" role="dialog"></div>
            </div>
            <div class="footer">
                <div class="pull-right">
                    Hỗ trợ kỹ thuật: <strong><a href="tel:0963250260">0963 250 260</a></strong>
                </div>
                <div>
                    <strong>Copyright © 2018 by <a href="mailto:inetvn@gmail.com">Duc Khanh Technology Co.,Ltd</a>.</strong>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        displayLivingMenu();
    });

    $.ajaxSetup({
        error: function (x, e) {
            if (x.status == 401) {
                window.location.reload();
            }
        }
    });

    function displayLivingMenu() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetNowPlaying", "Live")',
            success: function (data) {
                if (data == 0) {
                    $('#aMenuLive').removeClass('field-validation-error');
                    $('#aMenuLive').css('width', 'auto');
                    $('#aMenuLive').css('display', 'block');
                    var nextItem = $('#aMenuLive').next();
                    if (nextItem.attr('id') == 'aImageLiving') {
                        nextItem.remove();
                    }
                } else if (!$('#aMenuLive').hasClass('field-validation-error')) {
                    $('#aMenuLive').addClass('field-validation-error');
                    $('#aMenuLive').css('width', '85%');
                    $('#aMenuLive').css('display', 'inline-block');
                    $('#aMenuLive').after('<a id="aImageLiving" style="width:15%;display:inline-block;padding-left:0px;"><img src="/Content/images/live.gif" href="javascript:void(0)" data-toggle="modal" data-target="#modal-playing-live" onclick="openLivePop()" style="width:25px;"></a>');
                }
            },
            error: function (e) {
            }
        });
    }

    function openLivePop() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetPlayingLives", "Live")',
            data: {},
            success: function (data) {
                $('#modal-playing-live').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function ChangePassPopup() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ChangePassword", "Home")',
            data: {},
            success: function (data) {
                $('#modal-change-password').html(data);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>