﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ESt | Login</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">ESt</h1>
            </div>
            <h3>Hệ thống quản lý phát thanh</h3>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/plugins/slimScroll")
            @Scripts.Render("~/bundles/inspinia")
            @Scripts.Render("~/bundles/modernizr")
            @Scripts.Render("~/bundles/eStream")
            @Scripts.Render("~/plugins/iCheck")
            <!-- Skin config script - only for demo purpose-->
            @Scripts.Render("~/bundles/skinConfig")

            @RenderSection("scripts", required: false)

            @RenderBody()
            <p class="m-t"> <small></small> </p>
        </div>
    </div>
    <script>
        $(document).on({
            ajaxStart: function () {
                $('#_AjaxLoading').modal('show');
            },
            ajaxStop: function () {
                $('#_AjaxLoading').modal('hide');
            }
        });
    </script>
</body>
</html>