﻿@using eStream.Common.CommonClass
@using eStream.Helpers
@using eStream.Models
@{
    var user = SessionManager.GetUserInfoBO();
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        @if (user.Avatar != null)
                        {
                            string imageBase64 = Convert.ToBase64String(user.Avatar);
                            string imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
                            <img src="@imageSrc" class="img-circle" width="48" height="48" />
                        }
                        else
                        {
                            <img src="~/Content/images/avatar-default.jpg" class="img-circle" width="48" height="48" />
                        }
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@user.UserName</strong>
                            </span> <span class="text-muted text-xs block">@user.FullName <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-change-password" onclick="ChangePassPopup()"><i class="fa fa-user-circle-o"></i> Thông tin cá nhân</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="@Url.Action("LogOut", "Home")">Đăng xuất</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            @if (user.IsManager.GetValueOrDefault() == GlobalConstant.IS_ACTIVE || user.IsAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE)
            {
                <li><a href="@Url.Action("Index", "Control")"><i class="fa fa-calendar"></i> <span class="nav-label" data-i18n="nav.layouts">Chương trình phát</span></a></li>
            }
            <li><a href="@Url.Action("Index", "Manager")"><i class="fa fa-shield"></i> <span class="nav-label">Điều khiển thiết bị</span></a></li>
            <li><a href="@Url.Action("Index", "Fm")"><i class="fa fa-binoculars"></i> <span class="nav-label">Giám sát FM</span></a></li>
            @if (user.IsManager.GetValueOrDefault() == GlobalConstant.IS_ACTIVE || user.IsAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE)
            {
                <li class="list-inline" style="margin-left: 0px"><a id="aMenuLive" href="@Url.Action("Index", "Live")" style="display: inline-block;"><i class="fa fa-volume-up"></i> <span class="nav-label">Phát trực tiếp</span></a></li>
                <li class="active"><a href="javascript:void(0)"> <span class="nav-label" data-i18n="nav.layouts">Báo cáo</span></a> </li>
                <li><a href="@Url.Action("Index", "ReportTime")"><i class="fa fa-line-chart"></i> <span class="nav-label">Thời gian hoạt động</span></a></li>
                <li><a href="@Url.Action("Fm", "ReportTime")"><i class="fa fa-podcast"></i> <span class="nav-label">Thời gian phát FM</span></a></li>
            }
            @if (user.IsAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE)
            {
                <li class="active"><a href="javascript:void(0)"> <span class="nav-label" data-i18n="nav.layouts">Quản trị hệ thống</span></a> </li>
                <li><a href="@Url.Action("Index", "Device")"><i class="fa fa-microchip"></i> <span class="nav-label">Quản lý thiết bị</span></a></li>
                if (user.IsSupperAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE)
                {
                    <li><a href="@Url.Action("Index", "Channel")"><i class="fa fa-snowflake-o"></i> <span class="nav-label">Quản lý kênh</span></a></li>
                }
                <li><a href="@Url.Action("Index", "User")"><i class="fa fa-user"></i> <span class="nav-label" data-i18n="nav.layouts">Người dùng</span></a></li>
                <li><a href="@Url.Action("Index", "SendSmsHis")"><i class="fa fa-clock-o"></i> <span class="nav-label" data-i18n="nav.layouts">Lịch sử gửi SMS</span></a></li>
                if (user.IsSupperAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE ||
                    (user.IsAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE && user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE))
                {
                    <li><a href="@Url.Action("Index", "UnitManager")"><i class="fa fa-users"></i> <span class="nav-label">Đơn vị</span></a></li>
                    <li><a href="@Url.Action("Index", "Config")"><i class="fa fa-gear"></i> <span class="nav-label">Cấu hình</span></a></li>
                    <li><a href="@Url.Action("Index", "ActionLog")"><i class="fa fa-tasks"></i> <span class="nav-label">Giám sát hoạt động</span></a></li>
                }
            }
            <li><a href="~/help/index.html" target="_blank"><i class="fa fa-info-circle text-light-blue"></i><span class="text-light-blue">Hướng dẫn sử dụng</span></a></li>
        </ul>
    </div>
</nav>