﻿@using eStream.Common.CommonClass
@{
    var user = SessionManager.GetUserInfoBO();
}

<div class="row border-bottom">
    <nav role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
					Hệ thống quản lý truyền thanh qua mạng Internet
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="@Url.Action("LogOut", "Home")">
                    <i class="fa fa-sign-out"></i> Thoát
                </a>
            </li>
        </ul>
    </nav>
</div>

