﻿@using eStream.Models
@model ChangePasswordModel

@using (Ajax.BeginForm("ChangePassword", "Home", null, new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmChangePassword" }))
{
    <style>
        .hide-show {
            width: 94%;
            margin: -2.2em 3% 10px 280px;
            position: relative;
            z-index: 5;
            cursor: pointer
        }

        .form input[type=text] {
            margin-bottom: 0 !important; 
        }
    </style>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title ">
                    Cập nhật thông tin người dùng
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12 text-center" style="margin-bottom:20px;">
                            @if (Model.Avatar != null)
                            {
                                string imageBase64 = Convert.ToBase64String(Model.Avatar);
                                string imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
                                <img src="@imageSrc" name="avatar" width="80" height="80" class="img-circle" />
                            }
                            else
                            {
                                <img src="~/Content/Images/avatar-default.jpg"  name="avatar" width="80" height="80" class="img-circle" />
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Tên người dùng</label>
                                <div class="col-md-7">
                                    @if (Model.IsMember)
                                    {
                                        <span style="padding-top:5px">@Html.DisplayFor(x => x.FullName)</span>
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(x => x.FullName, new { placeholder = "Tên người dùng", @class = "form-control" })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Số điện thoại</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(x => x.PhoneNumber, new { placeholder = "Số điện thoại", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.PhoneNumber)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Mật khẩu cũ</label>
                                <div class="col-md-7">
                                    @Html.PasswordFor(x => x.Password, new { placeholder = "Mật khẩu cũ", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Password)
                                    <div class="hide-show">
                                        <span class="fa fa-eye" onclick="showPasswordOld()"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Mật khẩu mới</label>
                                <div class="col-md-7">
                                    @Html.PasswordFor(x => x.NewPassword, new { placeholder = "Mật khẩu mới", @class = "form-control"})
                                    @Html.ValidationMessageFor(x => x.NewPassword)
                                    <div class="hide-show">
                                        <span class="fa fa-eye" onclick="showPasswordNew()"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Xác nhận mật khẩu mới</label>
                                <div class="col-md-7">
                                    @Html.PasswordFor(x => x.ConfirmNewPassword, new { placeholder = "Xác nhận mật khẩu mới", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
                                    <div class="hide-show">
                                        <span class="fa fa-eye" onclick="showPasswordRe()"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <div class="input-group" style="margin-left:55px;">
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                        &nbsp;<i class="fa fa-paperclip"></i> Ảnh đại diện &nbsp;&nbsp;
                                        <input id="txtUploadImage" name="txtUploadImage" type="file" onchange="setTextVal(this)">
                                    </span>
                                </span>
                                <input name="txtAvatarName" id="txtAvatarName" class="form-control" aria-label="..." placeholder="Ảnh đại diện">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="changeUserProfile()"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Hủy</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function onBegin() {
        if ($("#frmChangePassword").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function showPasswordOld() {
        var x = document.getElementById("Password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }


    function showPasswordNew() {
        var x = document.getElementById("NewPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

    function showPasswordRe() {
        var x = document.getElementById("ConfirmNewPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

    function onSuccess(msg) {
        CommonJS.alert(msg);
    }
    function onFail(xhr) {
        CommonJS.alert(xhr.responseText, false);
    }

    function setTextVal(input) {
        var fileUpload = $("#frmChangePassword #txtUploadImage").get(0);
        var files = fileUpload.files;
        $("#frmChangePassword #txtAvatarName").val(files[0].name);
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("img[name*='avatar']").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function changeUserProfile() {
        var fullName = $("#frmChangePassword #FullName").val();
        var phoneNumber = $("#frmChangePassword #PhoneNumber").val();
        var password = $("#frmChangePassword #Password").val();
        var newPassword = $("#frmChangePassword #NewPassword").val();
        var confirmNewPassword = $("#frmChangePassword #ConfirmNewPassword").val();
        if (fullName == "") {
            CommonJS.alert("Tên người dùng không được để trống", false);
            $("#frmChangePassword #FullName").focus();
            return false;
        }
        if (phoneNumber != null && phoneNumber !== "") {
            var isNumber = /^\d+$/.test(phoneNumber);
            //  alert(isNumber);
            if (!isNumber) {
                CommonJS.alert("Số điện thoại không hợp lệ.", false);
                $("#frmChangePassword #PhoneNumber").focus();
                return false;
            }

        }
        if (window.FormData !== undefined) {
            var fileData = new FormData();
            var fileUpload = $("#frmChangePassword #txtUploadImage").get(0);

            var files = fileUpload.files;
         
            fileData.append("UserAvatar", files[0]);

            
            fileData.append("FullName", fullName);
            fileData.append("PhoneNumber", $("#frmChangePassword #PhoneNumber").val());
            fileData.append("Password", $("#frmChangePassword #Password").val());
            fileData.append("NewPassword", $("#frmChangePassword #NewPassword").val());
            fileData.append("ConfirmNewPassword", $("#frmChangePassword #ConfirmNewPassword").val());
         
            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangePassword", "Home")',
                //  data: myFrmData,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (data) {
                    CommonJS.alert(data);
                    $("#modal-change-password").modal('hide');
                },
                error: function (e) {
                    CommonJS.alert("Có lỗi hệ thống", false);
                }
            });
        }
    }
</script>
