﻿
@{
    ViewBag.Title = "DomainError";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div class="error-page">
    <div class="error-content text-red" style="margin-left: 0px; color: red">
        <h2><i class="fa fa-warning text-red"></i> Domain không hợp lệ, vui lòng quay lại sau!</h2>
        <p class="text-success">
            Domain không hợp lệ, vui lòng liên hệ với quản lý hệ thống để cấu hình.
        </p>
    </div>
</div>

