﻿@using eStream.Models
@model LoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div id="_GlobalMessage" class="alert alert-danger" style="display: none">
</div>
<div id="Contaner" class="login">
    <h2 class="font-bold">Tìm lại tài khoản</h2>
    <p>
        Nhập tên đăng nhập của bạn
    </p>
    <div class="row">
        <div class="col-lg-12">
            <form class="m-t" role="form" id="frmStep1">
                <div class="form-group">
                    <input type="text" id="userName" name="userName" placeholder="Tên đăng nhập" class="form-control" required />
                    <span class="text-danger" style="display: none" id="userNameErr">Tên đăng nhập không được để trống</span>
                </div>
                <button type="button" onclick="FPStep1()" class="btn btn-primary block full-width m-b">Tiếp theo</button>
            </form>
        </div>
    </div>
</div>
<script>
    $("#userName").on('keydown', function(e) {
        if (e.which == 13) {
            e.preventDefault();
            FPStep1();
        }
    });

    function FPStep1() {
        $("#step1Err").hide();
        var userName = $("#userName").val();
        if (userName == "" || userName == undefined) {
            $("#userNameErr").show();
        } else {
            $("#userNameErr").hide();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ForgetPasswordStep1", "Home")',
                data: { 'userName': userName },
                success: function (data) {
                    $("#Contaner").html('');
                    $("#Contaner").html(data);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }
</script>
