﻿<h2>Đổi mật khẩu thành công</h2>

<button type="button" onclick="comeback()" class="btn btn-primary block full-width m-b">Quay về trang đăng nhập</button>
<script>
    function comeback() {
        window.location.href= "/Home/LogIn";
    }
</script>