﻿@using eStream.Common.CommonObject
@model UserInfoBO
<h2 class="font-bold">Đổi mật khẩu</h2>
<p>
    Nhập mật khẩu mới
</p>
<div class="row">
    <div class="col-lg-12">
        <form class="m-t" role="form">
            <div class="form-group">
                <input type="password" id="newPass" name="newPass" placeholder="Nhập mật khẩu mới" class="form-control" required />
                <span class="text-danger" style="display: none" id="newPassErr">Mật khẩu không được để trống</span>
                @Html.HiddenFor(m => m.UserID)
            </div>
            <div class="form-group">
                <input type="password" id="rePass" name="rePass" placeholder="Xác nhận mật khẩu mới" class="form-control" required />
                <span class="text-danger" style="display: none" id="rePassErr">Xác nhận mật khẩu không được để trống</span>
                <span class="text-danger" style="display: none" id="rePassNotMatch">Xác nhận mật khẩu không đúng</span>
            </div>
            <button type="button" onclick="FPStep4()" class="btn btn-primary block full-width m-b">Xác nhận</button>
        </form>
    </div>
</div>
<script>
    $("#newPass").on('keydown', function(e) {
        if (e.which == 13) {
            e.preventDefault();
            $("#rePass").focus();
        }
    });

    $("#rePass").on('keydown', function(e) {
        if (e.which == 13) {
            e.preventDefault();
            FPStep4();
        }
    });


    function FPStep4() {
        var newPass = $("#newPass").val();
        var rePass = $("#rePass").val();
        var userId = $("#UserID").val();

        if(Validate(newPass,rePass)){
            $.ajax({
                type: "POST",
                url: '@Url.Action("ForgetPasswordStep4", "Home")',
                data: {
                    'newPass': newPass,
                    'rePass': rePass,
                    'userId': userId
                },
                success: function(data) {
                    $("#Contaner").html('');
                    $("#Contaner").html(data);
                },
                error: function(xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }

    function Validate(newPass, rePass) {
        $("#newPassErr").hide();
        $("#rePassErr").hide();
        $("#rePassNotMatch").hide();

        if (newPass == "" || newPass == undefined) {
            $("#newPassErr").show();
            return false;
        }

        if (rePass == "" || rePass == undefined) {
            $("#rePassErr").show();
            return false;
        }

        if (rePass != newPass ) {
            $("#rePassNotMatch").show();
            return false;
        }

        return true;
    }
</script>












@*@using DocMan.Common
    @model UserInfo
    <h2 class="font-bold">Đổi mật khẩu</h2>
    <p>
        Nhập mật khẩu mới
    </p>
    <div class="row">
        <div class="col-lg-12">
            <form class="m-t" role="form">
                <div class="form-group">
                    <input type="password" id="pass" name="pass" placeholder="Nhập mật khẩu mới" class="form-control" required />
                    <span class="text-danger" style="display: none" id="passErr">Mã bảo mật không được để trống</span>
                    @Html.HiddenFor(m => m.UserID)
                </div>
                <div class="form-group">
                    <input type="password" id="rePass" name="rePass" placeholder="Xác nhận" class="form-control" required />
                    <span class="text-danger" style="display: none" id="rePassErr">Mã bảo mật không được để trống</span>
                </div>
                <button type="button" onclick="FPStep2()" class="btn btn-primary block full-width m-b">Xác nhận</button>
            </form>
        </div>
    </div>

    <script>
        function FPStep2() {
            var phonNum = $("#phonNum").val();
            var userId = $("#UserID").val();
            if (phonNum == "" || phonNum == undefined) {
                $("#phoneErr").show();
            } else {
                $("#phoneErr").hide();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ForgetPasswordStep3", "Home")',
                    data: { 'phonNum': phonNum,
                        'userId' : userId},
                    success: function (data) {
                        $("#Contaner").html('');
                        $("#Contaner").html(data);
                    },
                    error: function (xhr) {
                        CommonJS.alert(xhr.responseText);
                    }
                });
            }
        }
    </script>*@
