﻿@using eStream.Common.CommonObject
@model UserInfoBO
<h2 class="font-bold">Nhập mã bảo mật</h2>
<p>
    Mã xác thực bảo mật được gửi đến số điện thoại đăng ký.
</p>
<div class="row">
    <div class="col-lg-12">
        <form class="m-t" role="form">
            <div class="form-group">
                <input type="text" id="phonNum" name="phonNum" placeholder="Nhập mã" class="form-control" required/>
                <span class="text-danger" style="display: none" id="phoneErr">Mã bảo mật không được để trống</span>
                @Html.HiddenFor(m => m.UserID)
            </div>
            <button type="button" onclick="FPStep3()" class="btn btn-primary block full-width m-b">Xác nhận</button>
        </form>
    </div>
</div>
<script>
    $("#phonNum").on('keydown', function(e) {
        if (e.which == 13) {
            e.preventDefault();
            FPStep3();
        }
    });

    function FPStep3() {
        var phonNum = $("#phonNum").val();
        var userId = $("#UserID").val();
        if (phonNum == "" || phonNum == undefined) {
            $("#phoneErr").show();
        } else {
            $("#phoneErr").hide();

            $.ajax({
                type: "POST",
                url: '@Url.Action("ForgetPasswordStep3", "Home")',
                data: { 'phonNum': phonNum,
                    'userId' : userId},
                success: function (data) {
                    $("#Contaner").html('');
                    $("#Contaner").html(data);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }
</script>
