﻿@model eStream.Models.LoginModel
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<style>
    .div-remember {
        padding-left: 2px;
        padding-bottom: 10px;
        text-align: left;
    } 
</style>
<div id="_GlobalMessage">
</div>
<div id="Contaner" class="login" role="form">
    @using (Ajax.BeginForm("LogIn", "Home", new AjaxOptions()
    {
        OnFailure = "OnFailure",
        OnSuccess = "OnSucess"

    }, new { @class = "m-t" }))
    {
        <div class="form-group">
            @Html.TextBoxFor(m => m.UserName, new { placeholder = "Tên đăng nhập", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { placeholder = "Mật khẩu", @class = "form-control", @type = "password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary block full-width m-b">Đăng nhập</button>
        </div>
        <div class="div-remember">
            <label> @Html.CheckBoxFor(u => u.RememberMe, new { @class = "i-checks" })Ghi nhớ đăng nhập</label>
            <a href="@Url.Action("ForgetPassword", "Home")" class="pull-right"> Quên mật khẩu?</a>
        </div>
    }
</div> <!--/ Login-->
<div class="copyright">
    <p>Copyright &copy; 2017. Created by <a href="mailto:inetvn@gmail.com" target="_blank">ESt TEAM</a></p>
</div>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
    function OnFailure(xhr) {
        CommonJS.alert(xhr.responseText, false);
    }
    function OnSucess(result) {
        if (result.RedirectUrl) {
            // if the server returned a JSON object containing an url
            // property we redirect the browser to that url
            window.location.href = result.RedirectUrl;
        } else {
            $("#Contaner").html('');
            $("#Contaner").html(result);
        }
    }
</script>