﻿@using eStream.Common.CommonObject
@{
    string userName = ViewData["UserName"] as string;
}
<h2 class="font-bold">Nhập mã OTP</h2>
<p>
    Mã xác thực OTP được gửi đến số điện thoại đăng ký.
</p>
<div class="row">
    <div class="col-lg-12">
        <form class="m-t" role="form">
            <div class="form-group">
                <input type="text" id="OTP" name="OTP" placeholder="Nhập mã" class="form-control" required />
                <span class="text-danger" style="display: none" id="otpErr">Mã OTP không được để trống</span>
                @Html.Hidden("UserNameEn", @userName)
            </div>
            <button type="button" onclick="otp()" class="btn btn-primary block full-width m-b">Xác nhận</button>
            <div>
                <a href="@Url.Action("LogIn", "Home")" class="pull-right"> Quay lại</a>
            </div>
        </form>
    </div>
</div>
<script>
    $("#OTP").on('keydown', function(e) {
        if (e.which == 13) {
            e.preventDefault();
            otp();
        }
    });

    function otp() {
        var OTP = $("#OTP").val();
        var UserName = $("#UserNameEn").val();
        if (OTP == "" || OTP == undefined) {
            $("#otpErr").show();
        } else {
            $("#otpErr").hide();
            $.ajax({
                type: "POST",
                url: '@Url.Action("OTP", "Home")',
                data: { 'OTP': OTP, 'UserName': UserName},
                success: function (result) {
                    window.location.href = result.RedirectUrl;
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        }
    }
</script>
