﻿@using eStream.Models
@using eStream.Common.CommonClass
@model ScheduleModel
@{
    List<SelectListItem> listProvince = ViewData["listProvince"] as List<SelectListItem>;
    List<SelectListItem> ListDayOfWeek = ViewData["ListDayOfWeek"] as List<SelectListItem>;
    List<SelectListItem> Frequency = ViewData["ListFrequency"] as List<SelectListItem>;
    List<SelectListItem> Units = ViewData["ListUnit"] as List<SelectListItem>;
    string classDay = (Model != null && Model.Frequency.GetValueOrDefault() == GlobalConstant.SCHEDULE_WEEKLY) ? "" : "display:none";
    if (Model != null && Model.IsStopStream == null)
    {
        Model.IsStopStream = 0;
    }
}
@using (Ajax.BeginForm("AddOrEdit", "Control", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model != null && Model.ScheduleID > 0)
                {
                    @Html.HiddenFor(x => x.ScheduleID)
                }
                <h4 class="modal-title">Cấu hình khung thời gian</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="exampleInputName2">Tiêu đề</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.ScheduleName, new { htmlAttributes = new { @class = "form-control", style = "width: 100%" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="exampleInputName2">Giờ phát</label>
                                <div class="col-sm-4">
                                    <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                        @Html.EditorFor(model => model.ScheduleFullTime, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", value = "09:30" } })
                                        <span class="input-group-addon">
                                            <span class="fa fa-clock-o"></span>
                                        </span>
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label" for="exampleInputName2">Giờ kết thúc</label>
                                <div class="col-sm-4">
                                    <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                        @Html.EditorFor(model => model.OffFullTime, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", value = "09:30" } })
                                        <span class="input-group-addon">
                                            <span class="fa fa-clock-o"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="exampleInputName2">Tần suất</label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(x => x.Frequency, Frequency, new { @class = "form-control chosen-select", style = "width: 100%", onchange = "changeDisplayDay(this)" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" id="divDay" style="@classDay">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ngày phát</label>
                                <div class="col-sm-10">
                                    @foreach (SelectListItem item in ListDayOfWeek)
                                    {
                                        if (Model != null && Model.ListDay != null && Model.ListDay.Any(v => v.ToString().Equals(item.Value)))
                                        {
                                            <label class="checkbox-inline i-checks"><input type="checkbox" name="ListDay" value="@item.Value" checked /> @item.Text</label>
                                        }
                                        else
                                        {
                                            <label class="checkbox-inline i-checks"><input type="checkbox" name="ListDay" value="@item.Value" /> @item.Text</label>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Đơn vị không áp dụng</label>
                                <div class="col-sm-10" id="divListExceptUnitID">
                                    @Html.ListBoxFor(x => x.ListExceptUnitID, Units, new { @class = "form-control chosen-select", style = "width: 100%" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Áp dụng</button>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("select").chosen({ width: "100%", "placeholder_text_multiple": "Chọn danh sách đơn vị không phát" });
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
        $('.clockpicker').clockpicker();
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
    function changeDisplayDay(item) {
        var frequence = $(item).val();
        var weekly = @GlobalConstant.SCHEDULE_WEEKLY;
        if(frequence == weekly){
            $('#divDay').show();
        } else {
            $('#divDay').hide();
        }
    }
    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }
    function onSuccess(msg) {
        CommonJS.alert(msg);
        searchSchedule();
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }

    function changeExpUnit() {
        var unitIds = $("#ListExceptUnitID").val();
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("SelectExpDis", "Control")',
            data: { unitIds: unitIds },
            success: function (result) {
                $('#divListExceptUnitID').html('');
                $('#divListExceptUnitID').html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    $('#ListExceptUnitID').on("change", function () {
        changeExpUnit();
    });
</script>