﻿@using eStream.Models
@using eStream.Common.CommonClass
@model ScheduleDayModel
@{
    DateTime? Date = ViewData["Date"] as DateTime?;
    DateTime exStartDate = (DateTime)ViewData["ExStartDate"];
    DateTime now = DateTime.Now;
    List<SelectListItem> Chanels = GlobalCommon.GetChanels();
    Chanels.Add(new SelectListItem() { Text = "Không", Value = "0" });
    int row = 12 / Chanels.Count;
    int programID = 0;
    bool hasCheck = Model.ChannelID != null && Chanels.Any(x => x.Value.Equals(Model.ChannelID.Value.ToString()));
    var isLoop = Model.IsLoop ? GlobalConstant.IS_ACTIVE : 0;
}
<div class="modal-dialog" style="width: 750px !important">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="ibox-title">
            <h5>Cấu hình danh sách phát ngày @Date.Value.ToString("dd/MM/yyyy")</h5>
            <div class="ibox-tools">
                <a class="close-link" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        @if (exStartDate >= now)
        {
            <div class="ibox-content ibox-heading">
                <div class="row">
                    <div class="col-md-12">
                        <label>Chương trình phát:</label>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    <i class="fa fa-paperclip"></i> <span id="FileName">Lựa chọn file</span>
                                    <input name="attachmentFile" id="attachmentFile" type="file">
                                </span>
                            </span>
                            <input type="text" name="AttachFileName" id="AttachFileName" class="form-control" maxlength="2000" placeholder="Tên file phát">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-file" onclick="AddToPlaylist()">
                                    Tải file
                                </button>
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-success" title="Chuyển đổi từ văn bản thành audio" onclick="PrepareConvertText(@Model.ScheduleDayID, '@Date')">
                                    Chuyển giọng nói
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="modal-body">
            <div class="row" id="divProgess" style="display: none">
                <div class="col-md-12 m-b-sm m-t-sm">
                    <div class="progress" style="width:100%">
                        <div class="progress-bar"></div>
                        <div class="percent">0%</div>
                    </div>
                </div>
            </div>
            <div class="row" id="divProgessPublish" style="display: none">
                <div class="col-md-12 m-b-sm m-t-sm">
                    <div class="progress progress-striped active">
                        <div style="width: 100%" class="progress-bar progress-bar-success">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 m-b-sm m-t-sm" id="ListPrograms">
                </div>
            </div>
            @if (exStartDate >= now && Model.ListProgram != null && Model.ListProgram.Any())
            {
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="i-checks">
                                <label>@Html.CheckBoxFor(x => x.IsLoop) Phát lặp</label>
                            </div>
                            <input type="hidden" value="@Model.IsLoop.ToString()" id="hidIsLoop" />
                        </div>
                    </div>
                    <div class="col-md-9" id="InpLoopCount">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Số lần lặp</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.LoopCount, new { @class = "form-control", style = "width: 100%", @id = "LoopCount" })
                                        <span class="input-group-addon">
                                            Lần
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <label>Kênh chuyển tiếp:</label>
                </div>
                @for (int i = 0; i < Chanels.Count; i++)
                {
                    SelectListItem item = Chanels[i];
                    <div class="col-md-@row">
                        <div class="form-group">
                            @if (Model != null && Model.ChannelID != null && Model.ChannelID.ToString().Equals(item.Value))
                            {
                                <div class="i-checks"><label><input type="radio" name="ChannelID" value="@item.Value" checked /> @item.Text</label></div>
                            }
                            else
                            {
                                if (!hasCheck && item.Selected)
                                {
                                    <div class="i-checks"><label><input type="radio" name="ChannelID" value="@item.Value" checked /> @item.Text</label></div>
                                }
                                else
                                {
                                    <div class="i-checks"><label><input type="radio" name="ChannelID" value="@item.Value" /> @item.Text</label></div>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer">
            @if (exStartDate >= now && Model.ListProgram != null && Model.ListProgram.Any())
            {
                programID = Model.ListProgram.First().ProgramID;
                DateTime? exDate = Model.ListProgram.First().ExcuteDate;
            }
            <button type="button" class="btn btn-primary" id="btnPushlich" onclick="ApprovedSchedule(@Model.ScheduleID, @Model.ScheduleDayID, @programID, '@Date')"><i class="fa fa-cloud-upload"></i> Lên lịch</button>
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="ReloadPrograms(@Model.ScheduleID, '@Date')">Đóng</button>
        </div>
    </div>
</div>
@Html.HiddenFor(a => a.ScheduleDayID)
@Html.HiddenFor(a => a.ScheduleID)
<script type="text/javascript">
    $(document).ready(function () {
        $("select").chosen({ width: "100%" });
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $('#attachmentFile').bind('change', function () {
            curFile = this.files[0];
            var FileName = curFile.name;
            if(FileName.length > 30){
                FileName = FileName.substring(0,30) + "...";
            }
            $('#AttachFileName').val(FileName);
        });
        changeLoop(@isLoop)
        $('input[name="IsLoop"]').on('ifClicked', function (event) {
            changeLoop(!event.target.checked);
        });
        searchPrograms();
    });

    function changeLoop(checked) {
        if (checked || checked == 1 || checked == true) {
            if ($("#LoopCount").val() == '') {
                $("#LoopCount").val('@GlobalConstant.LOOP_COUNT');
            }
            $("#InpLoopCount").show();
            $("#hidIsLoop").val(true);
        } else {
            $("#LoopCount").val('');
            $("#InpLoopCount").hide();
            $("#hidIsLoop").val(false);
        }
    }

    function searchPrograms() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPrograms", "Control")',
            data: { 'ScheduleDayID': @Model.ScheduleDayID, 'Date' : '@Date' },
            success: function (result) {
                $("#ListPrograms").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

    function AddChanelToPlaylist(){
        var ChanelID = $("#Chanel").val();
        var IsLoop = $("#hidIsLoop").val();
        var LoopCount = $("#LoopCount").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddToChanellist", "Control")',
            data: {
                'ScheduleDayID': @Model.ScheduleDayID,
                'Date' : '@Date',
                'ChanelID': ChanelID,
                'IsLoop': IsLoop,
                'LoopCount': LoopCount
            },
            success: function (result) {
                CommonJS.alert(result);
                PrepareAddProgram(@Model.ScheduleDayID, '@Date');
                ReloadPrograms($('#myModal #ScheduleID').val(), '@Date');
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function AddToPlaylist() {
        var bar = $('.progress-bar');
        var percent = $('.percent');
        var fileUpload = $("#attachmentFile").get(0);
        var files = fileUpload.files;  
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                data.append("ScheduleDayID", @Model.ScheduleDayID);
                data.append("Date", '@Date');
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                $('#divProgessPublish').hide();
                $('#divProgess').show();
                $.ajax({
                    type: "POST",
                    url: '/Control/AddToPlaylist',
                    contentType: false,
                    processData: false,
                    data: data,
                    xhr: function() {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress", function(evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                percentComplete = parseInt(percentComplete * 100);
                                bar.width(percentComplete + "%");
                                percent.html(percentComplete + "%");
                                if (percentComplete === 100) {
                                    $('#divProgess').hide();
                                }
                            }
                        }, false);

                        return xhr;
                    },
                    success: function (result) {
                        CommonJS.alert(result);
                        PrepareAddProgram(@Model.ScheduleDayID, '@Date');
                        ReloadPrograms($('#myModal #ScheduleID').val(), '@Date');
                    },
                    error: function (xhr) {
                        CommonJS.alert(xhr.responseText, false);
                    }
                });
            } else {
                CommonJS.alert("Trình duyệt không hỗ trợ upload file", false);
            }
        }
    }

</script>
