﻿@using eStream.Models
@{
    DateTime? Date = ViewData["Date"] as DateTime?;
    List<ScheduleProgramModel> ListSchedulePrograms = ViewData["ListSchedulePrograms"] as List<ScheduleProgramModel>;
    List<ProgramChanelModel> ListProgramChanels = ViewData["ListProgramChanels"] as List<ProgramChanelModel>;
    bool isNotApproved = true;
    int scheduleID = 0;
    int scheduleDayID = 0;
    int programID = 0;
    if (ListSchedulePrograms != null && ListSchedulePrograms.Any())
    {
        isNotApproved = ListSchedulePrograms.Any(x => x.Status.GetValueOrDefault() == 0);
        scheduleID = ListSchedulePrograms.First().ScheduleID;
        scheduleDayID = ListSchedulePrograms.First().ScheduleDayID;
        programID = ListSchedulePrograms.First().ProgramID;
    }
}
<div class="modal-dialog" style="width: 750px !important">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="ibox-title">
            <h5>Danh sách phát ngày @Date.Value.ToString("dd/MM/yyyy")</h5>
            <div class="ibox-tools">
                <a class="close-link" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <label>Chương trình phát:</label>
                </div>
                <div class="col-md-12">
                    <table class="table table-hover">
                        <tbody>
                            @foreach (var objProgram in ListSchedulePrograms)
                            {
                                <tr>
                                    <td style="width:60%">
                                        <i class="fa fa-microphone"></i>  <a href="@Url.Action("Download", "Control", new {ProgramID = objProgram.ProgramID })">@objProgram.FileName</a>
                                    </td>
                                    <td>
                                        @objProgram.UserName
                                    </td>
                                    <td>
                                        @string.Format("{0:dd/MM/yyyy HH:mm:ss}", objProgram.CreatedDate)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <label>Kênh chuyển tiếp:</label>
                </div>
                <div class="col-md-12 m-b-sm m-t-sm">
                    <ul class="list-group clear-list m-t">
                        @foreach (var objChanel in ListProgramChanels)
                        {
                            <li class="list-group-item">
                                <i class="fa fa-microphone"></i> @objChanel.ChanelName <label class="label label-success">@objChanel.UnitName</label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @if (isNotApproved)
            {
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ApproveScheduleDay(@scheduleID, @scheduleDayID, @programID)"><i class="fa fa-check"></i> Phê duyệt</button>
            }
            else
            {
                <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="RejectScheduleDay(@scheduleID, @scheduleDayID, @programID)"><i class="fa fa-times"></i> Hủy phê duyệt</button>
            }
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    function ApproveScheduleDay(scheduleID, scheduleDayID, programID) {
        $.ajax({
            type: "POST",
            data: { 'id': scheduleDayID, 'status': 1 },
            url: '@Url.Action("ApproveScheduleDay", "Control")',
            success: function (result) {
                CommonJS.alert(result);
                ReloadScheduleDaysByProgram(scheduleID, programID);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function RejectScheduleDay(scheduleID, scheduleDayID, programID) {
        $.ajax({
            type: "POST",
            data: { 'id': scheduleDayID, 'status': 0 },
            url: '@Url.Action("ApproveScheduleDay", "Control")',
            success: function (result) {
                CommonJS.alert(result);
                ReloadScheduleDaysByProgram(scheduleID, programID);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }

</script>
