﻿@using eStream.Models
@model CloneScheduleDayModel
@{
    DateTime? Date = ViewData["Date"] as DateTime?;
    DateTime exStartDate = (DateTime)ViewData["ExStartDate"];
    DateTime now = DateTime.Now;
    ScheduleModel Schedule = ViewData["Schedule"] as ScheduleModel;
    List<SelectListItem> listSchedule = ViewData["ListSchedule"] as List<SelectListItem>;
}
@using (Ajax.BeginForm("CloneScheduleDay", "Control", new AjaxOptions()
{
    HttpMethod = "post",
    OnBegin = "onBegin",
    OnSuccess = "onSuccessConvertText",
    OnFailure = "onFail"
}, new { id = "frmCreateOrEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog" style="width: 750px !important">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="ibox-title">
                <h5>Copy chương trình phát cho khung giờ @Schedule.ScheduleName @Schedule.ScheduleFullTime - @Schedule.OffFullTime ngày @Date.Value.ToString("dd/MM/yyyy")</h5>
                <div class="ibox-tools">
                    <a class="close-link" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            @if (exStartDate >= now)
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="">Khung giờ phát</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(x => x.CloneScheduleID, listSchedule, new { @class = "form-control chosen-select", style = "width: 100%" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="">Ngày<span class="text-danger"> *</span></label>
                                    <div class="col-sm-9">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" id="CloneDate" name="CloneDate" class="form-control" placeholder="Ngày" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-copy"></i> Copy</button>
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="ReloadPrograms(@Model.ScheduleID, '@Date')">Đóng</button>
                </div>
            }
        </div>
    </div>
    @Html.Hidden("Date", @Date)
    @Html.HiddenFor(a => a.ScheduleID)
    @Html.HiddenFor(a => a.ScheduleDayID)
}
<script type="text/javascript">
    $(document).ready(function () {
        $("select").chosen({ width: "100%" });
        $("#CloneDate").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayBtn: true,
            todayHighlight: true
        });
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
    });

    function onBegin() {
        if ($("#frmCreateOrEdit").valid()) {
            return true;
        } else {
            return false;
        }
    }

    function onSuccessConvertText(msg) {
        CommonJS.alert(msg);
        PrepareAddProgram(@Model.ScheduleDayID, '@Date');
        ReloadPrograms(@Model.ScheduleID, '@Date');
    }

    function onFail(xhr) {
        CommonJS.alert(xhr.responseText);
    }
</script>
