﻿
@{
    ViewBag.Title = "_ListExceptUnit";
    List<SelectListItem> Units = ViewData["ListUnit"] as List<SelectListItem>;
}
@Html.ListBox("ListExceptUnitID", Units, new { @class = "form -control chosen-select", style = "width: 100%" })

<script type="text/javascript">
    $(document).ready(function () {
        $("#ListExceptUnitID").chosen({ width: "100%", "placeholder_text_multiple": "Chọn danh sách đơn vị không phát" });
        $.validator.unobtrusive.parse("#frmCreateOrEdit");
        $('.clockpicker').clockpicker();
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });

    $('#ListExceptUnitID').on("change", function () {
        changeExpUnit();
    });
</script>