﻿@using eStream.Models
@using eStream.Common.CommonClass
@{
    var startDate = (DateTime)ViewData["StartDateOfWeek"];
    var endDate = startDate.AddDays(6);
    var exStartDate = (DateTime)ViewData["ExStartDate"];
    var ScheduleID = Model.First().ScheduleID;
    DateTime now = DateTime.Now;
}
@model List<ScheduleDayModel>
<div class="row">
    <div class="col-md-1">
        <button class="btn btn-default" onclick="GetPrograms(@ScheduleID, '@startDate' , -1)"><i class="fa fa-lg fa-angle-left"></i></button>
    </div>
    <div class="col-md-10 text-center">
        <h5>Tuần @GlobalCommon.GetWeekNumber(startDate) (@startDate.ToString("dd/MM/yyyy") - @endDate.ToString("dd/MM/yyyy"))</h5>
    </div>
    <div class="col-md-1">
        <button class="btn btn-default pull-right" onclick="GetPrograms(@ScheduleID, '@startDate' , 1)"><i class="fa fa-lg fa-angle-right"></i></button>
    </div>
</div>
<ul class="todo-list m-t">
    @foreach (var d in Model)
    {
        DateTime startExDate = startDate.AddDays(d.DayOfWeek - 1);
        string date = startExDate.ToString("dd/MM/yyyy");
        DateTime exDate = exStartDate.AddDays(d.DayOfWeek - 1);
        bool isNotApproved = d.ListProgram != null && d.ListProgram.Any() ? d.ListProgram.Any(x => x.Status.GetValueOrDefault() == 0) : true;
        bool hasFile = false;
        <li>
            @if (exDate.Date == now.Date)
            {
                <i class="fa fa-circle-o text-danger"></i>
            }
            else
            {
                <i class="fa fa-circle-o text-navy"></i>
            }
            <span>@GlobalCommon.GetNameOfDay(d.DayOfWeek)</span>
            <span>(@date)</span>
            @if (d.HasVilProgram)
            {
                <small class="label label-info">Thôn (@d.VilDuration)</small>
            }
            @if (d.HasComProgram)
            {
                <small class="label label-primary">Xã (@d.ComDuration)</small>
            }
            @if (d.HasDisProgram)
            {
                <small class="label label-success">Huyện (@d.DisDuration)</small>
            }
            @if (d.HasPrvProgram)
            {
                <small class="label label-warning">Tỉnh (@d.PrvDuration)</small>
            }
                <div class="btn-group pull-right" style="padding-bottom: 5px !important;">
                    @if (d.ListProgram.Any() || d.HasChannel)
                    {
                        if (exDate >= now)
                        {
                            if (d.ListProgram.Any())
                            {
                                int programID = d.ListProgram.First().ProgramID;
                                if (d.ListProgram.Any(x => x.Status == 0))
                                {
                                    <button class="btn btn-sm btn-default" onclick="OnlyApprovedSchedule(@d.ScheduleID, @programID)"><i class="fa fa-cloud-upload"></i></button>
                                }
                                <button class="btn btn-sm btn-danger" onclick="DeleteScheduleDay(@d.ScheduleID, '@startExDate', @programID)"><i class="fa fa-trash-o"></i></button>
                            }
                            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal" onclick="PrepareAddProgram(@d.ScheduleDayID, '@startExDate')"><i class="fa fa-file"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" onclick="PrepareViewProgram(@d.ScheduleDayID, '@startExDate')"><i class="fa fa-history"></i></button>
                        }
                    }
                    else if (exDate >= now)
                    {
                        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" onclick="PrepareAddProgram(@d.ScheduleDayID, '@startExDate')"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal" onclick="PrepareCopyProgram(@d.ScheduleDayID, '@startExDate')"><i class="fa fa-copy"></i></button>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" onclick="PrepareViewProgram(@d.ScheduleDayID, '@startExDate', 0)"><i class="fa fa-history"></i></button>
                    }
                </div>
        </li>
    }
</ul>
