﻿@using eStream.Models
@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@{
    /**/

    UserInfoBO user = SessionManager.GetUserInfoBO();
    List<ScheduleModel> ListSchedule = ViewData["ListSchedule"] as List<ScheduleModel>;
    List<ScheduleDayModel> ListProgramInSchedule = ViewData["ListProgramInSchedule"] as List<ScheduleDayModel>;
}

@if (ListSchedule == null || ListSchedule.Count <= 0)
{
    <div class="row">
        <div class="alert alert-warning">
            <a class="alert-link" href="#">Thông báo</a>: Chưa cấu hình khung thời gian.
        </div>
    </div>
}
else
{
    for (int i = 0; i < ListSchedule.Count; i = i + 2)
    {
        if (i + 1 < ListSchedule.Count)
        {
            ListSchedule[i].ListScheduleDay = ListProgramInSchedule.Where(a => a.ScheduleID == ListSchedule[i].ScheduleID).OrderBy(x => x.DayOfWeek).ToList();
            ListSchedule[i + 1].ListScheduleDay = ListProgramInSchedule.Where(a => a.ScheduleID == ListSchedule[i + 1].ScheduleID).OrderBy(x => x.DayOfWeek).ToList();
            <div class="row">
                <div class="col-md-6" id="Scheduledays-@ListSchedule[i].ScheduleID">
                    @Html.Partial("_Schedule", ListSchedule[i])
                </div>

                <div class="col-md-6" id="Scheduledays-@ListSchedule[i + 1].ScheduleID">
                    @Html.Partial("_Schedule", ListSchedule[i + 1])
                </div>
            </div>
        }
        else
        {
            ListSchedule[i].ListScheduleDay = ListProgramInSchedule.Where(a => a.ScheduleID == ListSchedule[i].ScheduleID).OrderBy(x => x.DayOfWeek).ToList();
            <div class="row">
                <div class="col-md-6" id="Scheduledays-@ListSchedule[i].ScheduleID">
                    @Html.Partial("_Schedule", ListSchedule[i])
                </div>
            </div>
        }
    }
}

<script type="text/javascript">
    function GetPrograms(ScheduleID, CurrentStartDate, isNext) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetScheduleDays", "Control")',
            data: {
                'ScheduleID': ScheduleID,
                'StartWeek': CurrentStartDate,
                'isNext': isNext
            },
            success: function (result) {
                $("#Scheduledays-" + ScheduleID).html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }
    function ReloadPrograms(ScheduleID, CurrentStartDate) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ReloadScheduleDays", "Control")',
            data: {
                'ScheduleID': ScheduleID,
                'StartWeek': CurrentStartDate
            },
            success: function (result) {
                $("#Scheduledays-" + ScheduleID).html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }
    function ReloadScheduleDaysByProgram(ScheduleID, ProgramID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ReloadScheduleDaysByProgram", "Control")',
            data: {
                'ProgramID': ProgramID
            },
            success: function (result) {
                $("#Scheduledays-" + ScheduleID).html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }
    function ApprovedSchedule(ScheduleID, ScheduleDayID, ProgramID, Date) {
        $('#divProgess').hide();
        $('#divProgessPublish').show();
        $("#btnConvertText").attr("disabled", true);
        var ChannelID = $("#myModal input[name='ChannelID']:checked").val();
        var IsLoop = $("#myModal #hidIsLoop").val();
        var LoopCount = $("#myModal #LoopCount").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("PublishSchedule", "Control")',
            data: { 'ScheduleDayID': ScheduleDayID, 'ChannelID': ChannelID, 'Date': Date, 'IsLoop': IsLoop, 'LoopCount': LoopCount },
            success: function (result) {
                CommonJS.alert(result);
                ReloadPrograms(ScheduleID, Date);
                $("#btnConvertText").removeAttr("disabled");
                $('#divProgessPublish').hide();
                $('#myModal').modal("toggle");
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }
    function OnlyApprovedSchedule(ScheduleID, ProgramID) {
        $('#divProgess').hide();
        $('#divProgessPublish').show();
        $("#btnConvertText").attr("disabled", true);
        $.ajax({
            type: "POST",
            url: '@Url.Action("OnlyPublishSchedule", "Control")',
            data: { 'ProgramID': ProgramID },
            success: function (result) {
                CommonJS.alert(result);
                $("#btnConvertText").removeAttr("disabled");
                ReloadScheduleDaysByProgram(ScheduleID, ProgramID);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }
    function DeleteScheduleDay(ScheduleID, CurrentStartDate, ProgramID) {
        if (confirm("Bạn có muốn xóa chương trình phát?")) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteScheduleDay", "Control")',
                data: { 'ProgramID': ProgramID },
                success: function (result) {
                    CommonJS.alert(result);
                    ReloadPrograms(ScheduleID, CurrentStartDate);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText, false);
                }
            });
        }
    }
    function DeleteProgram(ScheduleID, ScheduleDayID, CurrentStartDate, ProgramID) {
        if (confirm("Bạn có muốn xóa chương trình phát?")) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteProgram", "Control")',
                data: { 'ProgramID': ProgramID },
                success: function (result) {
                    CommonJS.alert(result);
                    PrepareAddProgram(ScheduleDayID, CurrentStartDate);
                    ReloadPrograms(ScheduleID, CurrentStartDate);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText, false);
                }
            });
        }
    }
    function DeleteChanel(ScheduleID, CurrentStartDate, ProgramChanelID) {
        if (confirm("Bạn có muốn xóa chương trình chuyển tiếp?")) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteChanel", "Control")',
                data: { 'ProgramChanelID': ProgramChanelID },
                success: function (result) {
                    CommonJS.alert(result);
                    PrepareAddProgram(ScheduleID, CurrentStartDate);
                    ReloadPrograms(ScheduleID, CurrentStartDate);
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText, false);
                }
            });
        }
    }
    function DeleteSchedule(ScheduleID) {
        if (confirm("Bạn có muốn xóa khung chương trình ?")) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteSchedule", "Control")',
                data: { 'ScheduleID': ScheduleID },
                success: function (result) {
                    CommonJS.alert(result);
                    searchSchedule();
                },
                error: function (xhr) {
                    CommonJS.alert(xhr.responseText, false);
                }
            });
        }
    }
    function PrepareConvertText(ScheduleDayID, Date) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareConvertText", "Control")',
            data: { 'ScheduleDayID': ScheduleDayID, 'Date': Date },
            success: function (result) {
                $("#myModal").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }
    function PrepareAddProgram(ScheduleDayID, Date) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PrepareAddOrEditProgram", "Control")',
            data: { 'ScheduleDayID': ScheduleDayID, 'Date': Date },
            success: function (result) {
                $("#myModal").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }
    function PrepareCopyProgram(ScheduleDayID, Date) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("OpenCloneScheduleDay", "Control")',
            data: { 'ScheduleDayID': ScheduleDayID, 'Date': Date },
            success: function (result) {
                $("#myModal").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }
    function PrepareViewProgram(ScheduleDayID, Date) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewProgramChanels", "Control")',
            data: {'ScheduleDayID': ScheduleDayID, 'Date': Date},
            success: function (result) {
                $("#myModal").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }

    function move(ProgramID, Step, ScheduleDayID, Date) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Move", "Control")',
            data: { 'ProgramID': ProgramID, 'Step': Step },
            success: function (result) {
                CommonJS.alert(result);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetPrograms", "Control")',
                    data: { 'ScheduleDayID': ScheduleDayID, 'Date' : Date },
                    success: function (result) {
                        $("#ListPrograms").html(result);
                    },
                    error: function (xhr) {
                        CommonJS.alert(xhr.responseText);
                    }
                });
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText, false);
            }
        });
    }
</script>