﻿@using eStream.Models
@{
    List<ProgramChanelModel> ListProgramChanels = ViewData["ListProgramChanels"] as List<ProgramChanelModel>;
    DateTime exStartDate = (DateTime)ViewData["ExStartDate"];
    DateTime now = DateTime.Now;
}
<ul class="list-group clear-list m-t">
    @foreach (var objChanel in ListProgramChanels)
    {
        <li class="list-group-item">
            <i class="fa fa-microphone"></i>  @objChanel.ChanelName
            @if (exStartDate >= now)
            {
                <span class="pull-right">
                    <button class="btn btn-xs btn-danger" onclick="DeleteChanel(@objChanel.ScheduleID, '@objChanel.ExcuteDate', @objChanel.ProgramChanelID)"><i class="fa fa-trash-o"></i></button>
                </span>
            }
        </li>
    }
</ul>

