﻿@using eStream.Models
@{
    List<ScheduleProgramModel> ListSchedulePrograms = ViewData["ListSchedulePrograms"] as List<ScheduleProgramModel>;
    DateTime exStartDate = (DateTime)ViewData["ExStartDate"];
    DateTime now = DateTime.Now;
    var len = ListSchedulePrograms.Count;
    var idx = 1;
}
<table class="table table-hover">
    <tbody>
        @foreach (var objProgram in ListSchedulePrograms)
        {
            <tr>
                <td style="width:60%">
                    <i class="fa fa-microphone"></i>  <a href="@Url.Action("Download", "Control", new {ProgramID = objProgram.ProgramID })">@objProgram.Title</a>
                </td>
                <td>
                    @objProgram.UserName
                </td>
                <td>
                    @string.Format("{0:dd/MM/yyyy HH:mm:ss}", objProgram.CreatedDate)
                </td>

                @if (exStartDate >= now && objProgram.Status.GetValueOrDefault() == 0)
                {
                    <td>
                        <span class="pull-right">
                            @if (idx > 1)
                            {
                                <button class="btn btn-xs btn-primary" title="Chuyển lên" onclick="move(@objProgram.ProgramID, 1, @objProgram.ScheduleDayID, '@objProgram.ExcuteDate')"><i class="fa fa-angle-double-up"></i></button>
                            }
                            @if (idx < len)
                            {
                                <button class="btn btn-xs btn-primary" title="Chuyển xuống" onclick="move(@objProgram.ProgramID, -1, @objProgram.ScheduleDayID, '@objProgram.ExcuteDate')"><i class="fa fa-angle-double-down"></i></button>
                            }
                            <button class="btn btn-xs btn-danger" onclick="DeleteProgram(@objProgram.ScheduleID, @objProgram.ScheduleDayID, '@objProgram.ExcuteDate', @objProgram.ProgramID)"><i class="fa fa-trash-o"></i></button>
                        </span>
                    </td>
                    idx++;
                }
            </tr>
        }
    </tbody>
</table>
