﻿@using eStream.Models
@model CloneScheduleDayModel
@{
    string link = ViewData["Link"] as string;
}
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="ibox-title">
            <h5>Nghe trực tiếp</h5>
            <div class="ibox-tools">
                <a class="close-link" data-dismiss="modal" onclick="stopAudio()">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-md-12">
                        <audio id="schedulePlay" controls></audio>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="stopAudio()">Đóng</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        playAudio();
    });

    var hls = null;
    function playAudio() {
        var audio = document.getElementById("schedulePlay");
        if (Hls.isSupported()) {
            hls = new Hls();
            hls.loadSource("@link");
            hls.attachMedia(audio);
            hls.on(Hls.Events.MANIFEST_PARSED, function () {
                audio.play();
            });
        }
        else if (audio.canPlayType("application/vnd.apple.mpegurl")) {
            audio.src = "@link";
            audio.addEventListener("loadedmetadata", function () {
                audio.play();
            });
        }
    }

    function stopAudio() {
        var audio = document.getElementById("schedulePlay");
        audio.pause();
        audio.currentTime = 0;
        audio.src = "";
        if (hls != null) {
            hls.stopLoad();
        }
    }
</script>
