﻿@using eStream.Models
@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@{
    UserInfoBO user = SessionManager.GetUserInfoBO();
    var startDate = (DateTime?)ViewData["StartDateOfWeek"];
    List<ScheduleDayModel> ListScheduleDay = ViewData["ListScheduleDay"] as List<ScheduleDayModel>;
    if(ListScheduleDay == null)
    {
        ListScheduleDay = Model.ListScheduleDay;
    }
    TimeSpan TimeExecute = new TimeSpan(Model.ScheduleHour.GetValueOrDefault(), Model.ScheduleMinus.GetValueOrDefault(), 0);
    DateTime exStartDate = startDate.Value.Date.StartOfWeek(DayOfWeek.Monday);
    exStartDate = exStartDate + TimeExecute;
    ViewData["ExStartDate"] = exStartDate;
}
@model ScheduleModel
<div class="ibox">
    <div class="ibox-title no-borders" style="text-transform: uppercase;">
        <h5>@Model.ScheduleName @Model.ScheduleFullTime - @Model.OffFullTime</h5>
        @if (Model.IsHidden)
        {
            <small class="label label-danger">Khung phát ẩn</small>
        }
        @if ((user.UnitLevel <= GlobalConstant.UNIT_TYPE_DISTRICT && user.IsAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE)
            || user.IsSupperAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE)
        {
            <div class="ibox-tools">
                <div class="btn-group">
                    <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#myModal" onclick="PrepareAdd(@Model.ScheduleID)"><i class="fa fa-wrench"></i></button>
                    <button class="btn btn-xs btn-danger" onclick="DeleteSchedule(@Model.ScheduleID)"><i class="fa fa-trash-o"></i></button>
                </div>
            </div>
        }
    </div>
    <div class="ibox-content">
        <div id="Scheduledays-@Model.ScheduleID">
            @Html.Partial("_ListScheduleDays", ListScheduleDay)
        </div>
    </div>
</div>