﻿@using eStream.Models
@model ScheduleDayModel
@{
    DateTime? Date = ViewData["Date"] as DateTime?;
    bool IsLoop = (ViewData["IsLoop"] as bool?).GetValueOrDefault();
    int? LoopCount = ViewData["LoopCount"] as int?;
    List<ScheduleProgramModel> ListSchedulePrograms = ViewData["ListSchedulePrograms"] as List<ScheduleProgramModel>;
    List<ProgramChanelModel> ListProgramChanels = ViewData["ListProgramChanels"] as List<ProgramChanelModel>;
}
<div class="modal-dialog" style="width: 750px !important">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="ibox-title">
            <h5>Danh sách phát ngày @Date.Value.ToString("dd/MM/yyyy")</h5>
            <div class="ibox-tools">
                <a class="close-link" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <label>Chương trình phát:</label>
                </div>
                <div class="col-md-12">
                    <table class="table table-hover">
                        <tbody>
                            @foreach (var objProgram in ListSchedulePrograms)
                            {
                                <tr>
                                    <td style="width:60%">
                                        <i class="fa fa-microphone"></i>  <a href="@Url.Action("Download", "Control", new {ProgramID = objProgram.ProgramID })">@objProgram.FileName</a>
                                    </td>
                                    <td>
                                        @objProgram.UserName
                                    </td>
                                    <td>
                                        @string.Format("{0:dd/MM/yyyy HH:mm:ss}", objProgram.CreatedDate)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">

                    @if (IsLoop)
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="state icheckbox_square-green checked"></div> Phát lặp
                            </div>
                            <div class="col-md-2"><label>Số lần lặp:</label></div>
                            <div class="col-md-4">
                                @LoopCount lần
                            </div>
                        </div>
                        <br />
                    }
                    else
                    {
                        <div class="form-group">
                            <div class="state icheckbox_square-green"></div> Phát lặp
                        </div>
                    }
                </div>
                <div class="col-md-12">
                    <label>Kênh chuyển tiếp:</label>
                </div>
                <div class="col-md-12 m-b-sm m-t-sm">
                    <ul class="list-group clear-list m-t">
                        @foreach (var objChanel in ListProgramChanels)
                        {
                            <li class="list-group-item">
                                <i class="fa fa-microphone"></i> @objChanel.ChanelName <label class="label label-success">@objChanel.UnitName</label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>
