﻿@using eStream.Common.CommonClass
@using eStream.Common.CommonObject
@using eStream.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserInfoBO user = SessionManager.GetUserInfoBO();
}
<style>
    .select2-container {
        z-index: 10000 !important;
    }

	.select2-container .select2-selection--single {
		height: 31px !important;
		line-height: 31px !important;
	}
</style>
@if (user.UnitLevel == GlobalConstant.UNIT_TYPE_PROVINCE && user.IsAdmin.GetValueOrDefault() == GlobalConstant.IS_ACTIVE)
{
    <div class="row m-b-sm m-t-sm">
        <div class="col-md-12">
            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal" onclick="PrepareAdd(0)"><i class="fa fa-gears"></i> Khung thời gian</button>
        </div>
    </div>
}
<div id="ScheduleList">

</div>
<div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">

</div>
<script type="text/javascript">
    $(document).ready(function () {
        searchSchedule();
    });
    function searchSchedule() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetSchedule", "Control")',
            success: function (result) {
                $("#ScheduleList").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
    function PrepareAdd(id) {
        $.ajax({
            type: "POST",
            data: { 'id': id },
            url: '@Url.Action("PrepareAdd", "Control")',
            success: function (result) {
                $("#myModal").html(result);
            },
            error: function (xhr) {
                CommonJS.alert(xhr.responseText);
            }
        });
    }
</script>