﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .select2-container {
        z-index: 10000 !important;
    }

        .select2-container .select2-selection--single {
            height: 31px !important;
            line-height: 31px !important;
        }
</style>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-gears"></i> Khung thời gian</button>
        <br />
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="widget-text-box">
            <h3 class="font-bold no-margins">Lịch phát tỉnh Khung : 9:15 Sáng</h3>
            <br />
            <br />
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            Thứ 2: Chương trình ngày 01/02/2018
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-success"><i class="fa fa-file"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 3: Chưa thiết lập
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 4: Chưa thiết lập
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 5: Chương trình ngày 02/02/2018
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-success"><i class="fa fa-file"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 6: Chương trình ngày 02/02/2018
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-success"><i class="fa fa-file"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 7: Chương trình ngày 02/02/2018
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-success"><i class="fa fa-file"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Chủ nhật: Chương trình ngày 02/02/2018
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-success"><i class="fa fa-file"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <div class="btn-group">
                    <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit"></i> Sửa </a>
                    <a class="btn btn-sm btn-default"><i class="fa fa-history"></i> Lịch sử</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="widget-text-box">
            <h3 class="font-bold no-margins">Lịch phát tỉnh Khung : 9:15 Sáng</h3>
            <br />
            <br />
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            Thứ 2: Chưa thiết lập
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 3: Chưa thiết lập
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 4: Chưa thiết lập
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 5: Chương trình ngày 02/02/2018
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-success"><i class="fa fa-file"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 6: Chương trình ngày 02/02/2018
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-success"><i class="fa fa-file"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 7: Chưa thiết lập
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Chủ nhật: Chương trình ngày 02/02/2018
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-success"><i class="fa fa-file"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <div class="btn-group">
                    <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit"></i> Sửa </a>
                    <a class="btn btn-sm btn-default"><i class="fa fa-history"></i> Lịch sử</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-6">
        <div class="widget-text-box">
            <h3 class="font-bold no-margins text-warning">Lịch phát tỉnh Khung : 13:15 Chiều</h3>
            <br />
            <br />
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            Thứ 2: Chưa thiết lập
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 3: Chưa thiết lập
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 4: Chưa thiết lập
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 5: Chương trình ngày 02/02/2018
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-success"><i class="fa fa-file"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 6: Chương trình ngày 02/02/2018
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-success"><i class="fa fa-file"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 7: Chưa thiết lập
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Chủ nhật: Chương trình ngày 02/02/2018
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-success"><i class="fa fa-file"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <div class="btn-group">
                    <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit"></i> Sửa </a>
                    <a class="btn btn-sm btn-default"><i class="fa fa-history"></i> Lịch sử</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="widget-text-box">
            <h3 class="font-bold no-margins text-warning">Lịch phát tỉnh Khung : 13:15 Chiều</h3>
            <br />
            <br />
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            Thứ 2: Chương trình ngày 01/02/2018
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-success"><i class="fa fa-file"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 3: Chưa thiết lập
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 4: Chưa thiết lập
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 5: Chương trình ngày 02/02/2018
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-success"><i class="fa fa-file"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 6: Chương trình ngày 02/02/2018
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-success"><i class="fa fa-file"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thứ 7: Chương trình ngày 02/02/2018
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-xs btn-success"><i class="fa fa-file"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Chủ nhật: Chưa thiết lập
                            <div class="btn-group pull-right">
                                <button class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <div class="btn-group">
                    <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit"></i> Sửa </a>
                    <a class="btn btn-sm btn-default"><i class="fa fa-history"></i> Lịch sử</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cấu hình khung thời gian</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-5" for="exampleInputName2">Thời gian</label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <input type="email" class="form-control" id="txttimefrom" placeholder="Thời gian" value="12:00">
                                        <div class="input-group-addon"><i class="fa fa-clock-o"></i> 24h</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-5" for="exampleInputName2">Tần xuất</label>
                                <div class="col-sm-7">
                                    <select style="width: 100%">
                                        <option value="volvo">Hàng ngày</option>
                                        <option value="saab">Hàng tuần</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-5" for="exampleInputName2">Thứ</label>
                                <div class="col-sm-7">
                                    <select style="width: 100%">
                                        <option value="2">Thứ hai</option>
                                        <option value="3">Thứ ba</option>
                                        <option value="4">Thứ tư</option>
                                        <option value="5">Thứ năm</option>
                                        <option value="6">Thứ sáu</option>
                                        <option value="7">Thứ bảy</option>
                                        <option value="8">Chủ nhật</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-5" for="exampleInputName2">Quận huyện</label>
                                <div class="col-sm-7">
                                    <select style="width: 100%">
                                        <option value="2">[Toàn tỉnh]</option>
                                        <option value="3">Huyện Yên sơn</option>
                                        <option value="4">Huyện Sơn Dương</option>
                                        <option value="5">Huyện Hàm Yên</option>
                                        <option value="6">Huyện Chiêm hóa</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-5" for="exampleInputName2">Xã phường</label>
                                <div class="col-sm-7">
                                    <select style="width: 100%">
                                        <option value="2">[Lựa chọn]</option>
                                        <option value="3">P.Minh Xuân</option>
                                        <option value="4">P Tân Quang</option>
                                        <option value="5">P.Phan Thiết</option>
                                        <option value="6">P.Tân Hà</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save"></i> Áp dụng</button>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div id="volumeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chương trình</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('select').select2({
            width: 'resolve' // need to override the changed default
        });
    });
</script>